chardet
cloudpickle
docker
docutils
Werkzeug == 2.2.2
Flask == 2.2.3
Flask-Login
Flask-SocketIO
Flask-SSLify
Flask-WTF
kombu
gevent
gevent-websocket
gunicorn
markdown
nose
openpyxl
pika
redis
requests
rabbitmq-admin
WTForms
xmltodict
ssh-pymongo