git+https://github.com/jacksonllee/pylangacq.git
beautifulsoup4==4.5.1
bokeh
eli5
fuzzywuzzy
Flask==1.0.2
gensim
gunicorn==18.0
markdown
matplotlib==3.0.3
networkx
nltk==3.4.5
numpy
pandas
regex
scipy
scikit-learn
tweepy
wordcloud
yellowbrick