git+https://github.com/jacksonllee/pylangacq.git
beautifulsoup4
bokeh
eli5
fuzzywuzzy
Flask
gensim
markdown
matplotlib
networkx
nltk
numpy
pandas
pika
redis
regex
scipy
scikit-learn
torch
torchtext
tweepy
wordcloud
yellowbrick
Flask-SocketIO
kombu