chardet==3.0.4
cloudpickle
docker
docker-compose
Flask
Flask-Login
Flask-SocketIO
Flask-SSLify
Flask-WTF
gevent
python-socketio
gevent-websocket
greenlet
gunicorn
markdown
nose
openpyxl
pika
pymongo
requests
rabbitmq-admin
WTForms
xmltodict
