chardet==3.0.4
cloudpickle
docker
docker-compose
Flask
Flask-Login
Flask-SocketIO
Flask-SSLify
Flask-WTF
gevent
python-socketio
gevent-websocket
greenlet
markdown
nose
pika
pymongo
requests
redis
rabbitmq-admin
WTForms
xmltodict
