Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
appnope==0.1.0
backports.ssl-match-hostname==3.4.0.2
certifi==2015.9.6.2
decorator==4.0.2
functools32==3.2.3-2
gnureadline==6.3.3
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.0.2
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.0.0
jupyter-console==4.0.2
jupyter-core==4.0.5
mistune==0.7.1
nbconvert==4.0.0
nbformat==4.0.0
notebook==4.0.4
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
ptyprocess==0.5
pyzmq==14.7.0
qtconsole==4.0.1
simplegeneric==0.8.1
terminado==0.5
tornado==4.2.1
traitlets==4.0.0
virtualenv==13.1.0
wsgiref==0.1.2
xmltodict==0.9.2
