<div class="modal fade" id="name-collection-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Collection</h4>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Name for this collection</label>
                <input type="text" class="form-control" id="new-collection-name-modal-field">
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="create-button" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>