{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Tactic - Register{% endblock %}

{% block styles %}

    <style>

    html, body {
        padding-bottom: 40px;
    }

.body-outer {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      background-color: #f5f5f5;
    height: 100%
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

{% endblock %}

{% block page_content %}

<div class="body-outer" style="text-align:center">
    <div id="status-area"></div>
    <div class="form-signin">
    <form action="" id="login-form" method="post" class="" role="form">
        <img class="mb-4" src="{{url_for('static', filename='tactic_css/icons/favicon-256.png', v=version_string)}}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label class="sr-only" for="username">Username</label>
        <input class="form-control" id="username" name="username" placeholder="Username" required type="text" autocorrect="off" autocapitalize="none" value="" autofocus>
        <label class="sr-only" for="password">Password</label>
        <input class="form-control submitter-field" id="password" placeholder="Password" name="password" required type="password" value="">
        <div class="checkbox mb-3">
          <label>
            <input id="remember_me" name="remember_me" type="checkbox" value="y"> Keep me logged in
          </label>
        </div>

    </form>

        <button class="btn btn-lg btn-primary" id="submit" name="submit">Sign In</button>
        <button class="btn btn-lg btn-outline-secondary" onclick="attempt_open_register()">Register</button>
</div>

</div>

{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='tactic_js/auth.js', v=version_string)}}"></script>

    <script>
        current_user = "{{current_user.username}}"
        var _show_message = "{{show_message}}";
        var page_id = guid();
        window.onload = function() {
                if (_show_message == "yes") {
                    doFlash({"message": "{{message}}" })
                }
        };
        $(document).ready(function () {
            $("#submit").click(submit_login_info)
        });

    </script>
{% endblock %}