{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Tactic - Register{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/alertify_css/alertify.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/tactic_alertify_theme.css')}}" />
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
<div class="page-header">
    <h1>Login</h1>
</div>

<div class="col-md-4">
<div id="status-area"></div>
<form action="" id="login-form" method="post" class="form" role="form">
    <div class="form-group  required"><label class="control-label" for="username">Username</label>
        <input class="form-control" id="username" name="username" required type="text" autocorrect="off" autocapitalize="none" value="" autofocus>
    </div>
<div class="form-group  required"><label class="control-label" for="password">Password</label>
    <input class="form-control submitter-field" id="password" name="password" required type="password" value="">
  </div>
    <div class="checkbox">
      <label>
        <input id="remember_me" name="remember_me" type="checkbox" value="y"> Keep me logged in
      </label>
    </div>
    <input class="btn btn-default" id="submit" name="submit" onclick="submit_login_info()" value="Log In">
</form>
</div>
<p>
    New user?
    <button class="btn btn-default" onclick="attempt_open_register()">Register</button>
</p>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/alertify.js')}}"></script>
    <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/utilities.js')}}"></script>

    <script>
        current_user = "{{current_user.username}}"
        var _show_message = "{{show_message}}";
        window.onload = function() {
                if (_show_message == "yes") {
                    doFlash({"message": "{{message}}" })
                }
        }
    </script>
{% endblock %}