{% extends "base_reactns.html" %}

{% block title %}Account Info{% endblock %}

{% block styles %}
    <style>
    html, body, .body-outer, #root {
        height: 100%
    }
    </style>

{% endblock %}

{% block page_content %}

<div id="modal-area">
    </div>
<div class="container-fluid" id="root">
    </div>


{% endblock %}
{% block scripts %}
{#    <script src="{{url_for('static', filename='js/react_tools.js')}}"></script>#}
    <script type="module" src="{{url_for('static', filename=module_source, v=version_string)}}"></script>

    <script>
        window.user_id = "{{current_user.get_id()}}";
        window.current_user = "{{current_user.username}}";
        window._show_message = "{{show_message}}";
        window._message = "{{message}}";
        window._next_view = "{{next_view}}";
    </script>
{% endblock %}