<div class='panel panel-info tile-panel' id='{{tile_id}}' style="width: {{whole_width}}px; height: {{whole_height}}px">
    <div class='panel-heading tile-panel-heading'>
        <button type='button' class='close' onclick=tile_dict['{{tile_id}}'].closeMe()><span class="glyphicon glyphicon-trash"></span></button>
        <button type='button' class='notclose' style='float:right' onclick=tile_dict['{{tile_id}}'].reloadMe()><span style="padding-right: 7px" class="glyphicon glyphicon-repeat"></span></button>
        <button type='button' class='notclose' style='float:right' onclick=tile_dict['{{tile_id}}'].logParams()><span style="padding-right: 7px" class="glyphicon glyphicon-list"></span></button>
        <button type='button' class='notclose' style='float:right' onclick=tile_dict['{{tile_id}}'].logMe()><span style="padding-right: 7px" class="glyphicon glyphicon-download-alt"></span></button>
        <button type='button' class='notclose triangle-right' style='{{triangle_right_display_string | safe}}'  onclick=tile_dict['{{tile_id}}'].expandMe()><span class="glyphicon glyphicon-triangle-right"></span></button>
        <button type='button' class='notclose triangle-bottom' style='{{triangle_bottom_display_string | safe}}' onclick=tile_dict['{{tile_id}}'].shrinkMe()><span class="glyphicon glyphicon-triangle-bottom"></span></button>
        <button type='button' class='notclose' onclick=tile_dict['{{tile_id}}'].toggleOptions()><span class="glyphicon glyphicon-cog"></span></button>
        {{tile_name}}
        <span id="spin-place" style="margin:7px"></span>
    </div>
     <div class='panel-body tile-body' id='tile_body_{{tile_id}}' style="height: {{front_height}}px; overflow: hidden; {{front_back_display_string | safe}}">
         <div class="back" style="width: {{back_width}}px; height: {{back_height}}px">
             <form id="form-display-area">
                {{form_text | safe}}
             </form>
             <button class='btn btn-primary' onclick=tile_dict['{{tile_id}}'].submitOptions()>Submit</button>
         </div>
         <div class="front" style="width: {{front_width}}px; height: {{front_height}}px">
             <div class="tile-display-area" style="width: {{tda_width}}px; height: {{tda_height}}px">{{ current_html | safe}}</div>
         </div>

     </div>
 </div>
