<script id="admin-resource-module-template" type="text/html">
    <div class="col-xs-12 resource-outer" style="height: 100%; overflow: hidden">
        <div class="row indent-row" style="margin-top: 5px">
            <div class="col-xs-12">
                <div class="btn-group" style= "margin-top: 5px; margin-bottom: 5px" role="group">
                    {{#popup_buttons}}
                    <div class="btn-group">
                        <button type="button" id="{{name}}-{{res_type}}-button" class="btn {{button_class}} dropdown-toggle" data-toggle="dropdown">{{name}}<span class="caret"></span></button>
                          <ul class="dropdown-menu">
                              {{#option_list}}
                                <li><a id="{{opt_name}}-{{res_type}}-button" class="popup_item" href="#">{{opt_name}}</a></li>
                              {{/option_list}}
                          </ul>
                    </div>
                    {{/popup_buttons}}
                    {{#buttons}}
                    <button type="button" id="{{name}}-{{res_type}}-button" class="btn {{button_class}} action-button">{{name}}</button>
                    {{/buttons}}
                </div>
            </div>
        </div>
        <div class="row indent-row" id="{{res_type}}-selector-row" style="margin-top: 7px; height: 100%; overflow: hidden">
            <div class="col-xs-12" style="height: 100%; overflow: hidden">
                <div style="display: inline-block; vertical-align: top; max-height: 100%; overflow-y: scroll; line-height: 1" class="list-group resource-selector" id="{{res_type}}-selector" data-toggle="buttons">
                </div>
            </div>
        </div>
    </div>

</script>
