<!DOCTYPE html>
<html lang="en">
  <head>
      <base href="/" target="_blank">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/tactic.css')}}">
      {% block head %}{% endblock %}
      {% block styles %}{% endblock %}
      <title>{% block title %}Tactic{% endblock %}</title>
  </head>
  <body>
  {% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Tactic</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('user_manage') }}">Manage User</a><</li>
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
  {% endblock %}
  {% block page_content %}{% endblock %}
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/mustache.js"></script>
  {% block scripts %}
  {% endblock %}
  </body>
</html>