<!DOCTYPE html>
<html lang="en">
  <head>
      <base href="/" target="_blank">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/tactic.css')}}">
      {% block head %}{% endblock %}
      {% block styles %}{% endblock %}
      <title>{% block title %}Tactic{% endblock %}</title>
  </head>
  <body>
    <div class="navbar navbar-default" style="margin-bottom: 1px" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header" >
                <a id="mybrand" class="navbar-brand" href="/">Tactic</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menu-area">
                    {% block navbar %}
                    {% endblock %}
                </ul>
                <ul id="my-navbar-right" class="nav navbar-nav navbar-right">
                    {% block morenavbar %}
                    {% endblock %}
                    <li><a href="" onclick="return toggleTooltips();">?</a></li>
                    <li><a href="https://github.com/bsherin/tactic/wiki">Docs</a></li>
                    {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('user_manage') }}">Resources</a></li>
                        <li><a href="{{ url_for('account_info') }}">{{current_user.username}}</a></li>
                        <li><a href="" onclick="return doSignOut();">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

  {% block page_content %}{% endblock %}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
{#    <script src="static/js/jquery.ui.touch-punch.js"></script>#}
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/mustache.js"></script>
    <script src="{{url_for('static', filename='tactic_js/auth.js')}}"></script>
    <script type="text/javascript">
        var csrftoken = "{{ csrf_token() }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    </script>
  {% block scripts %}
  {% endblock %}
  </body>
</html>