<!DOCTYPE html>
<html lang="en">
  <head>
      <base href="/" target="_blank">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/blueprint.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/table.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/blueprint-select.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/blueprint-icons.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/tactic.css', v=version_string)}}">
     <link rel="shortcut icon" href="{{url_for('static', filename='tactic_css/favicon.ico', v=version_string)}}" />
    <link rel="apple-touch-icon" href="{{url_for('static', filename='tactic_css/icons/favicon-256.png', v=version_string)}}" />
      {% if uses_codemirror == "True" %}
          <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/codemirror.css')}}">
          <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/pastel-on-dark.css')}}">
          <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/dialog.css')}}">
          <link rel="stylesheet" href="{{url_for('static', filename='css/show-hint.css')}}">
          <link rel="stylesheet" href="{{url_for('static', filename='css/merge.css')}}">
      {%  endif %}
      {% block head %}{% endblock %}
      {% block styles %}{% endblock %}
      <title>{% block title %}Tactic{% endblock %}</title>
  </head>
  <body>
    <div id="navbar-root">

    </div>

  {% block page_content %}{% endblock %}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.ui.position.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.ui.touch-punch.min.js')}}"></script>
    {% if develop == "True" %}
        <script src="{{url_for('static', filename='js/react.development.js')}}"></script>
        <script src="{{url_for('static', filename='js/react-dom.development.js')}}"></script>
        <script src="{{url_for('static', filename='js/react-transition-group.js')}}"></script>
        <script src="{{url_for('static', filename='js/prop-types.js')}}"></script>
    {% else %}
        <script src="{{url_for('static', filename='js/react.production.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/react-dom.production.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/react-transition-group.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/prop-types.min.js')}}"></script>
    {% endif %}

    <script src="{{url_for('static', filename='tactic_js/utilities_react.js', v=version_string)}}"></script>
    {% if uses_codemirror == "True" %}
        <script src="{{url_for('static', filename='js/codemirror.js')}}"></script>
        <script src="{{url_for('static', filename='js/codemirror/search.js')}}"></script>
        <script src="{{url_for('static', filename='js/codemirror/searchcursor.js')}}"></script>
        <script src="{{url_for('static', filename='js/diff_match_patch.js')}}"></script>
        <script src="{{url_for('static', filename='js/codemirror/merge.js')}}"></script>
        <script src="{{url_for('static', filename='js/codemirror/jump-to-line.js')}}"></script>
        <script src="{{url_for('static', filename='js/codemirror/dialog.js')}}"></script>
        <script src="{{url_for('static', filename='js/python.js')}}"></script>
        <script src="{{url_for('static', filename='js/matchbrackets.js')}}"></script>
        <script src="{{url_for('static', filename='js/show-hint.js')}}"></script>
        <script src="{{url_for('static', filename='js/match-highlighter.js')}}"></script>
        <script src="{{url_for('static', filename='tactic_js/tactic-anyword-hint.js', v=version_string)}}"></script>
        <script src="{{url_for('static', filename='js/closebrackets.js')}}"></script>
    {% endif %}
    <script type="text/javascript">
    //override defaults
    </script>
    <script type="text/javascript">
        var csrftoken = "{{ csrf_token() }}";
        window.tactic_img_url = "{{url_for('static', filename='tactic_css/icons/favicon-256.png', v=version_string)}}";
        window.is_authenticated = "{{current_user.is_authenticated}}";
        window.username = "{{current_user.username}}";
        {% if current_user.is_authenticated %}
        window.is_authenticated = true;
        {% else %}
        window.is_authenticated = false;
        {% endif %}
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    </script>
  {% block scripts %}
  {% endblock %}
  </body>
</html>