{% extends "base.html" %}

{% block title %}Doc viewer{% endblock %}

{% block styles %}
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1>Documentation Editor</h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="status-area"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" style="margin: 0px; padding: 0px">
                <div class="resource-module" id="doc-module"></div>
            </div>
            <div class="col-xs-8" >
                <h2 id="current-doc-name"></h2>
                <div id="epiceditor"></div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/epiceditor.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/resource_manager.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/doc_manager.js')}}"></script>
    <script>
    var use_ssl = "{{use_ssl}}"=="True";
    var user_id = "{{current_user.get_id()}}";
    var opts = {
        basePath: "static",
        theme: {
            base: "/css/epicthemes/base/epiceditor.css",
            preview: '/css/epicthemes/preview/github.css',
            editor: '/css/epicthemes/editor/epic-light.css'
          },
        container: "epiceditor",
        clientSideStorage: false,
        useNativeFullscreen: false
    };
    window.onload = start_post_load;
    window.onresize = function () {
        resize_to_fit()
    }
    </script>
{% endblock %}