<div class='card log-panel error-log-panel log-panel-visible' id='{{tile_id}}'>
    <div class="card-header bg-warning error-panel-heading">
        <div class="button-div shrink-expand-div">
            <button type="button" class="notclose shrink-log-button">
                <span class="fas fa-chevron-circle-down"> </span>
            </button>
            <button type="button" class="notclose expand-log-button">
                <span class="fas fa-chevron-circle-right"></span>
            </button>
        </div>
        <div class="button-div">
            <button type="button" class="notclose close-log-button">
                <span class="fas fa-trash-alt"></span>
            </button>
        </div>
    </div>
     <div class='log-panel-summary' contenteditable="true">
         {{summary_text | safe}}
     </div>
     <div class='log-panel-body error-log-panel'>
        {{log_item | safe}}
     </div>
 </div>
