<div class='panel panel-default log-panel log-panel-visible' id='{{tile_id}}'>
    <div class="panel-heading">
        <div class="button-div">
            <button type="button" class="notclose shrink-log-button"><span style="font-size:13px" class="glyphicon glyphicon-triangle-bottom"></span></button>
            <button type="button" class="notclose expand-log-button"><span style="font-size:13px" class="glyphicon glyphicon-triangle-right"></span></button>
        </div>
        <div class="button-div">
            <button type="button" class="notclose close-log-button"><span style="font-size:13px" class="glyphicon glyphicon-trash"></span></button>
        </div>

    </div>
     <div class='log-panel-body'>
        {{log_item | safe}}
     </div>
 </div>
