{% extends "base.html" %}

{% block title %}Tactic - Main{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
    <style>
{#        #table-panel {overflow-y:scroll}#}
    </style>
{% endblock %}

{% block navbar %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" id="command-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Column<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="command-menu">
            <li class="disabled"><a class="column-menu-item require-column-select" id="menu-shift-left" href="#">Shift Left</a></li>
            <li class="disabled"><a class="column-menu-item require-column-select" id="menu-shift-right" href="#">Shift Right</a></li>
            <li class="disabled"><a class="column-menu-item require-column-select" id="menu-hide" href="#">Hide Column</a></li>
            <li><a class="column-menu-item" id="menu-unhide" href="#">Unhide All</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" id="project-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Project<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="project-menu">
        <li><a class="project-menu-item" id="menu-save-as" href="#">Save As...</a></li>
        <li><a class="project-menu-item" id="menu-save" href="#">Save</a></li>
    </ul>
</li>
{% endblock %}
{% block page_content %}
    <!-- Button trigger modal -->

<!-- Modal  to save the project-->
    <div id="modal-area"></div>

    <div class="container-fluid">
    <div id="flashzone"></div>
    <div class="row">
        <div class="col-xs-10">
            <div id="main-panel" draggable="true" class="panel panel-default">
                <div class="panel-heading">
                    <h4 id="data-title"></h4>
                </div>
                <div id="table-wrapper" class="panel-body">
                    <table id="table-area">
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div id="tile-div" draggable="true" ondragstart="drag(event)">bitty text</div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/store.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/utilities.js')}}"></script>
    <script src="{{url_for('static', filename='js/main_aux.js')}}"></script>
    <script src="{{url_for('static', filename='js/table.js')}}"></script>
    <script>
        var _collection_name = "{{collection_name}}";
        var _project_name = "{{project_name}}";
    </script>
    <script>
        window.onload = start_post_load;
        window.onresize = resize_stub
    </script>
{% endblock %}
