<script id="resource-module-template" type="text/html">
    <div class="{{class_string}} flex-column align-items-start" id="{{module_id}}" style="height: 100%; overflow: hidden; {{#start_hidden}}display:none{{/start_hidden}}">


    <div class="indent-row main-content-row" style="margin-top: 7px; height: 100%">
        <div class="" style="height: 100%; overflow: hidden; display:flex">
            <div class="left-div res-viewer-resizer d-flex" style="vertical-align:top; white-space:nowrap; overflow:hidden">
                {{#aux_left}}
                <div class="aux-left d-flex" style="vertical-align: top; margin-top:85px; margin-left: 5px; margin-right: 5px; max-height: 100%; flex-direction:column">
                </div>
                {{ /aux_left }}
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row" style="padding-bottom:10px">
                        <div class="mb-2 mx-1" role="toolbar">
                            {{#popup_buttons}}
                            <div class="btn-group" role="group">
                                <div class="dropdown" role="group">
                                    <button class="btn btn-sm {{button_class}} dropdown-toggle toolbar-button" data-toggle="dropdown" type="button">
                                        <span class="far fa-{{icon_name}} button-icon"></span>
                                        <span class="button-text">{{name_text}}</span>
                                    </button>
                                      <div class="dropdown-menu">
                                          {{#option_list}}
                                            <a value="{{opt_name}}-{{res_type}}" class="dropdown-item" href="#">{{opt_name}}</a>
                                          {{/option_list}}
                                      </div>
                                </div>
                            </div>
                            {{/popup_buttons}}

                            {{#button_groups}}
                                 <div class="btn-group" role="group">
                                     {{#buttons}}
                                        <button type="button" value="{{name}}-{{res_type}}" class="btn btn-sm {{button_class}} toolbar-button">
                                                <span class="far fa-{{icon_name}} button-icon"></span>
                                                <span class="button-text">{{name_text}}</span>
                                        </button>
                                     {{/buttons}}
                                     </div>
                            {{/button_groups}}
                                {{#file_adders}}
                                    <form action="" class="file-adder btn-group" style="display:inline-flex" method="post" target="_self" value="{{name}}-{{res_type}}-form" enctype="multipart/form-data">
                                        <button class="btn btn-sm add-button {{button_class}} toolbar-button" type="submit" value="{{name_text}}">
                                                <span class="far fa-{{icon_name}} button-icon"></span>
                                                <span class="button-text">{{name_text}}</span>
                                        </button>
                                        <input style="padding-left:4px; padding-top:10px; font-size:12px; width:250px" class="form-control-file form-control-sm btn-outline-secondary" type="file" name="file" {{#show_multiple}}multiple{{/show_multiple}}>
                                    </form>
                                {{/file_adders}}
                        </div>
                    </div>
                    {{#include_search_toolbar}}
                    <div class="d-flex search-toolbar my-2" style="margin-top: 10px">
                        <div class="form-inline">
                            <input type="text" class="form-control form-control-sm mr-2 search-field" size="30" placeholder="Search">
                             <button class="btn btn-sm btn-outline-secondary resource-unfilter-button" type="button" value="{{res_type}}">Clear</button>
                        </div>
                    </div>
                    {{/include_search_toolbar}}
                    <div style="display: inline-block; vertical-align: top; max-height: 100%; overflow-y: scroll; line-height: 1" class="list-group main-content" data-toggle="buttons">
                </div>
            </div>
        </div>
            <div class="right-div" style="vertical-align:top; margin-top:120px; margin-left:10px">
                {{#include_metadata}}
                <div style="vertical-align: top; margin-left: 5px; max-width:600px">
                    {{^start_hidden}}
                    <button type="button" class="btn btn-sm btn-outline-secondary save-metadata-button" style="margin-bottom: 7px" value="{{res_type}}">Save Metadata</button>
                    {{/start_hidden}}
                    <div class="form-group" style="margin-bottom: 7px">
                        <textarea type="text" class="form-control metadata-field tags-field" rows="1" {{#start_hidden}}readonly{{/start_hidden}}></textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control metadata-field notes-field" rows="10" placeholder="notes" {{#start_hidden}}readonly{{/start_hidden}}></textarea>
                        <div class="notes-field-markdown-output {{#start_hidden}}repo-markdown{{/start_hidden}}" style="max"></div>
                    </div>
                    <div class="created d-flex"></div>
                    <div class="additional-mdata d-flex flex-column"></div>
                </div>
                {{/include_metadata}}
                {{ #aux_right}}
                <div class="aux-right" style="display: inline-block; vertical-align: top; margin-left: 10px; overflow-y: scroll; width: 100%">
                {{ /aux_right }}
                </div>
            </div>
        </div>
    </div>
    </div>

</script>
