<script id="resource-module-template" type="text/html">
    <div class="col-xs-12 resource-outer" style="height: 100%; overflow: hidden">
        <div class="row indent-row" style="margin-top: 10px">
            <div class="col-xs-12">
                <form class="form-inline" style="display:inline">
                    <div class="input-group">
                      <input type="text" id="{{res_type}}-search" class="form-control search-field" placeholder="Search">
                         <span class="input-group-btn">
                            <button class="btn btn-default search-resource-button" type="button" value="{{res_type}}">Search</button>
                            <button class="btn btn-default search-tags-button" type="button" value="{{res_type}}">Search Tags</button>
                            <button class="btn btn-default resource-unfilter-button" type="button" value="{{res_type}}">Show All</button>
                         </span>
                    </div>
               </form>
            </div>
        </div>
    {{#show_add}}
    <div class="row indent-row" style="margin-top: 10px">
        <div class="col-xs-12">
            <form action="" method="post" target="_self" id="add-{{res_type}}-form" enctype="multipart/form-data">
                <input class="btn add-button btn-success" style="display: inline" type="submit" value="Add File">
                <input id="file-inputter" style="display: inline" type="file" name="file" {{#show_multiple}}multiple{{/show_multiple}}>
            </form>
        </div>
    </div>
    {{/show_add}}
    <div class="row indent-row" style="margin-top: 5px">
        <div class="col-xs-12">
            <div class="btn-group" style= "margin-top: 5px; margin-bottom: 5px" role="group">
                {{#popup_buttons}}
                <div class="btn-group">
                    <button type="button" id="{{name}}-{{res_type}}-button" class="btn {{button_class}} dropdown-toggle" data-toggle="dropdown">{{name}}<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          {{#option_list}}
                            <li><a id="{{opt_name}}-{{res_type}}-button" class="popup_item" href="#">{{opt_name}}</a></li>
                          {{/option_list}}
                      </ul>
                </div>
                {{/popup_buttons}}
                {{#buttons}}
                <button type="button" id="{{name}}-{{res_type}}-button" class="btn {{button_class}} action-button">{{name}}</button>
                {{/buttons}}
            </div>

        </div>
    </div>
    <div class="row indent-row" id="{{res_type}}-selector-row" style="margin-top: 7px; height: 100%; overflow: hidden">
        <div class="col-xs-12" style="height: 100%; overflow: hidden">
            <div style="display: inline-block; vertical-align: top; max-height: 100%; overflow-y: scroll; line-height: 1" class="list-group resource-selector" id="{{res_type}}-selector" data-toggle="buttons">
            </div>
            <div style="display: inline-block; vertical-align: top; margin-left: 5px">
                <button type="button" class="btn btn-sm btn-warning save-metadata-button" style="margin-bottom: 7px" value="{{res_type}}">Save Metadata</button>
                <div class="created"></div>
                <div class="form-group" style="margin-bottom: 7px">
                    <textarea type="text" class="form-control metadata-field" id="{{res_type}}-tags" rows="1" placeholder="tags"></textarea>
                </div>
                <div class="form-group">
                    <textarea class="form-control metadata-field" id="{{res_type}}-notes" rows="10" placeholder="notes"></textarea>
                </div>
            </div>
            {{#show_loaded_list}}
            <div style="display: inline-block; vertical-align: top; margin-left: 10px; max-height: 100%; overflow: hidden">
                <h5 style="text-align:center; margin-top: 0px">Loaded {{res_type}}s</h5>
                <div style="max-height: 100%; overflow-y: scroll" id="loaded-{{res_type}}-list">
                </div>
            </div>
            {{/show_loaded_list}}
        </div>
    </div>
    </div>

</script>

<script id="repository-module-template" type="text/html">
    <div class="col-xs-12 repository-outer" style="height: 100%; overflow: hidden; display: none">
        <div class="row indent-row" style="margin-top: 10px">
            <div class="col-xs-12">
                <form class="form-inline" style="display:inline">
                    <div class="input-group">
                      <input type="text" id="repository-{{res_type}}-search" class="form-control repository-search-field" placeholder="Search">
                         <span class="input-group-btn">
                            <button class="btn btn-default search-repository-resource-button" type="button" value="{{res_type}}">Search</button>
                            <button class="btn btn-default search-repository-tags-button" type="button" value="{{res_type}}">Search Tags</button>
                            <button class="btn btn-default repository-resource-unfilter-button" type="button" value="{{res_type}}">Show All</button>
                         </span>
                    </div>
               </form>
            </div>
        </div>
    <div class="row indent-row" style="margin-top: 5px">
        <div class="col-xs-12">
            <div class="btn-group" style= "margin-top: 5px; margin-bottom: 5px" role="group">
                <button type="button" id="repository-copy-{{res_type}}-button" class="btn btn-success">Copy to Library</button>
                {{#repository_buttons}}
                <button type="button" id="repository-{{name}}-{{res_type}}-button" class="btn {{button_class}} action-button">{{name}}</button>
                {{/repository_buttons}}
            </div>
        </div>
    </div>
    <div class="row indent-row" id="repository-{{res_type}}-selector-row" style="margin-top: 7px; height: 100%; overflow: hidden">
        <div class="col-xs-12" style="height: 100%; overflow: hidden">
            <div style="display: inline-block; vertical-align: top; overflow-y: scroll; max-height: 100%; line-height: 1" class="list-group repository-selector" id="repository-{{res_type}}-selector" data-toggle="buttons">
            </div>
            <div style="display: inline-block; vertical-align: top; margin-left: 5px">
                <div class="repository-created"></div>
                <div class="form-group" style="margin-bottom: 7px">
                    <textarea contenteditable="false" type="text" class="form-control" style="width: 350px" rows="1" id="{{res_type}}-repository-tags" placeholder="tags"></textarea>
                </div>
                <div class="form-group">
                    <textarea contenteditable="false" class="form-control" id="{{res_type}}-repository-notes" style="width: 350px"rows="5" placeholder="notes"></textarea>
                </div>
            </div>
        </div>
    </div>
    </div>

</script>