{% extends "base.html" %}

{% block title %}{{current_user.username}} library{% endblock %}

{% block head %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/loader.css')}}">
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div class="container-fluid">

    </div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/mousetrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/tab.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/stub_loader.js')}}"></script>
    <script>
        let user_id = "{{current_user.get_id()}}";
        let use_ssl = "{{use_ssl}}"=="True";
        let saved_title = $("#view-title").text();
        let task = "{{post_task}}";

        let ddata = {};
        {% for key, value in data_dict.iteritems() %}
        ddata["{{key}}"] = "{{value}}";
        {% endfor %}
        window.onload = start_post_load;
    </script>
{% endblock %}