<script id="header-template" type="text/html">
    <thead>
        <tr>
            {{#headers}}
                <th id='{{header}}' class='header can-resize column-{{header}}'>{{header}}</th>
            {{/headers}}
        </tr>
    </thead>
</script>
<script id="body-template" type="text/html">
    <tr id="{{row_id}}">
        {{#cells}}
            <td contenteditable='true' id='row-{{rownumber}}-col-{{header}}' class='searchit can-resize column-{{header}}'>{{value}}</td>
        {{/cells}}
    </tr>
</script>

