<script id="td-template" type="text/html">
    <td contenteditable='true' onmouseup='text_select(event)' class='{{class_text}} searchit mousetrap can-resize')>{{the_text}}</td>
</script>
<script id="th-template" type="text/html">
    <th colspan='{{span}}' id='{{id}}' class='{{class_text}}' onclick='click_header(this)'>{{the_text}}</th>
</script>
<script id="th-template-resize" type="text/html">
    <th colspan='{{span}}' id='{{id}}' class='{{class_text}} can-resize' onclick='click_header(this)'>{{the_text}}</th>
</script>

