<div class='panel panel-info tile-panel' id='{{tile_id}}'>
    <div class='panel-heading tile-panel-heading'>
        <button type='button' class='close header-but' id='tile-close'><span class="glyphicon glyphicon-trash"></span></button>
        <button type='button' class='notclose header-but' id='tile-reload' style='float:right'><span style="padding-right: 7px" class="glyphicon glyphicon-repeat"></span></button>
        <button type='button' class='notclose header-but' id='tile-log-params' style='float:right'><span style="padding-right: 7px" class="glyphicon glyphicon-list"></span></button>
        <button type='button' class='notclose header-but' id='tile-logme' style='float:right'><span style="padding-right: 7px" class="glyphicon glyphicon-download-alt"></span></button>
        <button type='button' class='notclose header-but' id='tile-container-log' style='float:right'><span style="padding-right: 7px" class="glyphicon glyphicon-exclamation-sign"></span></button>
        <button type='button' class='notclose header-but triangle-right' id='tile-expandme'><span class="glyphicon glyphicon-triangle-right"></span></button>
        <button type='button' class='notclose header-but triangle-bottom' id='tile-shrinkme'><span class="glyphicon glyphicon-triangle-bottom"></span></button>
        <button type='button' class='notclose header-but' id='tile-options'><span class="glyphicon glyphicon-cog"></span></button>

        {{tile_name}}
        <span id="spin-place" style="margin:7px"></span>
    </div>
     <div class='panel-body tile-body' id='tile_body_{{tile_id}}' style="overflow: hidden">
         <div class="back">
             <form id="form-display-area">
                {{form_text | safe}}
             </form>
         <button class='btn btn-primary' onclick=tile_dict['{{tile_id}}'].submitOptions()>Submit</button>
         </div>
         <div class="tile-log">
             <div class="tile-log-area"></div>
         </div>
         <div class="front"><div class="tile-display-area"></div></div>

     </div>
 </div>
