{% extends "base.html" %}

{% block title %}Tactic - Project Management{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/tactic.css')}}">
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <h1>{{ current_user.username }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <h4>My Collections</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <div class="btn-group-vertical" id="collection-selector" data-toggle="buttons">
                    {% for collection in current_user.data_collections %}
                        <label class="btn btn-default" display="block">
                            <input type="radio"  value="{{ collection }}"/> {{ collection }}
                        </label>
                    {% endfor %}
                </div>
            </div>
{#            <select multiple>#}
{#                    {% for collection in current_user.data_collections %}#}
{#                        <option value='{{collection}}'\> {{collection}}</option>#}
{#                    {% endfor %}#}
{#            </select>#}
            <div class="col-xs-5 ">
                <button class="btn btn-primary stacked-button" onclick="load_selected_collection()">Load selected collection</button>
                <button class="btn btn-primary stacked-button" onclick="delete_selected_collection()">Delete selected collection</button>
                <form action="add_file_as_collection" method="post" enctype="multipart/form-data">
                    <input class="btn btn-primary stacked-button" style="display: inline" type="submit" value="Add File as Collection">
                    <input class="btn btn-default stacked-button" style="display: inline" type="file" name="file">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <h4>My Projects</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <div class="btn-group-vertical" id="project-selector" data-toggle="buttons">
                    {% for project in current_user.project_names %}
                        <label class="btn btn-default" display="block">
                            <input type="radio"  value="{{ project }}"/> {{ project }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-5 ">
                <button class="btn btn-primary stacked-button" onclick="load_selected_project()">Load selected project</button>
                <button class="btn btn-primary stacked-button" onclick="delete_selected_project()">Delete selected project</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/user_manage.js')}}"></script>
{% endblock %}