
<div class="card-group">
<div class="card" style="margin-top:10px">
        <div class="card-body" style="overflow-y:scroll; padding:.5rem">
            <h6 class="card-title">Loaded Default</h6>
                {% for tile_name in default_tiles_list %}
                    <p class="card-text" style="margin-bottom:0; font-size:small">{{tile_name}}</p>
                {% endfor %}
                {% for tile_name in failed_tile_name_list %}
                    <p class="card-text" style="margin-bottom:0; font-size:small"><font color="red">{{tile_name}} (failed)</font></p>
                {% endfor %}
        </div>
    </div>
    <div class="card" style="margin-top:10px">
        <div class="card-body" style="overflow-y:scroll; padding:.5rem">
            <h6 class="card-title">Loaded Other</h6>
            {% for tile_name in nondefault_tiles_list %}
                <p class="card-text" style="margin-bottom:0; font-size:small">{{tile_name}}</p>
            {% endfor %}
        </div>
    </div>
</div>
