{% extends "base.html" %}

{% block title %}{{module_name}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/codemirror.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/pastel-on-dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/dialog.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/tactic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alertify_css/alertify.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/alertify_css/themes/bootstrap.min.css')}}" />
{% endblock %}

{% block morenavbar %}
    <li><a href="https://github.com/bsherin/tactic/wiki/Module%20Viewer%20Keyboard%20Shortcuts">Keyboard Shortcuts</a></li>
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div id="status-area"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="row" style="margin-top: 10px">
                    <div class="btn-toolbar col-xs-12" role="toolbar" >
                        <div class="btn-group btn-group-sm" role="group">
                            {% if read_only_string == "" %}
                            <button type="button" class="btn btn-default" onclick="updateModule()">Save</button>
                            <button type="button" class="btn btn-default" onclick="saveModuleAs()">Save as ...</button>
                            <button type="button" class="btn btn-default" onclick="loadModule()">Save and Load</button>
                            {% else %}
                            <button type="button" class="btn btn-default" onclick="copyToLibrary()">Copy to Library</button>
                            {% endif %}
                            <button type="button" class="btn btn-default" onclick="window.close()">Close</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default" onclick="changeTheme()">Toggle Theme</button>
                        </div>
                        <div style="float: right">
                            <button id="module-name" type="button" class="btn btn-default res-name-button" onclick="renameModule()">{{ module_name }}</button>
                        </div>
                    </div>
                </div>
                <textarea id="codearea">{{module_code | safe}}</textarea>
            </div>
            <div class="col-xs-4">
                <div  style="display: inline-block; vertical-align: top; margin-left: 5px; margin-top: 10px">
                    <div class="created"></div>
                    <div class="form-group" style="margin-bottom: 7px">
                        <textarea type="text" class="form-control metadata-field" id="tile-tags" rows="1" placeholder="tags" {{read_only_string}}></textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control metadata-field" id="tile-notes" rows="10" placeholder="notes" {{read_only_string}}></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/alertify.js')}}"></script>
    <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/search.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/searchcursor.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/jump-to-line.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/dialog.js')}}"></script>
    <script src="{{url_for('static', filename='js/python.js')}}"></script>
    <script src="{{url_for('static', filename='js/mousetrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/matchbrackets.js')}}"></script>
    <script src="{{url_for('static', filename='js/closebrackets.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/utilities.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/module_viewer.js')}}"></script>
    <script>
        var user_id = "{{current_user.get_id()}}";
        var module_name = "{{module_name}}";
        var view_only = "{{read_only_string}}"=="readonly";
        window.onload = start_post_load;
        window.onbeforeunload = function(e) {
            if (dirty()) {
                return "Any unsaved changes will be lost."
            }
        };
        window.onresize = function () {
            $(".CodeMirror").css('height', window.innerHeight - $(".CodeMirror").offset().top - 20)
        }
    </script>
{% endblock %}