{% extends "base.html" %}

{% block title %}{{resource_name}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/loader.css')}}">
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" style="margin-top: 20px">
                <div class="btn-toolbar" role="toolbar"></div>
                    {% for group in button_groups -%}
                         <div class="btn-group" role="group">
                             {% for button in group -%}
                                <button type="button" value="{{button.name|e}}" class="btn {{button.button_class|e}} action-button">{{button.name_text}}</button>
                             {% endfor -%}
                         </div>

                    {% endfor -%}
                    <button id="rename-button" type="button" class="btn btn-default res-name-button">{{resource_name}}</button>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="left-div" class="res-viewer-resizer" style="margin-top: 20px; display: inline-block; vertical-align:top">
                    {% if include_above_main_area %}
                    <div id="above_main" style="position: relative"></div>
                    {% endif %}
                    <div id="main_content"></div>
                </div>
                {% if include_right %}
                <div id="right-div" class="" style="margin-top: 20px; display: inline-block; vertical-align:top">
                    {% if include_metadata %}
                    <div  style="vertical-align: top; margin-left: 5px; margin-top: 10px">
                        <div class="created"></div>
                        <div class="form-group" style="margin-bottom: 7px">
                            <textarea type="text" class="form-control metadata-field" id="tags" rows="1" placeholder="tags" {% if readonly %} readonly {% endif %}></textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control metadata-field" id="notes" rows="10" placeholder="notes" {% if readonly %} readonly {% endif %}></textarea>
                        </div>
                    </div>
                    {% endif -%}
                    <div id="aux-area" style="display:none; overflow:scroll"></div>
                </div>
                {% endif %}
            </div>
    </div>
    </div>
{%  endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/mousetrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/resource_viewer_class.js')}}"></script>
    {% if uses_codemirror == "True" %}
        <script src="{{url_for('static', filename='tactic_js/module_editor_abstract.js')}}"></script>
    {% endif %}
    <script src="{{javascript_source}}"></script>
    <script>
        let user_id = "{{current_user.get_id()}}";
        let resource_name = "{{resource_name}}";
        let is_repository = "{{is_repository}}" == "True";
        let include_right = "{{include_right}}" == "True";
        let use_ssl = "{{use_ssl}}"=="True";
        window.onload = start_post_load;
        window.onbeforeunload = function(e) {
            if (dirty()) {
                return "Any unsaved changes will be lost."
            }
        };

    </script>
{% endblock %}