{% extends "base.html" %}

{% block title %}{{module_name}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/codemirror.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/pastel-on-dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/dialog.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/tactic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alertify_css/alertify.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/tactic_alertify_theme.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
{% endblock %}

{% block morenavbar %}
    <li><a href="https://github.com/bsherin/tactic/wiki/Module%20Viewer%20Keyboard%20Shortcuts">Keyboard Shortcuts</a></li>
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div id="status-area"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-7">
                <div class="row" style="margin-top: 10px">
                    <div class="btn-toolbar col-xs-12" role="toolbar" >
                        <div class="btn-group btn-group-sm" role="group">
                            {% if read_only_string == "" %}
                            <button type="button" class="btn btn-default" onclick="updateModule()">Save</button>
                            <button type="button" class="btn btn-default" onclick="saveModuleAs()">Save as ...</button>
                            <button type="button" class="btn btn-default" onclick="loadModule()">Save and Load</button>
                            <button type="button" class="btn btn-default" onclick="sendToRepository()">Share</button>
                            {% else %}
                            <button type="button" class="btn btn-default" onclick="copyToLibrary()">Copy to Library</button>
                            {% endif %}
                            <button type="button" class="btn btn-default" onclick="window.close()">Close</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default" onclick="changeTheme()">Toggle Theme</button>
                            <button type="button" class="btn btn-default" onclick="showAPI()">Show API</button>
                        </div>
                        <div style="float: right">
                            <button id="module-name" type="button" class="btn btn-default res-name-button" onclick="renameModule()">{{ module_name }}</button>
                        </div>
                    </div>
                </div>
                <div id="drawplotboundingarea" style="display: none">
                    <h3>draw_plot</h3>
                    <div id="drawplotcodearea"></div>
                </div>
                <h3>render_content</h3>
                <div id="codearea"></div>
            </div>
            <div class="col-xs-5">
                    <div id="api-area" style="display:none; overflow:scroll">{{api_html | safe}}</div>
                    <div id="resource-area" style="diplay:inline-block; margin-top: 25px">
                      <ul class="nav nav-tabs" style="border-bottom: none" role="tablist">
                          <li role="presentation" class="active"><a href="#metadata-module-outer" aria-controls="metadata" role="tab" data-toggle="tab" value="option">metadata</a></li>
                        <li role="presentation"><a href="#option-module-outer" aria-controls="options" role="tab" data-toggle="tab" value="option">options</a></li>
                        <li role="presentation"><a href="#export-module-outer" aria-controls="exports" role="tab" data-toggle="tab" value="export">exports</a></li>
                       <li role="presentation"><a href="#method-module-outer" aria-controls="methods" role="tab" data-toggle="tab" value="method">methods</a></li>

                      </ul>
                            <div class="tab-content" id="creator-resources">
                            <div class="tab-pane fade in active row" id="metadata-module-outer">
                                <div class="row indent-row">
                                    <div class="created" style="margin-bottom: 15px"></div>
                                    <div class="form-group" style="margin-bottom: 7px">
                                        <label for="tile-category">Category</label>
                                        <textarea type="text" class="form-control metadata-field" id="tile-category" rows="1" placeholder="category" {{read_only_string}}></textarea>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 7px">
                                        <label for="tile-tags">Tags</label>
                                        <textarea type="text" class="form-control metadata-field" id="tile-tags" rows="1" placeholder="tags" {{read_only_string}}></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="tile-notes">Notes</label>
                                        <textarea class="form-control metadata-field" id="tile-notes" rows="10" placeholder="notes" {{read_only_string}}></textarea>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade row" id="option-module-outer">
                                <div class="resource-module" id="option-module"></div>
                                <form class="form-inline row indent-row" style="display:inline-block">
                                      <div class="form-group">
                                            <label for="option-name-input">Name</label><br>
                                            <input type="text" class="form-control" id="option-name-input">
                                      </div>
                                    <div class="form-group">
                                        <label for="option-type-input">type</label><br>
                                        <select class="form-control" id="option-type-input">
                                            {% for option_type in option_types %}
                                                <option value="{{option_type.name|e}}">{{option_type.name|e}}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <label for="option-default-input">Default</label><br>
                                        <input type="text" class="form-control" id="option-default-input" placeholder="">
                                      </div>
                                      <div class="form-group" id="special-list-group" style="display:none">
                                        <label for="option-list-input">Special List</label><br>
                                        <input type="text" class="form-control" id="option-list-input" placeholder="">
                                      </div>
                                      <div class="form-group" id="option-tag-group" style="display:none">
                                        <label for="option-tag-input">Tag</label><br>
                                        <input type="text" class="form-control" id="option-tag-input" placeholder="">
                                      </div>
                                    <div class="form-group">
                                          <label for="option-create-button"> </label><br>
                                         <button type="button" id="option-create-button" class="btn btn-default">Create</button>
                                        </div>
                                </form>

                            </div>
                            <div class="tab-pane fade row" id="export-module-outer">
                                <div class="resource-module" id="export-module"></div>
                                <form class="form-inline row indent-row" style="display:inline-block">
                                      <div class="form-group">
                                        <label for="export-name-input">Name</label><br>
                                        <input type="text" class="form-control" id="export-name-input" placeholder="export_name">
                                      </div>
                                    <div class="form-group">
                                          <label for="export-create-button"> </label><br>
                                        <button type="button" id="export-create-button" class="btn btn-default">Create</button>
                                    </div>
                                </form>

                            </div>
                            <div class="tab-pane fade row" id="method-module-outer">
                                <div class="resource-module" id="method-module"></div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
{%  endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/alertify.js')}}"></script>
    <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/search.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/searchcursor.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/jump-to-line.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/dialog.js')}}"></script>
    <script src="{{url_for('static', filename='js/python.js')}}"></script>
    <script src="{{url_for('static', filename='js/mousetrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/matchbrackets.js')}}"></script>
    <script src="{{url_for('static', filename='js/closebrackets.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/utilities.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/communication.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/admin_resource_manager.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/tile_creator.js')}}"></script>
    <script>
        var user_id = "{{current_user.get_id()}}";
        var module_name = "{{module_name}}";
        var use_ssl = "{{use_ssl}}"=="True";
        console.log(module_name);
        var view_only = false;

        window.onload = start_post_load;
        window.onbeforeunload = function(e) {
            if (dirty()) {
                return "Any unsaved changes will be lost."
            }
        };
    </script>
{% endblock %}