{% extends "base.html" %}

{% block title %}{{module_name}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.tag-editor.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/loader.css', version_string=tstring)}}">
{% endblock %}

{% block morenavbar %}
    <li class="nav-item"><a class="nav-link" href="http://tactic.readthedocs.io/en/latest/Module-Viewer-Keyboard-Shortcuts.html">Keyboard Shortcuts</a></li>
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div id="main-container" class="container-fluid d-flex">
        <div id="left-div" class="d-flex flex-column" style="margin-top: 10px; margin-right: 25px; vertical-align:top">
            <div style="margin-top: 10px" class="d-flex flex-row justify-content-between">
                <button id="rename-button" type="button" style="padding-top:0" class="btn btn-outline-secondary res-name-button">{{ module_name }}</button>
                <div class="" role="toolbar" >
                    <div class="btn-group btn-group-sm" role="group">
                        <button value="save_button" type="button" class="btn btn-outline-secondary">Save</button>
                        <button value="load_button" type="button" class="btn btn-outline-secondary">Save+Load</button>
                        <button value="checkpoint_button" type="button" class="btn btn-outline-secondary">Checkpoint</button>
                        <button value="share_button" type="button" class="btn btn-outline-secondary">Share</button>

                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" value="history_button" class="btn btn-outline-secondary">History</button>
                        <button type="button" value="differ_button" class="btn btn-outline-secondary">Compare</button>
                        <button type="button" value="change_theme_button" class="btn btn-outline-secondary">Theme</button>
                        <button type="button" value="show_api_button" class="btn btn-outline-secondary" >API</button>
                    </div>
                </div>
            </div>

            <div id="drawplotboundingarea" class="bootstrap-border" style="display: none; border-bottom-width: 1px; border-bottom-style: solid; margin-bottom: 20px; clear: both">
            <div class="d-flex flex-row justify-content-between align-items-baseline">
                <a style=" margin-bottom:0px">draw_plot:</a>
                    <div class="btn-group" style= "margin-top: 10px; margin-bottom: 2px; float:right" role="group">
                       {% for catdict in api_dlist%}

                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-xs dropdown-toggle" data-toggle="dropdown">{{catdict.cat_name}}<span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                  {% for api_item in catdict.cat_list %}
                                    <li><a class="popup_item" onclick="creator_viewer.insertApiItemDP('{{api_item.name}}')">{{api_item.name}}</a></li>
                                  {% endfor %}
                              </ul>
                        </div>
                       {% endfor %}
                </div>
            </div>
            <div id="drawplotcodearea" style="overflow-y: auto; clear:right"></div>
            </div>
            <div id="jscriptboundingarea" class="bootstrap-border" style="display: none; border-bottom-width: 1px; border-bottom-style: solid; margin-bottom: 20px; clear: both">
                <div class="d-flex flex-row justify-content-between align-items-baseline">
                    <a style=" margin-bottom:0px">d3javascript:</a>
                </div>
                <div id="jscriptcodearea" style="overflow-y: auto; clear:right"></div>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-baseline">
                <a style=" margin-bottom:0px">render_content:</a>
                <div class="btn-group" style= "margin-top: 10px; margin-bottom: 2px; role="group">
                       {% for catdict in api_dlist%}
                        <div class="dropdown" role="group">
                            <button type="button" class="btn btn-outline-secondary btn-xs dropdown-toggle" data-toggle="dropdown">{{catdict.cat_name}}</button>
                              <div class="dropdown-menu">
                                  {% for api_item in catdict.cat_list %}
                                    <a class="dropdown-item" onclick="creator_viewer.insertApiItem('{{api_item.name}}')">{{api_item.name}}</a>
                                  {% endfor %}
                              </div>
                        </div>
                       {% endfor %}
                </div>
            </div>
            <div id="codearea" style="overflow-y: auto; clear:right"></div>
        </div>
        <div id="right-div" style="margin-top: 25px; display: inline-block; vertical-align:top">
            <div id="aux-area" style="display:none; overflow:auto"></div>
            <div id="resource-area" style="diplay:inline-block">
              <ul id="nav-list" class="nav nav-tabs" style="border-bottom: none" role="tablist">
                <li role="presentation" class="nav-item"><a class="nav-link active" href="#metadata-module-outer" aria-controls="metadata" role="tab" data-toggle="tab" value="metadata">metadata</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="#option-module-outer" aria-controls="options" role="tab" data-toggle="tab" value="option">options</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="#export-module-outer" aria-controls="exports" role="tab" data-toggle="tab" value="export">exports</a></li>
               <li role="presentation" class="nav-item"><a class="nav-link" href="#method-module-outer" aria-controls="methods" role="tab" data-toggle="tab" value="method">methods</a></li>
              </ul>
                <div class="tab-content" id="creator-resources">
                    <div class="tab-pane fade active show" id="metadata-module-outer">
                        <div class="row indent-row" style="display: inline-block">
                            <div id="created" style="margin-bottom: 15px"></div>
                            <div class="form-group" style="margin-bottom: 7px">
                                <label for="category">Category</label>
                                <textarea type="text" class="form-control metadata-field" id="category" rows="1" placeholder="category" {{read_only_string}}></textarea>
                            </div>
                            <div class="form-group" style="margin-bottom: 7px">
                                <label for="tags">Tags</label>
                                <textarea type="text" class="form-control metadata-field" id="tags" rows="1" {{read_only_string}}></textarea>
                            </div>
                            <div class="form-group">
                                <label for="notes">Notes</label>
                                <textarea class="form-control metadata-field" id="notes" rows="10" placeholder="notes" {{read_only_string}}></textarea>
                                <div id="notes-field-markdown-output"></div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade row" id="option-module-outer" style="overflow-y: auto">
                        <div class="resource-module" id="option-module-holder"></div>
                            <form class="form-row" style="">
                                  <div class="form-group m-1">
                                        <label class="mb-1" for="option-name-input">Name</label>
                                        <input type="text" class="form-control" id="option-name-input">
                                  </div>
                                <div class="form-group m-1">
                                    <label class="mb-1" for="option-type-input">Type</label>
                                    <select class="custom-select" id="option-type-input">
                                        {% for option_type in option_types %}
                                            <option value="{{option_type.name|e}}">{{option_type.name|e}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                  <div class="form-group m-1">
                                    <label class="mb-1" for="option-default-input">Default</label>
                                    <input type="text" class="form-control" id="option-default-input" placeholder="">
                                  </div>
                                  <div class="form-group m-1" id="special-list-group" style="display:none">
                                    <label class="mb-1" for="option-list-input">Special List</label>
                                    <input type="text" class="form-control" id="option-list-input" placeholder="">
                                  </div>
                                  <div class="form-group m-1" id="option-tag-group" style="display:none">
                                    <label class="mb-1" for="option-tag-input">Tag</label>
                                    <input type="text" class="form-control" id="option-tag-input" placeholder="">
                                  </div>
                                  <button type="button" id="option-create-button" style="align-self:center" class="btn btn-outline-secondary">Create</button>
                            </form>
                        </div>

                    <div class="tab-pane fade row" id="export-module-outer" style="overflow-y: auto">
                        <div class="resource-module" id="export-module-holder"></div>
                        <form class="form-row" style="">
                              <div class="form-group m-1">
                                <label class="mb-1" for="export-name-input">Name</label><br>
                                <input type="text" class="form-control" id="export-name-input" placeholder="export_name">
                              </div>
                              <div class="form-group m-1">
                                <label class="mb-1"  for="export-tags-input">Tags</label><br>
                                <input type="text" class="form-control" id="export-tags-input">
                              </div>
                            <button type="button" id="export-create-button" style="align-self:center" class="btn btn-outline-secondary">Create</button>
                        </form>

                    </div>
                    <div class="tab-pane fade row" id="method-module-outer" style="overflow-y: auto">
                        <div class="resource-module" id="method-module-holder"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{%  endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
    <script src="{{url_for('static', filename='js/mousetrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/javascript.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.caret.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.tag-editor.min.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/markdown_utilities.js', v=version_string)}}"></script>
    <script src="{{url_for('static', filename='tactic_js/resource_manager.js', version_string=tstring)}}"></script>
    <script src="{{url_for('static', filename='tactic_js/creator_resource_manager.js', version_string=tstring)}}"></script>
    <script src="{{url_for('static', filename='tactic_js/resource_viewer_class.js', version_string=tstring)}}"></script>
    <script src="{{url_for('static', filename='tactic_js/module_editor_abstract.js', version_string=tstring)}}"></script>
    <script src="{{url_for('static', filename='tactic_js/tile_creator.js', version_string=tstring)}}"></script>
    <script>
        const user_id = "{{current_user.get_id()}}";
        const option_types_raw = {{option_types|safe}};
        let option_types = [];
        for (let opt of option_types_raw){
            option_types.push(opt["name"])
        }
        let module_name = "{{module_name}}";
        let use_ssl = "{{use_ssl}}"=="True";
        let mongo_uri = "{{mongo_uri}}";
        let include_right = true;
        let module_viewer_id = "{{module_viewer_id}}";
        let main_id = module_viewer_id;  // tactic_todo A little kludgy
        let tile_collection_name = "{{tile_collection_name}}";
        let version_string = "{{tstring}}";
        console.log(module_name);

        window.onload = start_post_load;

        window.onbeforeunload = function(e) {
            if (creator_viewer.dirty()) {
                return "Any unsaved changes will be lost."
            }
        };
        window.onunload = function (e) {
            removeCreatorwindow()
        }
    </script>
{% endblock %}