{% extends "base.html" %}

{% block title %}{{module_name}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
{% endblock %}

{% block morenavbar %}
    <li><a href="https://github.com/bsherin/tactic/wiki/Module%20Viewer%20Keyboard%20Shortcuts">Keyboard Shortcuts</a></li>
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div id="status-area"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-7">
                <div style="margin-top: 10px">
                    <button id="module-name" type="button" class="btn btn-default res-name-button" onclick="renameModule()">{{ module_name }}</button>
                    <div class="btn-toolbar" style="float:right" role="toolbar" >
                        <div class="btn-group btn-group-sm" role="group">
                            <button value="save_button" type="button" class="btn btn-default">Save</button>
                            <button value="sav_as_button" type="button" class="btn btn-default">Save as ...</button>
                            <button value="load_button" type="button" class="btn btn-default">Save and Load</button>
                            <button value="share_button" type="button" class="btn btn-default">Share</button>
                        </div>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" value="change_theme_button" class="btn btn-default">Toggle Theme</button>
                            <button type="button" value="show_api_button" class="btn btn-default" >Show API</button>
                        </div>
                    </div>
                </div>
                <div id="drawplotboundingarea" class="bootstrap-border" style="display: none; border-bottom-width: 1px; border-bottom-style: solid; margin-bottom: 20px">
                    <h4 style="display:inline-block; margin-bottom:0px">draw_plot</h4>
                        <div class="btn-group" style= "margin-top: 10px; margin-bottom: 5px; float:right" role="group">
                           {% for catdict in api_dlist%}

                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">{{catdict.cat_name}}<span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                      {% for api_item in catdict.cat_list %}
                                        <li><a class="popup_item" onclick="creator_viewer.insertApiItemDP('{{api_item.name}}')">{{api_item.name}}</a></li>
                                      {% endfor %}
                                  </ul>
                            </div>
                           {% endfor %}
                    </div>
                    <div id="drawplotcodearea" style="overflow-y: auto; clear:right"></div>
                </div>
                <h4 style="display:inline-block; margin-bottom:0px">render_content</h4>
                <div class="btn-group" style= "margin-top: 10px; margin-bottom: 5px; float:right" role="group">
                       {% for catdict in api_dlist%}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">{{catdict.cat_name}}<span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                  {% for api_item in catdict.cat_list %}
                                    <li><a class="popup_item" onclick="creator_viewer.insertApiItem('{{api_item.name}}')">{{api_item.name}}</a></li>
                                  {% endfor %}
                              </ul>
                        </div>
                       {% endfor %}
                </div>
                <div id="codearea" style="overflow-y: auto; clear:right"></div>
            </div>
            <div class="col-xs-5">
                    <div id="aux-area" style="display:none; overflow:scroll"></div>
                    <div id="resource-area" style="diplay:inline-block; margin-top: 25px">
                      <ul class="nav nav-tabs" style="border-bottom: none" role="tablist">
                          <li role="presentation" class="active"><a href="#metadata-module-outer" aria-controls="metadata" role="tab" data-toggle="tab" value="option">metadata</a></li>
                        <li role="presentation"><a href="#option-module-outer" aria-controls="options" role="tab" data-toggle="tab" value="option">options</a></li>
                        <li role="presentation"><a href="#export-module-outer" aria-controls="exports" role="tab" data-toggle="tab" value="export">exports</a></li>
                       <li role="presentation"><a href="#method-module-outer" aria-controls="methods" role="tab" data-toggle="tab" value="method">methods</a></li>

                      </ul>
                            <div class="tab-content" id="creator-resources">
                            <div class="tab-pane fade in active row" id="metadata-module-outer">
                                <div class="row indent-row">
                                    <div class="created" style="margin-bottom: 15px"></div>
                                    <div class="form-group" style="margin-bottom: 7px">
                                        <label for="category">Category</label>
                                        <textarea type="text" class="form-control metadata-field" id="category" rows="1" placeholder="category" {{read_only_string}}></textarea>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 7px">
                                        <label for="tags">Tags</label>
                                        <textarea type="text" class="form-control metadata-field" id="tags" rows="1" placeholder="tags" {{read_only_string}}></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="notes">Notes</label>
                                        <textarea class="form-control metadata-field" id="notes" rows="10" placeholder="notes" {{read_only_string}}></textarea>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade row" id="option-module-outer">
                                <div class="resource-module" id="option-module-holder"></div>
                                <form class="form-inline row indent-row" style="display:inline-block">
                                      <div class="form-group">
                                            <label for="option-name-input">Name</label><br>
                                            <input type="text" class="form-control" id="option-name-input">
                                      </div>
                                    <div class="form-group">
                                        <label for="option-type-input">type</label><br>
                                        <select class="form-control" id="option-type-input">
                                            {% for option_type in option_types %}
                                                <option value="{{option_type.name|e}}">{{option_type.name|e}}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <label for="option-default-input">Default</label><br>
                                        <input type="text" class="form-control" id="option-default-input" placeholder="">
                                      </div>
                                      <div class="form-group" id="special-list-group" style="display:none">
                                        <label for="option-list-input">Special List</label><br>
                                        <input type="text" class="form-control" id="option-list-input" placeholder="">
                                      </div>
                                      <div class="form-group" id="option-tag-group" style="display:none">
                                        <label for="option-tag-input">Tag</label><br>
                                        <input type="text" class="form-control" id="option-tag-input" placeholder="">
                                      </div>
                                    <div class="form-group">
                                          <label for="option-create-button"> </label><br>
                                         <button type="button" id="option-create-button" class="btn btn-default">Create</button>
                                        </div>
                                </form>
                                </div>

                            <div class="tab-pane fade row" id="export-module-outer">
                                <div class="resource-module" id="export-module-holder"></div>
                                <form class="form-inline row indent-row" style="display:inline-block">
                                      <div class="form-group">
                                        <label for="export-name-input">Name</label><br>
                                        <input type="text" class="form-control" id="export-name-input" placeholder="export_name">
                                      </div>
                                    <div class="form-group">
                                          <label for="export-create-button"> </label><br>
                                        <button type="button" id="export-create-button" class="btn btn-default">Create</button>
                                    </div>
                                </form>

                            </div>
                            <div class="tab-pane fade row" id="method-module-outer">
                                <div class="resource-module" id="method-module-holder"></div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
{%  endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
    <script src="{{url_for('static', filename='js/mousetrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/resource_manager.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/creator_resource_manager.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/resource_viewer_class.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/module_editor_abstract.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/tile_creator.js')}}"></script>
    <script>
        const user_id = "{{current_user.get_id()}}";
        let module_name = "{{module_name}}";
        let use_ssl = "{{use_ssl}}"=="True";
        console.log(module_name);

        window.onload = start_post_load;
        window.onbeforeunload = function(e) {
            if (dirty()) {
                return "Any unsaved changes will be lost."
            }
        };
    </script>
{% endblock %}