{% extends "base.html" %}

{% block title %}Tactic - Project Management{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/tactic.css')}}">
    <style>
        .indent-row {
            margin-left: 10px
        }
    </style>
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    {% include 'modals/duplicate_list_modal.html' %}
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1>{{ current_user.username }}</h1>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>My Collections</h2>
                    </div>
                </div>
                <div class="row indent-row" style="margin-top: 10px">
                    <div class="col-xs-12">
                        <form action="" method="post" id="collection-load-form" enctype="multipart/form-data">
                            <input class="btn btn-warning stacked-button" style="display: inline" type="submit" value="Add File">
                            <input class="btn btn-default stacked-button" id="file-inputter" style="display: inline" type="file" name="file">
                        </form>
                    </div>
                </div>
                <div class="row indent-row" style="margin-top: 25px">
                    <div class="col-xs-12">
                        <div style="display: inline-block; vertical-align:top">
                            <button class="btn btn-primary stacked-button" onclick="load_selected_collection()">Load collection</button>
                            <button class="btn btn-primary stacked-button" onclick="delete_selected_collection()">Delete collection</button>
                            <button class="btn btn-primary stacked-button" onclick="duplicate_selected_collection()">Duplicate collection</button>
                        </div>
                        <div style="display: inline-block; vertical-align: top; margin-left: 10px">
                            <h5 style="text-align:center; margin-top: 0px">Collections</h5>
                            <div class="btn-group-vertical" id="collection-selector" data-toggle="buttons">
                                {% for collection in current_user.data_collections %}
                                    <label class="btn btn-default">
                                        <input type="radio"  value="{{ collection }}"/> {{ collection }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>My Lists</h2>
                    </div>
                </div>
                <div class="row indent-row" style="margin-top: 10px">
                    <div class="col-xs-12">
                        <form action="" method="post" target="_self" id="list-load-form" enctype="multipart/form-data">
                            <input class="btn btn-warning stacked-button" style="display: inline" type="submit" value="Add File">
                            <input class="btn btn-default stacked-button" id="file-inputter" style="display: inline" type="file" name="file">
                        </form>
                    </div>
                </div>
                <div class="row indent-row" style="margin-top: 25px">
                    <div class="col-xs-12">
                        <div style="display: inline-block; vertical-align:top">
                            <button class="btn btn-primary stacked-button" onclick="view_selected_list()">View list</button>
                            <button class="btn btn-primary stacked-button" onclick="delete_selected_list()">Delete list</button>
                            <button class="btn btn-primary stacked-button" onclick="show_duplicate_list_modal()">Duplicate list</button>
                        </div>
                        <div style="display: inline-block; vertical-align: top; margin-left: 10px">
                            <h5 style="text-align:center; margin-top: 0px">Lists</h5>
                            <div class="btn-group-vertical" id="list-selector" data-toggle="buttons">
                                {% for list_name in current_user.list_names %}
                                    <label class="btn btn-default">
                                        <input type="radio"  value="{{ list_name }}"/> {{ list_name }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>My Projects</h2>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-xs-12">
                        <div style="display: inline-block; vertical-align:top">
                            <button class="btn btn-primary stacked-button" onclick="load_selected_project()">Load project</button>
                            <button class="btn btn-primary stacked-button" onclick="delete_selected_project()">Delete project</button>
                        </div>
                        <div style="display: inline-block; vertical-align: top; margin-left: 10px">
                            <h5 style="text-align:center; margin-top: 0px">Projects</h5>
                            <div class="btn-group-vertical" id="project-selector" data-toggle="buttons">
                                {% for project in current_user.project_names %}
                                    <label class="btn btn-default">
                                        <input type="radio"  value="{{ project }}"/> {{ project }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/user_manage.js')}}"></script>
    <script>
        var user_id = "{{current_user.get_id()}}";
        window.onload = start_post_load;
    </script>
{% endblock %}