{% extends "base.html" %}

{% block title %}{{current_user.username}} library{% endblock %}

{% block head %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/tactic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='tactic_css/loader.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alertify_css/alertify.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/alertify_css/themes/bootstrap.min.css')}}" />
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div class="container-fluid">
        <div class="page-header" style="margin-top: 5px">
            <h1><span id="view-title">{{current_user.username}}'s library </span>
                <button id="toggle-repository-button" class="btn btn-default" onclick="return toggleRepository();">Show Repository</button>
                <span id="spinner" class="loader-small"></span><span id="status-msg-area" class="status-msg"></span>
            </h1>

        </div>
        <div class="row">
            <div class="col-xs-12" id="status-area"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#collection-module" aria-controls="collections" role="tab" data-toggle="tab" value="collection">collections</a></li>
                <li role="presentation"><a href="#project-module" aria-controls="projects" role="tab" data-toggle="tab" value="project">projects</a></li>
                <li role="presentation"><a href="#tile-module" aria-controls="tiles" role="tab" data-toggle="tab" value="tile">tiles</a></li>
                <li role="presentation"><a href="#list-module" aria-controls="lists" role="tab" data-toggle="tab" value="list">lists</a></li>

              </ul>
                <div class="tab-content">
                    <div class="resource-module tab-pane fade in active" id="collection-module"></div>
                    <div class="resource-module tab-pane fade" id="project-module"></div>
                    <div class="resource-module tab-pane fade" id="tile-module"></div>
                    <div class="resource-module tab-pane fade" id="list-module"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/alertify.js')}}"></script>
    <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/utilities.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/communication.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/resource_manager.js')}}"></script>
    <script src="{{url_for('static', filename='js/mousetrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/tab.js')}}"></script>
    <script src="{{url_for('static', filename='tactic_js/user_manage.js')}}"></script>
    <script>
        var user_id = "{{current_user.get_id()}}";
        var use_ssl = "{{use_ssl}}"=="True";
        var saved_title = $("#view-title").text();
        window.onload = start_post_load;
    </script>
{% endblock %}