@user_tile
class {{class_name}}({% if is_d3 %}D3Tile{% else %}TileBase{% if is_mpl %}, MplFigure{% endif %}{% endif %}):
    category = "{{category}}"
    exports = [{% for exp in exports %}{"name": "{{exp.name | e}}", "tags": "{{exp.tags|safe}}"}{% if not loop.last %}, {% endif %}{% endfor %}]

    def __init__(self, main_id, tile_id, tile_name=None):
        {% if is_d3 -%}
        D3Tile.__init__(self, main_id, tile_id, tile_name)
        {% else -%}
        TileBase.__init__(self, main_id, tile_id, tile_name)
        {% endif -%}
        {% if couple_save_attrs_and_exports -%}
        self.save_attrs += [exp["name"] for exp in self.exports]
        {% else %}
        self.save_attrs += [{% for sattr in additional_save_attrs %}"{{sattr}}"{{ ", " if not loop.last else "" }}{% endfor %}]
        {% endif -%}
        {% for option in options -%}
        self.{{option.name|e}} = {{option.default|safe}}
        {% endfor -%}
        {% if is_d3 -%}
        self.jscript = """{{jscript_code|safe}}"""
        {% endif -%}
        return

    @property
    def options(self):
        return  [
        {% for option in options -%}
        {"name": "{{option.name|e}}", "type": "{{option.type|e}}"{% if option.display_text %}, "display_text": "{{option.display_text|safe}}"{% endif %}{% if option.pool_select_type %}, "pool_select_type": "{{option.pool_select_type|safe}}"{% endif %}{% if option.special_list %}, "special_list": {{option.special_list|safe}}{% endif %}{% if option.tags %}, "tags":"{{option.tags|safe}}"{% endif %}}{% if not loop.last %},{% endif %}
        {% endfor -%}
    ]
{{extra_methods|safe -}}
{% if is_mpl %}
    def draw_plot(self):
{{draw_plot_body|safe -}}
{% endif %}
    def render_content(self):
{{render_content_body|safe}}