<div class='panel panel-default log-panel' id='{{tile_id}}'>
    <div class="panel-heading">
     <button type="button" class="notclose" onclick="closeLogItem(this)"><span aria-hidden="true">x</span></button>
        <button type="button" class="notclose" onclick="runConsoleCode(this)"><span aria-hidden="true">Run</span></button>
        <button type="button" class="notclose" onclick="clearConsoleCode(this)"><span aria-hidden="true">Clear Output</span></button>
    </div>
     <div class='log-panel-body mousetrap console-code' id="{{ unique_id }}">
     </div>
      <div class='log-code-output'>
     </div>
 </div>
