<div class='card panel-info tile-panel' id='{{tile_id}}'>
    <div class='card-header tile-panel-heading'>
        <div class="left-glyphs">
            <button type='button' class='notclose header-but triangle-right' id='tile-expandme'>
                <span class="far fa-chevron-circle-right"></span>
            </button>
            <button type='button' class='notclose header-but triangle-bottom' id='tile-shrinkme'>
                <span class="far fa-chevron-circle-down"></span>
            </button>
            <button type='button' class='notclose header-but' id='tile-options'>
                <span class="far fa-cog"></span>
            </button>
            <span class="tile-name-div">{{tile_name}}</span>
        </div>

        <div class="right-glyphs">
            <span id="spin-place" style=""></span>
            <button type='button' class='notclose header-but' id='tile-container-log' style=''>
                <span class="far fa-exclamation-triangle"></span>
            </button>
            <button type='button' class='notclose header-but' id='tile-logme' style=''>
                <span class="far fa-download"></span>
            </button>
          <button type='button' class='notclose header-but' id='tile-log-params' style=''>
                <span class="far fa-list-ul"></span>
            </button>

                <button type='button' class='notclose header-but' id='tile-reload' style=''>
                    <span class="far fa-redo-alt"></span>
            </button>
            <button type='button' class='notclose header-but' id='tile-close'>
                <span class="far fa-trash-alt"></span>
            </button>
        </div>


    </div>
     <div class='card-body tile-body' id='tile_body_{{tile_id}}' style="overflow: hidden">
         <div class="back">
             <form class="form-display-area">
                {{form_text | safe}}
             </form>
         <button class='btn btn-primary' onclick=tile_dict['{{tile_id}}'].submitOptions()>Submit</button>
         </div>
         <div class="tile-log" style="display:none">
             <div class="tile-log-area"></div>
         </div>
         <div class="front" style="display:none"><div class="tile-display-area"></div></div>

     </div>
 </div>
