
$item-separation: 7px;
$item-side-padding: 10px;

#context-root {
    height: 100%;
}

#context-container {

    #library-home-root {
        .bp6-tab-list {
            display: none
        }
        width: 100%
    }

    .context-navigator {
        overflow: hidden;
        padding-top: 100px;
        height: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .context-item-holder {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: $item-separation;
        border-radius: 8px;

        &.hovering {
            margin-top: 40px;
        }

        &.currently-dragging {
            opacity: .25;
        }
    }

    .context-nav-item {
        font-size: 16px;
        padding: 8px $item-side-padding;
        margin-left: 0;
        width: 100%;
        opacity: .5;

        &.selected-tab-button {
            opacity: 1;
        }
    }

    .context-tab-button-content-divider {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
