
@use "blueprint_variables.scss";
@use "themeable.scss";

$library-table-font-size: 13px;
$library-table-line-height: 27px;

$library-tree-node-font: 12px;
$library-tree-node-height: 25px;
$library-tree-margin-top: 65px;

.context-menu-header {
    font-style: italic;
    margin-bottom: 9px
}

#library-home-root {
    max-height: 100%;

    &.not-in-context {
        height: 100%;

    }

    .admin-pane {
        .bp6-tabs {
            height: 100%;
        }
        .bp6-tab-list {
            padding-top: 100px;
        }
        .bp6-tabs.bp6-vertical > .bp6-tab-panel {
            margin-left: 0;
            padding-left: 0 !important;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .library-table-cell {
        font-size: $library-table-font-size;
        line-height: $library-table-line-height;
    }

    .library-header-cell {
        font-weight: bold;
        font-size: $library-table-font-size;
        line-height: $library-table-line-height;
    }


    .bp6-table-quadrant-scroll-container {
        overflow: hidden;

        &:hover {
            overflow: auto;
        }
    }
}

.hidden_cell {
    opacity: .5
}

.tactic-tag-button-list {
    margin-top: $library-tree-margin-top;
    overflow-y: hidden;
    min-width: 165px;
    &:hover {
        overflow-y: auto;
    }
    .library-tree-node {
        font-size: $library-tree-node-font;
        .bp6-tree-node-content {
            height: $library-tree-node-height;
        }
        .bp6-tree-node-icon {
            svg {
                width: 14px;
                height: 14px
            }
        }
        &.hidden-tag {
            opacity: .5;
            .bp6-tree-node-label {
                font-style: italic
            }
        }
    }
}

#repository_container  {
    .bp6-tabs.bp6-vertical > .bp6-tab-list .bp6-tab-indicator-wrapper .bp6-tab-indicator {
        background-color: #e648f09e
    }
}


.import-dialog {
    width: 700px;
    .filepicker.dropzone.dz-clickable {
        display: flex;
        flex-direction: column;
        max-height: 350px;
        overflow: auto;
        min-height: 100px;
        padding: 10px;
    }

    .dropzone .dz-preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: unset;
        min-height: unset;

        &.dz-success, &.dz-error {
            opacity: .5
        }
    }

    .dropzone .dz-preview.dz-success .dz-success-mark, .dropzone .dz-preview.dz-error .dz-error-mark {
        opacity: 1;
        -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        //-ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    }


    .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark{
        left: unset;
        height: unset;
        margin-left: unset;
        margin-top: unset;
        position: relative;
        top: unset;
        width: 54px;
    }

    .dropzone .dz-preview.dz-success .dz-progress, .dropzone .dz-preview.dz-error .dz-progress {
        display: none;
    }
}




