#myplace2 {
  color: red;
}

.light-theme .context-nav-item .bp6-icon-cube, .light-theme .menu-bar .bp6-icon-cube, .light-theme .combined-metadata .bp6-icon-cube, .light-theme .all-pane .bp6-icon-cube {
  color: #c87619 !important;
}
.light-theme .context-nav-item .bp6-icon-folder-close, .light-theme .menu-bar .bp6-icon-folder-close, .light-theme .combined-metadata .bp6-icon-folder-close, .light-theme .all-pane .bp6-icon-folder-close {
  color: #c87619 !important;
}
.light-theme .context-nav-item .bp6-icon-database, .light-theme .context-nav-item .bp6-icon-th, .light-theme .context-nav-item .bp6-icon-align-left, .light-theme .menu-bar .bp6-icon-database, .light-theme .menu-bar .bp6-icon-th, .light-theme .menu-bar .bp6-icon-align-left, .light-theme .combined-metadata .bp6-icon-database, .light-theme .combined-metadata .bp6-icon-th, .light-theme .combined-metadata .bp6-icon-align-left, .light-theme .all-pane .bp6-icon-database, .light-theme .all-pane .bp6-icon-th, .light-theme .all-pane .bp6-icon-align-left {
  color: #2d72d2 !important;
}
.light-theme .context-nav-item .bp6-icon-projects, .light-theme .context-nav-item .bp6-icon-console, .light-theme .context-nav-item .bp6-icon-globe-network, .light-theme .menu-bar .bp6-icon-projects, .light-theme .menu-bar .bp6-icon-console, .light-theme .menu-bar .bp6-icon-globe-network, .light-theme .combined-metadata .bp6-icon-projects, .light-theme .combined-metadata .bp6-icon-console, .light-theme .combined-metadata .bp6-icon-globe-network, .light-theme .all-pane .bp6-icon-projects, .light-theme .all-pane .bp6-icon-console, .light-theme .all-pane .bp6-icon-globe-network {
  color: #238551 !important;
}
.light-theme .context-nav-item .bp6-icon-application, .light-theme .context-nav-item .bp6-icon-timeline-line-chart, .light-theme .context-nav-item .bp6-icon-timeline-area-chart, .light-theme .menu-bar .bp6-icon-application, .light-theme .menu-bar .bp6-icon-timeline-line-chart, .light-theme .menu-bar .bp6-icon-timeline-area-chart, .light-theme .combined-metadata .bp6-icon-application, .light-theme .combined-metadata .bp6-icon-timeline-line-chart, .light-theme .combined-metadata .bp6-icon-timeline-area-chart, .light-theme .all-pane .bp6-icon-application, .light-theme .all-pane .bp6-icon-timeline-line-chart, .light-theme .all-pane .bp6-icon-timeline-area-chart {
  color: #7961db !important;
}
.light-theme .context-nav-item .tile-icon-color, .light-theme .menu-bar .tile-icon-color, .light-theme .combined-metadata .tile-icon-color, .light-theme .all-pane .tile-icon-color {
  color: #7961db !important;
}
.light-theme .context-nav-item .bp6-icon-list, .light-theme .menu-bar .bp6-icon-list, .light-theme .combined-metadata .bp6-icon-list, .light-theme .all-pane .bp6-icon-list {
  color: #db2c6f !important;
}
.light-theme .context-nav-item .bp6-icon-code, .light-theme .menu-bar .bp6-icon-code, .light-theme .combined-metadata .bp6-icon-code, .light-theme .all-pane .bp6-icon-code {
  color: #8eb125 !important;
}

.bp6-dark .context-nav-item .bp6-icon-cube, .bp6-dark .menu-bar .bp6-icon-cube, .bp6-dark .combined-metadata .bp6-icon-cube, .bp6-dark .all-pane .bp6-icon-cube {
  color: #fbb360 !important;
}
.bp6-dark .context-nav-item .bp6-icon-folder-close, .bp6-dark .menu-bar .bp6-icon-folder-close, .bp6-dark .combined-metadata .bp6-icon-folder-close, .bp6-dark .all-pane .bp6-icon-folder-close {
  color: #fbb360 !important;
}
.bp6-dark .context-nav-item .bp6-icon-database, .bp6-dark .context-nav-item .bp6-icon-th, .bp6-dark .context-nav-item .bp6-icon-align-left, .bp6-dark .menu-bar .bp6-icon-database, .bp6-dark .menu-bar .bp6-icon-th, .bp6-dark .menu-bar .bp6-icon-align-left, .bp6-dark .combined-metadata .bp6-icon-database, .bp6-dark .combined-metadata .bp6-icon-th, .bp6-dark .combined-metadata .bp6-icon-align-left, .bp6-dark .all-pane .bp6-icon-database, .bp6-dark .all-pane .bp6-icon-th, .bp6-dark .all-pane .bp6-icon-align-left {
  color: #8abbff !important;
}
.bp6-dark .context-nav-item .bp6-icon-projects, .bp6-dark .context-nav-item .bp6-icon-console, .bp6-dark .context-nav-item .bp6-icon-globe-network, .bp6-dark .menu-bar .bp6-icon-projects, .bp6-dark .menu-bar .bp6-icon-console, .bp6-dark .menu-bar .bp6-icon-globe-network, .bp6-dark .combined-metadata .bp6-icon-projects, .bp6-dark .combined-metadata .bp6-icon-console, .bp6-dark .combined-metadata .bp6-icon-globe-network, .bp6-dark .all-pane .bp6-icon-projects, .bp6-dark .all-pane .bp6-icon-console, .bp6-dark .all-pane .bp6-icon-globe-network {
  color: #72ca9b !important;
}
.bp6-dark .context-nav-item .bp6-icon-application, .bp6-dark .context-nav-item .bp6-icon-timeline-line-chart, .bp6-dark .context-nav-item .bp6-icon-timeline-area-chart, .bp6-dark .menu-bar .bp6-icon-application, .bp6-dark .menu-bar .bp6-icon-timeline-line-chart, .bp6-dark .menu-bar .bp6-icon-timeline-area-chart, .bp6-dark .combined-metadata .bp6-icon-application, .bp6-dark .combined-metadata .bp6-icon-timeline-line-chart, .bp6-dark .combined-metadata .bp6-icon-timeline-area-chart, .bp6-dark .all-pane .bp6-icon-application, .bp6-dark .all-pane .bp6-icon-timeline-line-chart, .bp6-dark .all-pane .bp6-icon-timeline-area-chart {
  color: #bdadff !important;
}
.bp6-dark .context-nav-item .tile-icon-cell, .bp6-dark .menu-bar .tile-icon-cell, .bp6-dark .combined-metadata .tile-icon-cell, .bp6-dark .all-pane .tile-icon-cell {
  color: #bdadff !important;
}
.bp6-dark .context-nav-item .bp6-icon-list, .bp6-dark .menu-bar .bp6-icon-list, .bp6-dark .combined-metadata .bp6-icon-list, .bp6-dark .all-pane .bp6-icon-list {
  color: #ff66a1 !important;
}
.bp6-dark .context-nav-item .bp6-icon-code, .bp6-dark .menu-bar .bp6-icon-code, .bp6-dark .combined-metadata .bp6-icon-code, .bp6-dark .all-pane .bp6-icon-code {
  color: #d4f17e !important;
}

.light-theme.pane-holder {
  background-color: white;
}
.light-theme .verticalIconBar {
  bottom: 0;
  background-color: #edeff2;
  border-left: none;
}
.light-theme.bp6-navbar {
  box-shadow: none;
  background-color: #edeff2;
}
.light-theme.main-outer {
  background-color: #d3d8de;
}
.light-theme .context-navigator {
  background-color: #edeff2;
  border-top: 0.75px solid #c5cbd3;
}
.light-theme .context-item-holder {
  background-color: #dce0e5;
}
.light-theme .main-panel .main-heading {
  color: #5f6b7c;
  background-color: #f6f8fa;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
}
.light-theme .table-area mark {
  background-color: #cebde6;
}
.light-theme.menu-bar {
  box-shadow: none;
  border-top: 0.75px solid #c5cbd3;
  border-bottom: 0.75px solid #c5cbd3;
}
.light-theme.merge-viewer-outer .light-theme.login-body {
  background-color: white;
}
.light-theme.account-settings {
  background-color: white;
}
.light-theme .combined-metadata {
  box-shadow: none;
  background-color: #ffffff;
}
.light-theme div.filepicker {
  background-color: #f6f7f9;
}
.light-theme .combined-metadata .bp6-input:disabled {
  color: #5f6b7c !important;
}
.light-theme .notes-field-markdown-output {
  background: #edeff2;
  color: #5f6b7c;
}
.light-theme .notes-field-markdown-output code {
  background-color: #edeff2;
  color: #383e47;
  padding-left: 2px;
  padding-right: 2px;
}
.light-theme .notes-field-markdown-output pre {
  background-color: #edeff2;
  color: #1c2127;
  padding: 4px;
}
.light-theme .tactic-tag-button-list .bp6-tree-node-selected .bp6-tree-node-content {
  background-color: #f6f7f9;
  color: #2d72d2;
  font-weight: 900;
}
.light-theme .tactic-tag-button-list .bp6-tree-node-selected .bp6-icon {
  background-color: #f6f7f9;
  color: #2d72d2 !important;
  font-weight: 900;
}
.light-theme .cm-matchhighlight {
  background-color: lightgreen;
}
.light-theme .cm-searchhighlight {
  background-color: #dce0e5;
}
.light-theme .cm-focussearchhighlight {
  background-color: #fbb360;
}
.light-theme .searchable-console mark {
  background-color: #cebde6;
}
.light-theme .tile-panel-heading {
  color: #5f6b7c;
  background-color: #f6f7f9;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
}
.light-theme .tile-panel {
  background-color: #ffffff !important;
}
.light-theme .tile-form-divider .bp6-divider {
  border-bottom: 2px solid #5c7080;
  width: 50%;
  min-width: 200px;
}
.light-theme .chat-module .bp6-card-list .bp6-card {
  background-color: #f6f7f9;
}
.light-theme .chat-response, .light-theme .text-panel-output {
  background-color: #f6f7f9;
}
.light-theme .chat-response code, .light-theme .text-panel-output code {
  background-color: #dce0e5;
  color: inherit;
  padding-left: 2px;
  padding-right: 2px;
}
.light-theme .chat-response pre, .light-theme .text-panel-output pre {
  padding: 10px;
  background-color: #dce0e5;
  overflow: scroll;
}
.light-theme .console, .light-theme .exports-panel {
  background-color: white;
}
.light-theme .console-heading, .light-theme .exports-heading, .light-theme .exports-footing, .light-theme .table-footing {
  background-color: #edeff2 !important;
}
.light-theme .selected-export {
  color: #5f6b7c;
}
.light-theme .export-header-text {
  color: #6c757d;
}
.light-theme .log-panel-body {
  color: #616161 !important;
}
.light-theme .cm-editor {
  border: 1px solid #c7c7c7 !important;
}
.light-theme .log-panel .CodeMirror, .light-theme .log-panel .cm-editor {
  border: 1px solid #c7c7c7 !important;
}
.light-theme .CodeMirror {
  border: 1.5px solid rgba(128, 128, 128, 0.3882352941);
  border-radius: 3px;
}
.light-theme caption {
  color: #6c757d;
}

#library-home-root .bp6-dark .bp6-table-cell-client {
  background-color: #383e47;
}

.bp6-dark .verticalIconBar {
  bottom: 0;
  background-color: #252a31;
  border-left: none;
}
.bp6-dark #library-home-root .bp6-table-cell-client {
  background-color: #383e47;
}
.bp6-dark.main-outer {
  background-color: #5f6b7c;
}
.bp6-dark .context-navigator {
  background-color: #252a31;
  border-right: none;
}
.bp6-dark .context-item-holder {
  background-color: #383e47 !important;
}
.bp6-dark .main-panel .main-heading {
  background-color: #2f343c;
  border-bottom: none;
}
.bp6-dark .table-area mark {
  background-color: #cebde6;
}
.bp6-dark.merge-viewer-outer, .bp6-dark.login-body {
  background-color: #383e47;
}
.bp6-dark.menu-bar {
  box-shadow: none;
}
.bp6-dark.account-settings {
  background-color: #383e47;
}
.bp6-dark.pane-holder {
  background-color: #383e47;
}
.bp6-dark .combined-metadata, .bp6-dark .exports-pane {
  box-shadow: none;
  background-color: #2f343c;
}
.bp6-dark div.filepicker {
  background-color: #383e47;
}
.bp6-dark .notes-field-markdown-output {
  background-color: rgba(17, 20, 24, 0.3019607843);
}
.bp6-dark .notes-field-markdown-output code {
  background-color: #252a31;
  padding-left: 2px;
  padding-right: 2px;
}
.bp6-dark .notes-field-markdown-output pre {
  background-color: #252a31;
  padding: 4px;
}
.bp6-dark .tactic-tag-button-list .bp6-tree-node-selected .bp6-tree-node-content {
  background-color: #2f343c;
  color: #8abbff;
  font-weight: 900;
}
.bp6-dark .tactic-tag-button-list .bp6-tree-node-selected .bp6-icon {
  background-color: #2f343c;
  color: #8abbff;
  font-weight: 900;
}
.bp6-dark .cm-matchhighlight {
  background-color: lightgreen;
  color: black !important;
}
.bp6-dark .cm-searchhighlight {
  background-color: #6aaed8;
  color: black !important;
}
.bp6-dark .cm-focussearchhighlight {
  background-color: yellow;
  color: black !important;
}
.bp6-dark .searchable-console mark {
  background-color: #cebde6;
}
.bp6-dark .tile-panel-heading {
  background-color: #2f343c;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
  margin-right: 2px;
  margin-left: 2px;
}
.bp6-dark .tile-panel {
  background-color: #383e47;
}
.bp6-dark .tile-form-divider .bp6-divider {
  border-color: white;
  width: 50%;
  min-width: 200px;
}
.bp6-dark .chat-response, .bp6-dark .text-panel-output {
  background-color: #383e47;
}
.bp6-dark .chat-response code, .bp6-dark .text-panel-output code {
  background-color: #252a31;
  color: inherit;
  padding-left: 2px;
  padding-right: 2px;
}
.bp6-dark .chat-response pre, .bp6-dark .text-panel-output pre {
  padding: 10px;
  background-color: #252a31;
  overflow: scroll;
}
.bp6-dark .console, .bp6-dark .console-panel, .bp6-dark .exports-panel {
  background-color: #2f343c;
}
.bp6-dark .console-heading, .bp6-dark .exports-heading, .bp6-dark .exports-footing, .bp6-dark .table-footing {
  background-color: #383e47 !important;
}
.bp6-dark caption {
  color: #d3d8de;
}

.status-holder.light-theme {
  background-color: transparent;
}
.status-holder.bp6-dark {
  background-color: #2f343c;
}

.context-menu-header {
  font-style: italic;
  margin-bottom: 9px;
}

#library-home-root {
  max-height: 100%;
}
#library-home-root.not-in-context {
  height: 100%;
}
#library-home-root .admin-pane .bp6-tabs {
  height: 100%;
}
#library-home-root .admin-pane .bp6-tab-list {
  padding-top: 100px;
}
#library-home-root .admin-pane .bp6-tabs.bp6-vertical > .bp6-tab-panel {
  margin-left: 0;
  padding-left: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#library-home-root .library-table-cell {
  font-size: 15px;
  line-height: 31px;
}
#library-home-root .library-header-cell {
  font-weight: bold;
  font-size: 15px;
  line-height: 31px;
}
#library-home-root .bp6-table-quadrant-scroll-container {
  overflow: hidden;
}
#library-home-root .bp6-table-quadrant-scroll-container:hover {
  overflow: auto;
}

.menu-control {
  margin-bottom: 3px;
}

.hidden_cell {
  opacity: 0.5;
}

.tactic-tag-button-list {
  margin-top: 65px;
  overflow-y: hidden;
  min-width: 165px;
}
.tactic-tag-button-list:hover {
  overflow-y: auto;
}
.tactic-tag-button-list .library-tree-node {
  font-size: 12px;
}
.tactic-tag-button-list .library-tree-node .bp6-tree-node-content {
  height: 25px;
}
.tactic-tag-button-list .library-tree-node .bp6-tree-node-icon svg {
  width: 14px;
  height: 14px;
}
.tactic-tag-button-list .library-tree-node.hidden-tag {
  opacity: 0.5;
}
.tactic-tag-button-list .library-tree-node.hidden-tag .bp6-tree-node-label {
  font-style: italic;
}

#repository_container .bp6-tabs.bp6-vertical > .bp6-tab-list .bp6-tab-indicator-wrapper .bp6-tab-indicator {
  background-color: rgba(230, 72, 240, 0.6196078431);
}

.import-dialog {
  width: 700px;
}
.import-dialog .filepicker.dropzone.dz-clickable {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow: auto;
  min-height: 100px;
  padding: 10px;
}
.import-dialog .dropzone .dz-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: unset;
  min-height: unset;
}
.import-dialog .dropzone .dz-preview.dz-success, .import-dialog .dropzone .dz-preview.dz-error {
  opacity: 0.5;
}
.import-dialog .dropzone .dz-preview.dz-success .dz-success-mark, .import-dialog .dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.import-dialog .dropzone .dz-preview .dz-error-mark, .import-dialog .dropzone .dz-preview .dz-success-mark {
  left: unset;
  height: unset;
  margin-left: unset;
  margin-top: unset;
  position: relative;
  top: unset;
  width: 54px;
}
.import-dialog .dropzone .dz-preview.dz-success .dz-progress, .import-dialog .dropzone .dz-preview.dz-error .dz-progress {
  display: none;
}

/*# sourceMappingURL=library_home.css.map */
