
$standard-padding: 25px;

.resource-viewer-left-pane-holder {
    padding-left: $standard-padding;
    padding-right: $standard-padding;
    padding-bottom: $standard-padding;

    &.top-padded {
        padding-top: $standard-padding;
    }
}

.resource-viewer-holder {
    overflow: hidden;
    min-height: 0;
    min-width: 0;
    height: 100%
}