@use "sass:meta";
@use "blueprint_variables.scss"; @use "bootstrap_reduced.scss";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import 'markdown-it-latex/dist/index.css';


$codemirror-font-size: 14px;
$codemirror-font-family: Courier, Courier New, serif;

/* main navbar */

$project-outer-padding: 10px;

$separator-padding: 7px;
$separator-padding-half: 3.5px;

.horizontal-left-pane {
    padding-right: $separator-padding-half
}

.horizontal-right-pane {
    padding-left: $separator-padding-half
}

.vertical-top-pane {
    padding-bottom: $separator-padding-half;
}

.vertical-bottom-pane {
    padding-top: $separator-padding-half;
}

.project-outer-padding {
    padding: $project-outer-padding;
}

.focus-red:focus {
    border: 1px solid red;
}

.hide-me {
    height: 0 !important;
    opacity: 0 !important;
}

.show-me {
    height: 100%;
    opacity: 1;
}

html,body {
    height:100%;
}

body {
    //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.bp6-drawer {
    margin-right: 40px;
    margin-top: 80px;
    z-index: 5
}



.CodeMirror, .cm-editor, .cm-scroller {
    font-size: $codemirror-font-size !important;
    font-family: $codemirror-font-family !important;
    box-shadow: none !important;
}

.cm-mergeView {
    overflow: auto;
    height: 100%;
}


.cm-ghostText {
    opacity: 0.4;
    font-style: italic;
    pointer-events: none;
}

table {
    caption {
        caption-side: top;
    }
}

// This table-striped might not do anything currently unless the user uses this style
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.code-container {
    padding-bottom: 0;
    overflow: hidden
}

#main-root, .main-root {
    height: 100%
}

/* General resources */


.bp6-button-group, .context-item-holder {
    .show-on-hover {
        opacity: 0 !important;
    }

    &:hover {
        .show-on-hover {
            opacity: 100 !important;
        }
    }
}

.contingent-scroll {
    overflow: hidden;
    &:hover {
        overflow: auto
    }
}


.verticalIconBar {
    position: fixed;
    right: 0;
    top: 50px;
    bottom: 0;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    z-index: 10
  }

  .iconBarButton {
    //margin-bottom: 10px;
  }

.floating-button-group {
  position: fixed;
  top: 50%;
  right: 21px;
  transform: rotate(-90deg) translateX(50%) ;
  transform-origin: center right;
  gap: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
}

.floating-button-group .bp6-button {
  border-radius: 0;
}

.floating-button-group.visible {
  opacity: 1;
}

/* navbar */


.bp6-button:focus {
    outline: none
}


.container-fluid {
    padding-left: 0;
    padding-right:0
}

.notes-field-markdown-output {
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2);
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2);
    overflow-y: auto;
}

.markdown-heading-sizes {
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    h4 {
        font-size: 16px
    }
    h5 {
        font-size: 14px
    }
}

 .chat-response {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }


// codemirror
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    width: auto;
}

.cm-editor, .cm-mergeViewEditors {
    height: 100% !important;
    width: 100% !important;
    position: relative;
    padding: 5px;
}

.cm-mergeViewEditors {
    .cm-editor {
        height: 100% !important;
        width: 100% !important;
    }
}

// auto-complete

.cm-completionIcon-suggestion {
    &:after {
        content: "Ai"
    }
}

.cm-completionIcon-tactic {
    &:after {
        content: "Tt"
    }
}

.completion-section {
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
}
.cm-completion-ai {
    font-style: italic;
    opacity: 0.8;
}



.combined-metadata {
    .bp6-form-content {
        width: 100%;
    }
    .bp6-form-group.bp6-inline {
        max-width: 450px
    }

    .metadata-field {
        line-height: 30px;
        opacity: .75
    }
    .metadata-form_group {
        margin-bottom: 2px
    }
}


/* Other*/

.tile-status-indicator {
    font-style: italic;
}

.monospace {
    font-family: monospace
}

.html-table {
    margin-bottom: 10px;
    &.html-table-bordered {
        border: 1px solid rgba(16, 22, 26, .15);
    }
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resize-border {
    content: '';
    background-color: transparent;
    width: 10px;
    z-index: 1;
    &:hover {
        background-color: blueprint_variables.$gray3;
        opacity: 50%;
    }
}
.horizontal-resize-border {
    content: '';
    background-color: transparent;
    width: 100%;
    height: 10px;
    z-index: 1;
    &:hover {
        background-color: blueprint_variables.$gray3;
        opacity: 50%;
    }
}

// This below is necessary to intercept a problem
// with pyLDAvis where it would make buttons disappear
.bp6-icon path {
    //noinspection CssInvalidPropertyValue
    fill: inherit
}

.account-settings {
    padding-left: 50px;
    padding-top: 50px;
    display: flex !important;
    flex-direction: row !important;
    height: 100%
}

.account-pane {
    height: fit-content;
    border-radius: 6px;
    padding: 20px;
    margin: 10px
}





