@use "blueprint_variables.scss";
@import "~@blueprintjs/table/lib/css/table.css";


// Table body

.table-wrapper {
    overflow-x: auto;
    margin: 0;
    padding: 0;
}


.table-area {
    display: block;

    border-left: none;
    border-top: none;

    .hidden-row {
        display: none !important;
    }

    .bp6-table-quadrant-scroll-container {
        overflow: hidden;
        &:hover {
            overflow: auto;
        }
    }
}

.ui-resizable-e, .ui-resizable-w {
        width: 10px !important;
}

.ui-resizable-s, .ui-resizable-n{
        height: 20px !important;
}

