@use "blueprint_variables.scss";

// ==============================================
// SECTION: Context Navigator
// ==============================================

$dark-context-navigator-background: blueprint_variables.$dark-gray2;
$dark-context-item-holder-background: blueprint_variables.$dark-gray4 !important;
//$dark-context-navigator-right-border: 1px solid blueprint_variables.$light-gray4;
$dark-context-navigator-right-border: none;

$light-context-navigator-background: blueprint_variables.$light-gray4;
$light-context-item-holder-background: blueprint_variables.$light-gray2;
$light-context-navigator-top-border: .75px solid #c5cbd3;


// ==============================================
// SECTION: nav bar
// ==============================================

$light-navbar-background: blueprint_variables.$light-gray4;

// ==============================================
// SECTION: Status Bar
// ==============================================

$dark-status-bar-background: blueprint_variables.$dark-gray3;
$light-status-bar-background: transparent;

// ==============================================
// SECTION: Combined Metadata
// ==============================================

$dark-metadata-background: blueprint_variables.$dark-gray3;
$light-metadata-background: blueprint_variables.$white;

$light-notes-field-markdown-output-background: blueprint_variables.$light-gray4;;
$dark-notes-field-markdown-output-background: #1114184d;

$light-notes-field-markdown-output-color: blueprint_variables.$gray1;
$dark-notes-field-markdown-output-color: blueprint_variables.$light-gray5;

$light-notes-field-markdown-code-bg: blueprint_variables.$light-gray4;
$dark-notes-field-markdown-code-bg: blueprint_variables.$dark-gray2;

$light-notes-field-markdown-code-color: blueprint_variables.$dark-gray1;
$dark-notes-field-markdown-code-color: blueprint_variables.$gray3;

// ==============================================
// SECTION: Backdrop Color
// ==============================================
$dark-backdrop: blueprint_variables.$dark-gray4;
$light-backdrop: white;

// ==============================================
// SECTION: Special Icon Colors
// ==============================================

$light-cube-icon-color: blueprint_variables.$orange3;
$dark-cube-icon-color: blueprint_variables.$orange5;

$light-folder-icon-color: blueprint_variables.$orange3;
$dark-folder-icon-color: blueprint_variables.$orange5;

$light-collection-icon-color: blueprint_variables.$blue3;
$dark-collection-icon-color: blueprint_variables.$blue5;

$light-project-icon-color: blueprint_variables.$green3;
$dark-project-icon-color: blueprint_variables.$green5;

$light-tile-icon-color: blueprint_variables.$indigo3;
$dark-tile-icon-color: blueprint_variables.$indigo5;

$light-list-icon-color: blueprint_variables.$rose3;
$dark-list-icon-color: blueprint_variables.$rose5;

$light-code-icon-color: blueprint_variables.$lime3;
$dark-code-icon-color: blueprint_variables.$lime5;

// ==============================================
// SECTION: Library Tag Button
// ==============================================

$dark-library-cell-background: blueprint_variables.$dark-gray4;

$light-tag-button-selected-color: blueprint_variables.$blue3;
$dark-tag-button-selected-color: blueprint_variables.$blue5;

$light-tag-button-selected-background: blueprint_variables.$light-gray5;
$dark-tag-button-selected-background: blueprint_variables.$dark-gray3;

// ==============================================
// SECTION: Icon Bar
// ==============================================
$light-icon-bar-background: blueprint_variables.$light-gray4;
$dark-icon-bar-background: blueprint_variables.$dark-gray2;

$light-icon-bar-border: none;
//$dark-icon-bar-border: 1px solid #fff3;
$dark-icon-bar-border: none;

// ==============================================
// SECTION: Main
// ==============================================
$light-main-backdrop: blueprint_variables.$light-gray1;
$dark-main-backdrop: blueprint_variables.$gray1;

$light-main-table-heading-background: #f6f8fa;
$dark-main-table-heading-background: blueprint_variables.$dark-gray3;

$light-main-table-heading-border-bottom: 1px solid #10161a26;
$dark-main-table-heading-border-bottom: none;

$light-main-heading-color: blueprint_variables.$gray1;

// ==============================================
// SECTION: Notebook
// ==============================================

$light-console-background: white;
$dark-console-background: blueprint_variables.$dark-gray3;

$light-console-heading: blueprint_variables.$light-gray4;
$dark-console-heading: blueprint_variables.$dark-gray4;;

$light-text-panel-output-background: blueprint_variables.$light-gray5;
$dark-text-panel-output-background: blueprint_variables.$dark-gray4;

$light-text-panel-output-font-color: #616161;

$light-text-panel-output-code-bg: blueprint_variables.$light-gray2;
$dark-text-panel-output-code-bg: blueprint_variables.$dark-gray2;

// ==============================================
// SECTION: Tiles
// ==============================================

$light-tile-heading-background: blueprint_variables.$light-gray5;
$dark-tile-heading-background: blueprint_variables.$dark-gray3;

$light-tile-heading-border-bottom: 1px solid #10161a26;
$dark-tile-heading-border-bottom: 1px solid #10161a26;

$light-tile-heading-color: blueprint_variables.$gray1;

$dark-tile-body-background: blueprint_variables.$dark-gray4;
$light-tile-body-background: #ffffff;

// ==============================================
// SECTION: Import dialog
// ==============================================
$light-filepicker-background: blueprint_variables.$light-gray5;
$dark-filepicker-background: blueprint_variables.$dark-gray4;

// ==============================================
// SECTION: Account Settings
// ==============================================
$light-account-pane-bg: blueprint_variables.$white;
$dark-account-pane-bg: blueprint_variables.$dark-gray3;

// ==============================================
// SECTION: Assistant Chat Module
// ==============================================
$light-chat-card-bg: blueprint_variables.$light-gray5;


// ==============================================
// ==============================================


// ==============================================
// SECTION: Icon Colors classes
// ==============================================
.light-theme {

    .context-nav-item, .menu-bar, .combined-metadata, .all-pane {
        .bp6-icon-cube {
            color: $light-cube-icon-color ! important
        }

        .bp6-icon-folder-close {
            color: $light-folder-icon-color ! important
        }

        .bp6-icon-database, .bp6-icon-th, .bp6-icon-align-left {
            color: $light-collection-icon-color !important;
        }

        .bp6-icon-projects, .bp6-icon-console, .bp6-icon-globe-network {
            color: $light-project-icon-color !important;
        }

        .bp6-icon-application, .bp6-icon-timeline-line-chart, .bp6-icon-timeline-area-chart {
            color: $light-tile-icon-color !important;
        }

        .tile-icon-color {
            color: $light-tile-icon-color !important;
        }

        .bp6-icon-list {
            color: $light-list-icon-color !important;
        }

        .bp6-icon-code {
            color: $light-code-icon-color !important;
        }
    }
}

.bp6-dark {

    .context-nav-item, .menu-bar, .combined-metadata, .all-pane {
        .bp6-icon-cube {
            color: $dark-cube-icon-color ! important
        }

        .bp6-icon-folder-close {
            color: $dark-folder-icon-color ! important
        }

        .bp6-icon-database, .bp6-icon-th, .bp6-icon-align-left {
            color: $dark-collection-icon-color !important;
        }

        .bp6-icon-projects, .bp6-icon-console, .bp6-icon-globe-network {
            color: $dark-project-icon-color !important;
        }

        .bp6-icon-application, .bp6-icon-timeline-line-chart, .bp6-icon-timeline-area-chart {
            color: $dark-tile-icon-color !important;
        }

        .tile-icon-cell {
            color: $dark-tile-icon-color !important;
        }

        .bp6-icon-list {
            color: $dark-list-icon-color !important;
        }

        .bp6-icon-code {
            color: $dark-code-icon-color !important;
        }

    }
}

// ==============================================
// SECTION: Light theme classes
// ==============================================

.light-theme {

    &.pane-holder{
        background-color: $light-backdrop;
    }


    .verticalIconBar {
        bottom: 0;
        background-color: $light-icon-bar-background;
        border-left: $light-icon-bar-border;
    }

    &.bp6-navbar {
        box-shadow: none;
        background-color: $light-navbar-background;
    }

    &.main-outer {
        background-color: $light-main-backdrop
    }

    .context-navigator {
        background-color: $light-context-navigator-background;
        border-top: $light-context-navigator-top-border;
    }

    .context-item-holder {
        background-color: $light-context-item-holder-background;
    }


    .main-panel {
        .main-heading {
            color: $light-main-heading-color;
            background-color: $light-main-table-heading-background;
            border-bottom: $light-main-table-heading-border-bottom;
        }
    }

    .table-area {

        mark {
            background-color: #cebde6
        }
    }

    &.menu-bar {
        box-shadow: none;
        border-top: 0.75px solid #c5cbd3;
        border-bottom: 0.75px solid #c5cbd3;
    }

    &.merge-viewer-outer &.login-body {
        background-color: $light-backdrop;
    }

    &.account-settings {
        background-color: $light-account-pane-bg;
    }


    .combined-metadata {
        box-shadow: none;
        background-color: $light-metadata-background;
    }

    div.filepicker {
        background-color: $light-filepicker-background;
    }

    .combined-metadata {
        .bp6-input:disabled {
            color: #5f6b7c !important;
        }
    }

    .notes-field-markdown-output {
        background: $light-notes-field-markdown-output-background;
        color: $light-notes-field-markdown-output-color;

        code {
            background-color: $light-notes-field-markdown-code-bg;
            color: blueprint_variables.$dark-gray4;
            padding-left: 2px;
            padding-right: 2px;
        }

        pre {
            background-color: $light-notes-field-markdown-code-bg;
            color: $light-notes-field-markdown-code-color;
            padding: 4px;
        }
    }

    .tactic-tag-button-list {
        .bp6-tree-node-selected {
            .bp6-tree-node-content {
                background-color: $light-tag-button-selected-background;
                color: $light-tag-button-selected-color;
                font-weight: 900
            }

            .bp6-icon {
                background-color: $light-tag-button-selected-background;
                color: $light-tag-button-selected-color !important;
                font-weight: 900
            }
        }
    }

    .cm-matchhighlight {
        background-color: lightgreen;
    }

    .cm-searchhighlight {
        background-color: blueprint_variables.$light-gray2;
    }

    .cm-focussearchhighlight {
        background-color: blueprint_variables.$orange5;
    }

    .searchable-console {
        mark {
            background-color: #cebde6
        }
    }

    .tile-panel-heading {
        color: $light-tile-heading-color;
        background-color: $light-tile-heading-background;
        border-bottom: $light-tile-heading-border-bottom;
    }

    .tile-panel {
        background-color: $light-tile-body-background !important;
    }

    .tile-form-divider {
        .bp6-divider {
            border-bottom: 2px solid #5c7080;
            width: 50%;
            min-width: 200px
        }
    }

    .chat-module {
        .bp6-card-list {
            .bp6-card {
                background-color: $light-chat-card-bg;
            }
        }
    }

    .chat-response, .text-panel-output {
        background-color: $light-text-panel-output-background;

        code {
            background-color: $light-text-panel-output-code-bg;
            color: inherit;
            padding-left: 2px;
            padding-right: 2px;
        }

        pre {
            padding: 10px;
            background-color: $light-text-panel-output-code-bg;
            overflow: scroll
        }
    }


    .console, .exports-panel {
        background-color: $light-console-background;
    }

    .console-heading, .exports-heading, .exports-footing, .table-footing {
        background-color: $light-console-heading !important;
    }

    .selected-export {
        color: blueprint_variables.$gray1;
    }

    .export-header-text {
        color: #6c757d;
    }

    .log-panel-body {
        color: $light-text-panel-output-font-color!important;
    }

    .cm-editor {
        border: 1px solid #c7c7c7 !important;
    }

    .log-panel {

        .CodeMirror, .cm-editor {
            border: 1px solid #c7c7c7 !important;
        }

    }

    .CodeMirror {
        border: 1.5px solid #80808063;
        border-radius: 3px;
    }

    caption {
        color: #6c757d;
    }

    .account-pane {
        background-color: $light-account-pane-bg;
    }

}

// ==============================================
// SECTION: Dark Theme Classes
// ==============================================

// This alternate ordering is needed for the tabbed interface
#library-home-root {
    .bp6-dark {
        .bp6-table-cell-client {
            background-color: $dark-library-cell-background;
        }
    }
}

.bp6-dark {

    .verticalIconBar {
        bottom: 0;
        background-color: $dark-icon-bar-background;
        border-left: $dark-icon-bar-border;
    }

    #library-home-root {
        .bp6-table-cell-client {
            background-color: $dark-library-cell-background;
        }
    }

    &.main-outer {
        background-color: $dark-main-backdrop;
    }

    .context-navigator {
        background-color: $dark-context-navigator-background;
        border-right: $dark-context-navigator-right-border;
    }

    .context-item-holder {
        background-color: $dark-context-item-holder-background;
    }

    .main-panel {
        .main-heading {
            background-color: $dark-main-table-heading-background;
            border-bottom: $dark-main-table-heading-border-bottom;
        }
    }

    .table-area {

        mark {
            background-color: #cebde6
        }
    }

    &.merge-viewer-outer, &.login-body {
        background-color: $dark-backdrop;
    }

    &.menu-bar {
        //box-shadow: inset 0 0 0 1px #ffffff33, 0 1px 1px 0 #11141866;
        box-shadow: none;
    }

    &.account-settings {
        background-color: $dark-account-pane-bg;
    }

    &.pane-holder {
        background-color: $dark-backdrop;
    }

    .combined-metadata, .exports-pane {
        box-shadow: none;
        background-color: $dark-metadata-background;
    }

    div.filepicker {
        background-color: $dark-filepicker-background;
    }

    .notes-field-markdown-output {
        background-color: $dark-notes-field-markdown-output-background;
        //color: $dark-notes-field-markdown-output-color;

        code {
            background-color: $dark-notes-field-markdown-code-bg;
            padding-left: 2px;
            padding-right: 2px;
        }

        pre {
            background-color: $dark-notes-field-markdown-code-bg;
            padding: 4px;
        }
    }

    .tactic-tag-button-list {
        .bp6-tree-node-selected {
            .bp6-tree-node-content {
                background-color: $dark-tag-button-selected-background;
                color: $dark-tag-button-selected-color;
                font-weight: 900
            }

            .bp6-icon {
                background-color: $dark-tag-button-selected-background;
                color: $dark-tag-button-selected-color;
                font-weight: 900
            }
        }
    }

    .cm-matchhighlight {
        background-color: lightgreen;
        color: black !important
    }

    .cm-searchhighlight {
        background-color: #6aaed8;
        color: black !important
    }

    .cm-focussearchhighlight {
        background-color: yellow;
        color: black !important;
    }

    .searchable-console {
        mark {
            background-color: #cebde6
        }
    }

    .tile-panel-heading {
        background-color: $dark-tile-heading-background;
        border-bottom: $light-tile-heading-border-bottom;
        margin-right: 2px;
        margin-left: 2px;
    }

    .tile-panel {
        background-color: $dark-tile-body-background;
    }

    .tile-form-divider {
        .bp6-divider {
            border-color: white;
            width: 50%;
            min-width: 200px
        }
    }

    .chat-response, .text-panel-output {
        background-color: $dark-text-panel-output-background;

        code {
            background-color: $dark-text-panel-output-code-bg;
            color: inherit;
            padding-left: 2px;
            padding-right: 2px;
        }

        pre {
            padding: 10px;
            background-color: $dark-text-panel-output-code-bg;
            overflow: scroll
        }
    }

    .console, .console-panel, .exports-panel {
        background-color: $dark-console-background;
    }

    .console-heading, .exports-heading, .exports-footing, .table-footing {
        background-color: $dark-console-heading !important;
    }

    caption {
        color: blueprint_variables.$light-gray1;
    }

    .account-pane {
        background-color: $dark-account-pane-bg;
    }
}


.status-holder {
    &.light-theme {
        background-color: $light-status-bar-background;
    }

    &.bp6-dark {
        background-color: $dark-status-bar-background;
    }
}
