#myplace2 {
  color: red;
}

.light-theme .cm-signature .cm-editor {
  background-color: transparent;
  border: none !important;
}

.bp6-dark .cm-signature .cm-editor {
  background-color: transparent !important;
}

#creator-root .fade-container, .creator-root .fade-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
#creator-root .fade-container.fade-enter, .creator-root .fade-container.fade-enter {
  opacity: 0;
  max-height: 0;
}
#creator-root .fade-container.fade-enter-active, .creator-root .fade-container.fade-enter-active {
  opacity: 1;
  max-height: 500px;
  transition: opacity 300ms ease, max-height 300ms ease;
}
#creator-root .fade-container.fade-enter-done, .creator-root .fade-container.fade-enter-done {
  opacity: 1;
  max-height: unset;
}
#creator-root .fade-container.fade-exit, .creator-root .fade-container.fade-exit {
  opacity: 0;
  max-height: 500px;
}
#creator-root .fade-container.fade-exit-active, .creator-root .fade-container.fade-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms ease, max-height 300ms ease;
}
#creator-root .fade-container.fade-exit-done, .creator-root .fade-container.fade-exit-done {
  opacity: 0;
  max-height: 0;
}
#creator-root .maker-navigator, .creator-root .maker-navigator {
  padding-top: 35px;
}
#creator-root .maker-navigator .sortable-nav-section, .creator-root .maker-navigator .sortable-nav-section {
  margin-top: 5px;
}
#creator-root .maker-navigator .nav-section .bp6-collapse-body, .creator-root .maker-navigator .nav-section .bp6-collapse-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#creator-root .maker-navigator .direct-nav-section-button, .creator-root .maker-navigator .direct-nav-section-button {
  font-size: 15px;
}
#creator-root .maker-navigator .nav-section-button, .creator-root .maker-navigator .nav-section-button {
  padding-right: 2px;
  font-size: 15px;
  font-weight: 600;
}
#creator-root .maker-navigator .maker-nav-item, .creator-root .maker-navigator .maker-nav-item {
  margin-left: 25px;
  padding-right: 2px;
  font-size: 13px;
}
#creator-root .maker-navigator .maker-nav-item .spacer-nav-item, .creator-root .maker-navigator .maker-nav-item .spacer-nav-item {
  width: 175px;
  opacity: 0.5;
}
#creator-root .maker-navigator .maker-nav-item.nav-divider, .creator-root .maker-navigator .maker-nav-item.nav-divider {
  font-weight: bold;
  color: #ec9a3c;
}
#creator-root .creator-right-pane, .creator-root .creator-right-pane {
  padding-left: 25px;
}
#creator-root .maker-pane, .creator-root .maker-pane {
  background-color: transparent !important;
  margin-left: 25px;
}
#creator-root .maker-pane:first-child, .creator-root .maker-pane:first-child {
  margin-top: 8px;
}
#creator-root .maker-pane .creator-metadata-outer, .creator-root .maker-pane .creator-metadata-outer {
  padding-top: 25px;
}
#creator-root .maker-pane .creator-simple-title, .creator-root .maker-pane .creator-simple-title {
  position: absolute;
  left: 40px;
  top: 13px;
}
#creator-root .maker-pane .creator-code-header .cm-editor, .creator-root .maker-pane .creator-code-header .cm-editor {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
#creator-root .maker-pane .cm-signature, .creator-root .maker-pane .cm-signature {
  margin-left: 10px;
}
#creator-root .maker-pane .cm-signature .cm-content, .creator-root .maker-pane .cm-signature .cm-content {
  align-content: end;
}
#creator-root .maker-pane .cm-editable, .creator-root .maker-pane .cm-editable {
  border-bottom: 1px solid #007acc;
  padding-bottom: 1px;
}
#creator-root .maker-pane .maker-pane-button, .creator-root .maker-pane .maker-pane-button {
  position: absolute;
  padding: 0;
  top: 10px;
  z-index: 5;
}
#creator-root .maker-pane .maker-pane-button.maker-pane-left-button, .creator-root .maker-pane .maker-pane-button.maker-pane-left-button {
  left: 10px;
}
#creator-root .maker-pane .maker-pane-button.maker-pane-right-button, .creator-root .maker-pane .maker-pane-button.maker-pane-right-button {
  right: 10px;
}
#creator-root .maker-pane .maker-form-container, .creator-root .maker-pane .maker-form-container {
  padding-top: 20px;
}
#creator-root .maker-pane.form-pane, .creator-root .maker-pane.form-pane {
  overflow: auto;
}

/*# sourceMappingURL=tile_creator.css.map */
