@use "blueprint_variables.scss";

$standard-padding: 25px;

$navigator-top-padding: 35px;
$nav-item-indent: 25px;
$nav-section-font-size: 15px;
$nav-item-font-size: 13px;
$small-pane-buttom-offset: 10px;

$option-divider-color: #ec9a3c;

.light-theme {
    .cm-signature {
        .cm-editor {
            background-color: transparent;
            border: none !important;
        }
    }
}

.bp6-dark {
    .cm-signature {
        .cm-editor {
            background-color: transparent !important;
        }
    }
}

#creator-root, .creator-root {

    .fade-enter {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }

    .fade-enter-active {
        opacity: 1;
        max-height: 500px;
        transition: opacity 300ms ease, max-height 300ms ease;
    }

    .fade-exit {
        opacity: 1;
        max-height: 500px;
    }

    .fade-exit-active {
        opacity: 0;
        max-height: 0;
        transition: opacity 300ms ease, max-height 300ms ease;
    }

    .maker-navigator {
        padding-top: $navigator-top-padding;

        .nav-section {
            .bp6-collapse-body {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .nav-section-button {
            padding-right: 2px;
            font-size: $nav-section-font-size;
            font-weight: 600;
            text-transform: uppercase;
        }

        .sortable-nav-section {
            .bp6-input-group {
                margin-left: 25px;
                margin-right: 30px
            }

        }

        .maker-nav-item {
            margin-left: $nav-item-indent;
            padding-right: 2px;
            font-size: $nav-item-font-size;

            .spacer-nav-item {
                width: 175px;
                opacity: 0.5;
            }

            &.nav-divider{
                font-weight: bold;
                color: $option-divider-color;
            }
        }
    }

    .creator-right-pane {
        padding-left: $standard-padding;
    }

    .maker-pane {
        background-color: transparent !important;
        //margin-right: 20px; // for separation from scrollbar

        margin-left: 25px;

        &:first-child {
            margin-top: 8px;
        }

        .creator-metadata-outer {
            padding-top: 25px;
        }

        .creator-simple-title {
            position: absolute;
            left: 40px;
            top: 13px;
        }

        .creator-code-header {
            .cm-editor {
                border: none;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .cm-signature {
            margin-left: 10px;

            .cm-content {
                align-content: end;
            }
        }

        .cm-editable {
            border-bottom: 1px solid #007acc;
            padding-bottom: 1px;
        }

        .maker-pane-button {
            position: absolute;
            padding: 0;
            top: $small-pane-buttom-offset;
            z-index: 20;

            &.maker-pane-left-button {
                left: $small-pane-buttom-offset
            }

            &.maker-pane-right-button {
                right: $small-pane-buttom-offset
            }
        }

        .maker-form-container {
            padding-top: 20px
        }

        &.form-pane {
            overflow: auto;
        }
    }



}


