
@import "blueprint_variables.scss";
@import "themeable.scss";

$danger: #c23030;
$warning: #bf7326;
$primary: #106ba3;
$success: #0d8050;
$regular: #5c7080;

.context-menu-header {
    font-style: italic;
    margin-bottom: 9px
}

#library-home-root {
    max-height: 100%;

    .selector-button {
        td {
            border: white;
            padding-bottom: 2px !important;
        }
    }

    .selector-button.active {
        td {
            background-color: rgba(19, 124, 189, 0.2) !important;
            color: #106ba3;
            font-weight: 900
        }
    }

    .bp4-button.bp4-intent-danger {
        //background-color: $light-gray5;
        //color: $danger !important;
        //
        //.bp4-icon {
        //    color: $danger !important
        //}
    }

    .open-selector-row {
        color: gray;
    }

    .bp4-button.bp4-intent-warning {
        background-color: $light-gray5;
        color: $warning !important;

        .bp4-icon {
            color: $warning !important
        }
    }

    .bp4-button.bp4-intent-success {
        background-color: $light-gray5;
        color: $success !important;

        .bp4-icon {
            color: $success !important
        }
    }

    .bp4-button.bp4-intent-primary {
        background-color: $light-gray5;
        color: $primary !important;

        .bp4-icon {
            color: $primary !important
        }
    }

    .bp4-button.bp4-intent-regular {
        background-color: $light-gray5;
        color: $regular !important;

        .bp4-icon {
            color: $regular !important
        }
    }

    .bp4-table-quadrant-scroll-container {
        overflow: hidden;

        &:hover {
            overflow: auto;
        }
    }

    .selector-button:hover td {
        color: #106ba3 !important;
        //font-weight: 900
    }

    .elevation-1-shadow {
        box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
    }

    .elevation-0-shadow {
        box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
    }

    .dropdown-toggle.toolbar-button::after {
        display: none;
    }

    .dropdown-toggle.toolbar-button-sm::after {
        display: none;
    }

    .dropdown-toggle.toolbar-button .button-text::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .4em solid;
        border-right: .4em solid transparent;
        border-bottom: 0;
        border-left: .4em solid transparent;
    }

    .dropdown-toggle.toolbar-button-sm .button-text::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .4em solid;
        border-right: .4em solid transparent;
        border-bottom: 0;
        border-left: .4em solid transparent;
    }

    .bp4-tabs.bp4-vertical {
        height: 100%
    }

    .bp4-tabs.bp4-vertical > .bp4-tab-list .bp4-tab {
        padding: 0 12px;
        margin: 0;
    }

    .bp4-tab-list {
        margin-top: unset;
        padding-top: 100px;
        padding-left: 2px;
        padding-right: 2px;
        background-color: $dark-medium;
    }

    .bp4-tab-indicator {
        background-color: #48aff09e;
        border-radius: 0;
        width: 46px
    }

    .bp4-table-column-headers .bp4-table-header {
        font-weight: 600
    }

    .bp4-tab:focus {
        outline: none
    }

    .bp4-large > .bp4-tab {
        //font-size: 16px;
        //margin-left: 30px;
        //margin-right: 0
    }

    .bp4-tabs.bp4-vertical > .bp4-tab-panel {
        padding-left: 0 !important;
        //background-color: #f5f8fa;
        //border-left: 1px solid #CED9E0;
        margin-left: 0px
    }

    .bp4-checkbox .bp4-control-indicator:focus {
        outline: none
    }

    .bp4-table-cell {
        font-size: 13px;
        line-height: 23px
    }

    table {
        line-height: 1.4;
        font-size: 13px
    }
}

.import-dialog {
    width: 700px;
    .filepicker.dropzone.dz-clickable {
        //font-size: 12px;
        ////min-height: fit-content;
        display: flex;
        flex-direction: column;
        max-height: 350px;
        overflow: auto;
    }

    .dropzone .dz-preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: unset;
        min-height: unset;

        &.dz-success, &.dz-error {
            opacity: .5
        }
    }

    .dropzone .dz-preview.dz-success .dz-success-mark, .dropzone .dz-preview.dz-error .dz-error-mark {
        opacity: 1;
        -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        //-ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    }


    .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark{
        left: unset;
        height: unset;
        margin-left: unset;
        margin-top: unset;
        position: relative;
        top: unset;
        width: 54px;
    }

    .dropzone .dz-preview.dz-success .dz-progress, .dropzone .dz-preview.dz-error .dz-progress {
        display: none;
    }
}

#repository_container  {
    .bp4-tabs.bp4-vertical > .bp4-tab-list .bp4-tab-indicator-wrapper .bp4-tab-indicator {
        background-color: #e648f09e
    }
}

#loaded_tile_widget {
    margin-top: 15px;
    h6 {
        font-weight: 600
    }
    p {
        margin-bottom: 0;
        font-size: 12px
    }
}


.tactic-tag-button-list {
    margin-top: 65px;
    overflow-y: hidden;
    min-width: 165px;
    &:hover {
        overflow-y: auto;
    }
    .hidden-tag {
        opacity: 50%;
        .bp4-tree-node-label {
            font-style: italic
        }
    }

}



