/*
 * Copyright 2022 Palantir Technologies, Inc. All rights reserved.
 */
/*
 * Copyright 2022 Palantir Technologies, Inc. All rights reserved.
 */
.light-theme .lib-tab-button .bp5-icon-cube, .light-theme .context-tab-button-content .bp5-icon-cube, .light-theme .menu-bar .bp5-icon-cube, .light-theme .combined-metadata .bp5-icon-cube, .light-theme .all-pane .bp5-icon-cube {
  color: #383e47 !important;
}
.light-theme .lib-tab-button .bp5-icon-folder-close, .light-theme .context-tab-button-content .bp5-icon-folder-close, .light-theme .menu-bar .bp5-icon-folder-close, .light-theme .combined-metadata .bp5-icon-folder-close, .light-theme .all-pane .bp5-icon-folder-close {
  color: #383e47 !important;
}
.light-theme .lib-tab-button .bp5-icon-database, .light-theme .lib-tab-button .bp5-icon-th, .light-theme .lib-tab-button .bp5-icon-freeform, .light-theme .lib-tab-button .bp5-icon-align-left, .light-theme .context-tab-button-content .bp5-icon-database, .light-theme .context-tab-button-content .bp5-icon-th, .light-theme .context-tab-button-content .bp5-icon-freeform, .light-theme .context-tab-button-content .bp5-icon-align-left, .light-theme .menu-bar .bp5-icon-database, .light-theme .menu-bar .bp5-icon-th, .light-theme .menu-bar .bp5-icon-freeform, .light-theme .menu-bar .bp5-icon-align-left, .light-theme .combined-metadata .bp5-icon-database, .light-theme .combined-metadata .bp5-icon-th, .light-theme .combined-metadata .bp5-icon-freeform, .light-theme .combined-metadata .bp5-icon-align-left, .light-theme .all-pane .bp5-icon-database, .light-theme .all-pane .bp5-icon-th, .light-theme .all-pane .bp5-icon-freeform, .light-theme .all-pane .bp5-icon-align-left {
  color: #383e47 !important;
}
.light-theme .lib-tab-button .bp5-icon-projects, .light-theme .lib-tab-button .bp5-icon-console, .light-theme .lib-tab-button .bp5-icon-globe-network, .light-theme .context-tab-button-content .bp5-icon-projects, .light-theme .context-tab-button-content .bp5-icon-console, .light-theme .context-tab-button-content .bp5-icon-globe-network, .light-theme .menu-bar .bp5-icon-projects, .light-theme .menu-bar .bp5-icon-console, .light-theme .menu-bar .bp5-icon-globe-network, .light-theme .combined-metadata .bp5-icon-projects, .light-theme .combined-metadata .bp5-icon-console, .light-theme .combined-metadata .bp5-icon-globe-network, .light-theme .all-pane .bp5-icon-projects, .light-theme .all-pane .bp5-icon-console, .light-theme .all-pane .bp5-icon-globe-network {
  color: #383e47 !important;
}
.light-theme .lib-tab-button .bp5-icon-application, .light-theme .lib-tab-button .bp5-icon-timeline-line-chart, .light-theme .lib-tab-button .bp5-icon-timeline-area-chart, .light-theme .context-tab-button-content .bp5-icon-application, .light-theme .context-tab-button-content .bp5-icon-timeline-line-chart, .light-theme .context-tab-button-content .bp5-icon-timeline-area-chart, .light-theme .menu-bar .bp5-icon-application, .light-theme .menu-bar .bp5-icon-timeline-line-chart, .light-theme .menu-bar .bp5-icon-timeline-area-chart, .light-theme .combined-metadata .bp5-icon-application, .light-theme .combined-metadata .bp5-icon-timeline-line-chart, .light-theme .combined-metadata .bp5-icon-timeline-area-chart, .light-theme .all-pane .bp5-icon-application, .light-theme .all-pane .bp5-icon-timeline-line-chart, .light-theme .all-pane .bp5-icon-timeline-area-chart {
  color: #383e47 !important;
}
.light-theme .lib-tab-button .bp5-icon-list, .light-theme .context-tab-button-content .bp5-icon-list, .light-theme .menu-bar .bp5-icon-list, .light-theme .combined-metadata .bp5-icon-list, .light-theme .all-pane .bp5-icon-list {
  color: #383e47 !important;
}
.light-theme .lib-tab-button .bp5-icon-code, .light-theme .context-tab-button-content .bp5-icon-code, .light-theme .menu-bar .bp5-icon-code, .light-theme .combined-metadata .bp5-icon-code, .light-theme .all-pane .bp5-icon-code {
  color: #383e47 !important;
}

.bp5-dark .lib-tab-button .bp5-icon-cube, .bp5-dark .context-tab-button-content .bp5-icon-cube, .bp5-dark .menu-bar .bp5-icon-cube, .bp5-dark .combined-metadata .bp5-icon-cube, .bp5-dark .all-pane .bp5-icon-cube {
  color: #fbb360 !important;
}
.bp5-dark .lib-tab-button .bp5-icon-folder-close, .bp5-dark .context-tab-button-content .bp5-icon-folder-close, .bp5-dark .menu-bar .bp5-icon-folder-close, .bp5-dark .combined-metadata .bp5-icon-folder-close, .bp5-dark .all-pane .bp5-icon-folder-close {
  color: #fbb360 !important;
}
.bp5-dark .lib-tab-button .bp5-icon-database, .bp5-dark .lib-tab-button .bp5-icon-th, .bp5-dark .lib-tab-button .bp5-icon-freeform, .bp5-dark .lib-tab-button .bp5-icon-align-left, .bp5-dark .context-tab-button-content .bp5-icon-database, .bp5-dark .context-tab-button-content .bp5-icon-th, .bp5-dark .context-tab-button-content .bp5-icon-freeform, .bp5-dark .context-tab-button-content .bp5-icon-align-left, .bp5-dark .menu-bar .bp5-icon-database, .bp5-dark .menu-bar .bp5-icon-th, .bp5-dark .menu-bar .bp5-icon-freeform, .bp5-dark .menu-bar .bp5-icon-align-left, .bp5-dark .combined-metadata .bp5-icon-database, .bp5-dark .combined-metadata .bp5-icon-th, .bp5-dark .combined-metadata .bp5-icon-freeform, .bp5-dark .combined-metadata .bp5-icon-align-left, .bp5-dark .all-pane .bp5-icon-database, .bp5-dark .all-pane .bp5-icon-th, .bp5-dark .all-pane .bp5-icon-freeform, .bp5-dark .all-pane .bp5-icon-align-left {
  color: #8abbff !important;
}
.bp5-dark .lib-tab-button .bp5-icon-projects, .bp5-dark .lib-tab-button .bp5-icon-console, .bp5-dark .lib-tab-button .bp5-icon-globe-network, .bp5-dark .context-tab-button-content .bp5-icon-projects, .bp5-dark .context-tab-button-content .bp5-icon-console, .bp5-dark .context-tab-button-content .bp5-icon-globe-network, .bp5-dark .menu-bar .bp5-icon-projects, .bp5-dark .menu-bar .bp5-icon-console, .bp5-dark .menu-bar .bp5-icon-globe-network, .bp5-dark .combined-metadata .bp5-icon-projects, .bp5-dark .combined-metadata .bp5-icon-console, .bp5-dark .combined-metadata .bp5-icon-globe-network, .bp5-dark .all-pane .bp5-icon-projects, .bp5-dark .all-pane .bp5-icon-console, .bp5-dark .all-pane .bp5-icon-globe-network {
  color: #72ca9b !important;
}
.bp5-dark .lib-tab-button .bp5-icon-application, .bp5-dark .lib-tab-button .bp5-icon-timeline-line-chart, .bp5-dark .lib-tab-button .bp5-icon-timeline-area-chart, .bp5-dark .context-tab-button-content .bp5-icon-application, .bp5-dark .context-tab-button-content .bp5-icon-timeline-line-chart, .bp5-dark .context-tab-button-content .bp5-icon-timeline-area-chart, .bp5-dark .menu-bar .bp5-icon-application, .bp5-dark .menu-bar .bp5-icon-timeline-line-chart, .bp5-dark .menu-bar .bp5-icon-timeline-area-chart, .bp5-dark .combined-metadata .bp5-icon-application, .bp5-dark .combined-metadata .bp5-icon-timeline-line-chart, .bp5-dark .combined-metadata .bp5-icon-timeline-area-chart, .bp5-dark .all-pane .bp5-icon-application, .bp5-dark .all-pane .bp5-icon-timeline-line-chart, .bp5-dark .all-pane .bp5-icon-timeline-area-chart {
  color: #bdadff !important;
}
.bp5-dark .lib-tab-button .bp5-icon-list, .bp5-dark .context-tab-button-content .bp5-icon-list, .bp5-dark .menu-bar .bp5-icon-list, .bp5-dark .combined-metadata .bp5-icon-list, .bp5-dark .all-pane .bp5-icon-list {
  color: #ff66a1 !important;
}
.bp5-dark .lib-tab-button .bp5-icon-code, .bp5-dark .context-tab-button-content .bp5-icon-code, .bp5-dark .menu-bar .bp5-icon-code, .bp5-dark .combined-metadata .bp5-icon-code, .bp5-dark .all-pane .bp5-icon-code {
  color: #d4f17e !important;
}

.option-row-highlight {
  color: #c87619 !important;
  font-weight: bold !important;
}

.light-theme.bp5-navbar {
  box-shadow: none;
}
.light-theme.main-outer {
  background-color: #d3d8de;
}
.light-theme #main-panel .main-heading {
  color: #5f6b7c;
  background-color: #f6f8fa;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
}
.light-theme #table-area {
  border-right: 1px solid #ddd;
}
.light-theme #table-area mark {
  background-color: #cebde6;
}
.light-theme.menu-bar {
  box-shadow: none;
  border-top: 0.75px solid #c5cbd3;
  border-bottom: 0.75px solid #c5cbd3;
}
.light-theme.resource-viewer-holder, .light-theme.merge-viewer-outer .light-theme.login-body {
  background-color: white;
}
.light-theme.account-settings {
  background-color: white;
}
.light-theme.pane-holder, .light-theme.library-pane-holder {
  background-color: white;
}
.light-theme .combined-metadata, .light-theme div.filepicker {
  background-color: #f6f7f9;
}
.light-theme .combined-metadata .bp5-input:disabled {
  color: #5f6b7c !important;
}
.light-theme .notes-field-markdown-output {
  background: rgba(255, 255, 255, 0.7);
  color: #5f6b7c;
}
.light-theme .notes-field-markdown-output code {
  background-color: #dce0e5;
  color: #383e47;
  padding-left: 2px;
  padding-right: 2px;
}
.light-theme .notes-field-markdown-output pre {
  background-color: #dce0e5;
  color: #383e47;
  padding: 4px;
}
.light-theme .tactic-tag-button-list .bp5-tree-node-selected .bp5-tree-node-content {
  background-color: white;
  color: #2d72d2;
  font-weight: 900;
}
.light-theme .tactic-tag-button-list .bp5-tree-node-selected .bp5-icon {
  background-color: white;
  color: #2d72d2 !important;
  font-weight: 900;
}
.light-theme .cm-matchhighlight {
  background-color: lightgreen;
}
.light-theme .cm-searchhighlight {
  background-color: #dce0e5;
}
.light-theme .cm-focussearchhighlight {
  background-color: #fbb360;
}
.light-theme #creator-root .light-theme .CodeMirror-gutters, .light-theme creator-root .light-theme .CodeMirror-gutters {
  background-color: #f6f7f9;
}
.light-theme .searchable-console mark {
  background-color: #cebde6;
}
.light-theme .tile-panel-heading {
  color: #5f6b7c;
  background-color: #f6f8fa;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
}
.light-theme .tile-panel {
  background-color: white !important;
}
.light-theme .tile-form-divider .bp5-divider {
  border-bottom: 2px solid #5c7080;
  width: 50%;
  min-width: 200px;
}
.light-theme .chat-module .bp5-card-list .bp5-card {
  background-color: #f6f7f9;
}
.light-theme .chat-response, .light-theme .text-panel-output {
  background-color: #edeff2;
}
.light-theme .chat-response code, .light-theme .text-panel-output code {
  background-color: #dce0e5;
  color: inherit;
  padding-left: 2px;
  padding-right: 2px;
}
.light-theme .chat-response pre, .light-theme .text-panel-output pre {
  padding: 10px;
  background-color: #d3d8de;
  overflow: scroll;
}
.light-theme #commands-pane .command-name {
  font-weight: 900;
  color: #47505c;
}
.light-theme .divider-option {
  color: #2d72d2 !important;
  font-weight: bold !important;
  background-color: #f6f7f9 !important;
}
.light-theme #console, .light-theme #exports-panel {
  background-color: white;
}
.light-theme #console-search-form {
  background-color: white;
}
.light-theme .console-text {
  background-color: #f6f7f9 !important;
  border: 1px solid #c7c7c7 !important;
}
.light-theme #console-heading, .light-theme #exports-heading, .light-theme #exports-footing {
  background-color: #edeff2 !important;
}
.light-theme #exports-body {
  background-color: white;
}
.light-theme #selected-export {
  color: #5f6b7c;
}
.light-theme .export-header-text {
  color: #6c757d;
}
.light-theme .log-panel-body {
  color: #616161 !important;
}
.light-theme .log-panel .CodeMirror {
  border: 1px solid #c7c7c7 !important;
}
.light-theme .log-panel .CodeMirror-lines {
  background-color: #f6f7f9 !important;
}
.light-theme .log-panel .CodeMirror-gutters {
  background-color: #f6f7f9;
}
.light-theme .CodeMirror {
  border: 1.5px solid rgba(128, 128, 128, 0.3882352941);
  border-radius: 3px;
}
.light-theme caption {
  color: #6c757d;
}
.light-theme .account-pane {
  background-color: #edeff2;
}

.bp5-dark.main-outer {
  background-color: #5f6b7c;
}
.bp5-dark #main-panel .main-heading {
  background-color: #2f343c;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
}
.bp5-dark #table-area {
  border-right: 1px none;
}
.bp5-dark #table-area mark {
  background-color: #cebde6;
}
.bp5-dark.resource-viewer-holder, .bp5-dark.merge-viewer-outer, .bp5-dark.login-body {
  background-color: #2f343c;
}
.bp5-dark.menu-bar {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px 0 rgba(17, 20, 24, 0.4);
}
.bp5-dark.account-settings {
  background-color: #2f343c;
}
.bp5-dark.pane-holder {
  background-color: #383e47;
}
.bp5-dark.library-pane-holder {
  background-color: #2f343c;
}
.bp5-dark .combined-metadata, .bp5-dark div.filepicker, .bp5-dark #options-pane, .bp5-dark #exports-pane {
  background-color: #2f343c;
}
.bp5-dark div.filepicker {
  background-color: #383e47;
}
.bp5-dark .notes-field-markdown-output {
  background-color: #2f343c;
  color: #f6f7f9;
}
.bp5-dark .notes-field-markdown-output code {
  background-color: #252a31;
  color: #d3d8de;
  padding-left: 2px;
  padding-right: 2px;
}
.bp5-dark .notes-field-markdown-output pre {
  background-color: #252a31;
  color: #d3d8de;
  padding: 4px;
}
.bp5-dark .tactic-tag-button-list .bp5-tree-node-selected .bp5-tree-node-content {
  background-color: #2f343c;
  color: #8abbff;
  font-weight: 900;
}
.bp5-dark .tactic-tag-button-list .bp5-tree-node-selected .bp5-icon {
  background-color: #2f343c;
  color: #8abbff !important;
  font-weight: 900;
}
.bp5-dark .log-panel-body {
  color: white !important;
}
.bp5-dark .cm-matchhighlight {
  background-color: lightgreen;
  color: black !important;
}
.bp5-dark .cm-searchhighlight {
  background-color: #6aaed8;
  color: black !important;
}
.bp5-dark .cm-focussearchhighlight {
  background-color: yellow;
  color: black !important;
}
.bp5-dark .CodeMirror-merge-gap {
  background: #5f6b7c;
}
.bp5-dark .CodeMirror-merge-r-chunk {
  background: #2f343c;
}
.bp5-dark .CodeMirror-merge-r-connect {
  fill: #2f343c;
}
.bp5-dark .searchable-console mark {
  background-color: #cebde6;
}
.bp5-dark .tile-panel-heading {
  background-color: #2f343c;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
  margin-right: 2px;
  margin-left: 2px;
}
.bp5-dark .tile-panel {
  background-color: #383e47 !important;
}
.bp5-dark .tile-form-divider .bp5-divider {
  border-color: white;
  width: 50%;
  min-width: 200px;
}
.bp5-dark .chat-response, .bp5-dark .text-panel-output {
  background-color: #383e47;
}
.bp5-dark .chat-response code, .bp5-dark .text-panel-output code {
  background-color: #252a31;
  color: inherit;
  padding-left: 2px;
  padding-right: 2px;
}
.bp5-dark .chat-response pre, .bp5-dark .text-panel-output pre {
  padding: 10px;
  background-color: #252a31;
  overflow: scroll;
}
.bp5-dark #commands-pane .command-name {
  font-weight: bold;
  color: #8f99a8;
}
.bp5-dark .divider-option {
  color: #8abbff !important;
  font-weight: bold !important;
  background-color: #383e47 !important;
}
.bp5-dark #console, .bp5-dark #exports {
  background-color: #2f343c;
  margin-left: 2px;
  margin-right: 2px;
}
.bp5-dark #console-search-form, .bp5-dark #console-panel {
  background-color: #2f343c;
}
.bp5-dark #console-heading, .bp5-dark #exports-heading, .bp5-dark #exports-footing {
  background-color: #383e47 !important;
  margin-left: 2px;
  margin-right: 2px;
}
.bp5-dark .export-header-text {
  color: #c5cbd3;
}
.bp5-dark .console-text {
  border: 1px solid #c7c7c7 !important;
}
.bp5-dark caption {
  color: #d3d8de;
}
.bp5-dark .account-pane {
  background-color: #383e47;
}

.status-holder.light-theme {
  background-color: transparent;
}
.status-holder.bp5-dark {
  background-color: transparent;
}
.status-holder.bp5-dark.light-dark {
  background-color: #5f6b7c;
}

#main-root .status-holder.light-theme {
  background-color: #d3d8de;
}

.context-menu-header {
  font-style: italic;
  margin-bottom: 9px;
}

#library-home-root {
  max-height: 100%;
}
#library-home-root.not-in-context {
  height: 100%;
}
#library-home-root .selector-button td {
  border: white;
  padding-bottom: 2px !important;
}
#library-home-root .selector-button.active td {
  background-color: rgba(19, 124, 189, 0.2) !important;
  color: #106ba3;
  font-weight: 900;
}
#library-home-root .open-selector-row {
  color: gray;
}
#library-home-root .bp5-button.bp5-intent-warning {
  background-color: #f6f7f9;
  color: #bf7326 !important;
}
#library-home-root .bp5-button.bp5-intent-warning .bp5-icon {
  color: #bf7326 !important;
}
#library-home-root .bp5-button.bp5-intent-success {
  background-color: #f6f7f9;
  color: #0d8050 !important;
}
#library-home-root .bp5-button.bp5-intent-success .bp5-icon {
  color: #0d8050 !important;
}
#library-home-root .bp5-button.bp5-intent-primary {
  background-color: #f6f7f9;
  color: #106ba3 !important;
}
#library-home-root .bp5-button.bp5-intent-primary .bp5-icon {
  color: #106ba3 !important;
}
#library-home-root .bp5-button.bp5-intent-regular {
  background-color: #f6f7f9;
  color: #5c7080 !important;
}
#library-home-root .bp5-button.bp5-intent-regular .bp5-icon {
  color: #5c7080 !important;
}
#library-home-root .bp5-table-quadrant-scroll-container {
  overflow: hidden;
}
#library-home-root .bp5-table-quadrant-scroll-container:hover {
  overflow: auto;
}
#library-home-root .selector-button:hover td {
  color: #106ba3 !important;
}
#library-home-root .elevation-1-shadow {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
}
#library-home-root .elevation-0-shadow {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
}
#library-home-root .dropdown-toggle.toolbar-button::after {
  display: none;
}
#library-home-root .dropdown-toggle.toolbar-button-sm::after {
  display: none;
}
#library-home-root .dropdown-toggle.toolbar-button .button-text::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}
#library-home-root .dropdown-toggle.toolbar-button-sm .button-text::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}
#library-home-root .bp5-tabs.bp5-vertical {
  height: 100%;
}
#library-home-root .bp5-tabs.bp5-vertical > .bp5-tab-list .bp5-tab {
  padding: 0 12px;
  margin: 0;
}
#library-home-root .bp5-tab-list {
  margin-top: unset;
  padding-top: 100px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #383e47;
}
#library-home-root .bp5-tab-indicator {
  background-color: rgba(72, 175, 240, 0.6196078431);
  border-radius: 0;
  width: 46px;
}
#library-home-root .bp5-table-column-headers .bp5-table-header {
  font-weight: 600;
}
#library-home-root .bp5-tab:focus {
  outline: none;
}
#library-home-root .bp5-tabs.bp5-vertical > .bp5-tab-panel {
  padding-left: 0 !important;
  margin-left: 0px;
}
#library-home-root .bp5-checkbox .bp5-control-indicator:focus {
  outline: none;
}
#library-home-root .bp5-table-cell {
  font-size: 13px;
  line-height: 27px;
}
#library-home-root table {
  line-height: 1.4;
  font-size: 13px;
}

.import-dialog {
  width: 700px;
}
.import-dialog .filepicker.dropzone.dz-clickable {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow: auto;
  min-height: 100px;
  padding: 10px;
}
.import-dialog .dropzone .dz-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: unset;
  min-height: unset;
}
.import-dialog .dropzone .dz-preview.dz-success, .import-dialog .dropzone .dz-preview.dz-error {
  opacity: 0.5;
}
.import-dialog .dropzone .dz-preview.dz-success .dz-success-mark, .import-dialog .dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.import-dialog .dropzone .dz-preview .dz-error-mark, .import-dialog .dropzone .dz-preview .dz-success-mark {
  left: unset;
  height: unset;
  margin-left: unset;
  margin-top: unset;
  position: relative;
  top: unset;
  width: 54px;
}
.import-dialog .dropzone .dz-preview.dz-success .dz-progress, .import-dialog .dropzone .dz-preview.dz-error .dz-progress {
  display: none;
}

#repository_container .bp5-tabs.bp5-vertical > .bp5-tab-list .bp5-tab-indicator-wrapper .bp5-tab-indicator {
  background-color: rgba(230, 72, 240, 0.6196078431);
}

#loaded_tile_widget {
  margin-top: 15px;
}
#loaded_tile_widget h6 {
  font-weight: 600;
}
#loaded_tile_widget p {
  margin-bottom: 0;
  font-size: 12px;
}

.hidden_cell {
  opacity: 0.5;
}

.tactic-tag-button-list {
  margin-top: 65px;
  overflow-y: hidden;
  min-width: 165px;
}
.tactic-tag-button-list:hover {
  overflow-y: auto;
}
.tactic-tag-button-list .bp5-tree-node-content {
  font-size: 12px;
  height: 25px;
}
.tactic-tag-button-list .bp5-tree-node-content .bp5-tree-node-icon svg {
  width: 14px;
  height: 14px;
}
.tactic-tag-button-list .hidden-tag {
  opacity: 0.5;
}
.tactic-tag-button-list .hidden-tag .bp5-tree-node-label {
  font-style: italic;
}

/*# sourceMappingURL=library_home.css.map */
