
.button-group {
    display: inline-block;
}

.radio-stack {
    width: 50px;
}

.stacked-button {
    margin-bottom: 10px;
    display: block;
}

.tile-panel {
    height: 265px;
}

.tile-panel-heading {
    cursor: move;
}

#tile-area {
    margin: 0px;
    overflow: scroll;
}

#spin-place {
    position: relative;
}

#tile-display-area {
    overflow: scroll;
    padding: 0;
    margin: 15px 15px 15px 15px;
}

.back {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 0px;
    overflow: scroll
}

.front {
    background-color: #dff0d8;
    padding: 0px;
    margin: 0px;
}

.tile-body {
    padding: 0px;
}