#myplace2 {
  color: red;
}

body {
  background-color: #d3d8de;
}

/* console */
.bottom-heading-element {
  height: 30px !important;
  line-height: 12px;
}

.bottom-heading-element-button {
  margin-left: 13px !important;
  align-items: baseline;
}

#console {
  text-align: left;
  font-size: 14px;
  padding: 0 10px 5px 0;
}

#console-panel {
  margin-left: 0.5rem;
  margin-right: 0;
  padding: 0 !important;
}
#console-panel.am-shrunk {
  margin-top: 0;
}
#console-panel.am-zoomed {
  margin-top: 0.5rem;
}
#console-panel.not-shrunk {
  margin-top: 0;
}

#console-heading {
  display: flex;
  justify-content: space-between;
  padding: 2px 2px 2px 2px;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
  height: 32px;
}
#console-heading .bp5-icon {
  margin-right: 3px;
}

#console-header-left .bp5-navbar {
  box-shadow: none;
}
#console-header-left .bp5-navbar.light-theme, #console-header-left .bp5-navbar.bp5-dark {
  background-color: transparent;
}

#console-panel .CodeMirror {
  height: auto !important;
  margin-top: 2px;
}

.console-text {
  padding: 10px;
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
}
.console-text:hover {
  overflow-y: auto;
}

.console-code {
  width: 100%;
  padding-right: 10px !important;
  position: relative;
}
.console-code .float-buttons {
  position: absolute;
  top: 0px;
  right: 14px;
}

.in-section .console-code .float-buttons {
  right: 26.5px;
}

.text-box {
  position: relative;
}
.text-box .float-buttons {
  position: absolute;
  top: 0px;
  right: 49px;
}

.in-section .text-box .float-buttons {
  right: 61.5px;
}

.text-panel-output p:last-child, .text-panel-output ul:last-child, .text-panel-output h1:last-child, .text-panel-output h2:last-child, .text-panel-output h3:last-child, .text-panel-output h4:last-child {
  margin-bottom: 4px;
}

.execution-counter {
  padding-right: 17px;
  padding-top: 8px;
  color: #9B79CC;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.bp5-dark .link-button-group .bp5-button-text {
  color: #abb3bf;
}
.bp5-dark .CodeMirror {
  border-width: 0.1px;
  border-color: rgba(171, 179, 191, 0.6);
}

.log-panel {
  border: none;
  margin: 1px 4px 1px 8px;
  box-shadow: none;
  position: relative;
  overflow: hidden;
  transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
}
.log-panel.in-section:not(.divider-log-panel) {
  margin-left: 25px;
}
.log-panel .notclose {
  font-size: 15px;
  padding-bottom: 3px;
}
.log-panel .button-div {
  opacity: 0;
}
.log-panel .button-div button {
  align-self: baseline;
  margin-top: 10px;
}
.log-panel .console-sorter {
  padding-top: 6px;
  display: flex;
}
.log-panel:hover .button-div {
  opacity: 100;
  transition-delay: 0.1s;
}
.log-panel.selected {
  border-right: 3px solid #738091;
  border-left: 3px solid #738091;
  margin-left: 5px;
  margin-right: 1px;
}
.log-panel.log-panel-visible {
  max-height: 9999px;
}
.log-panel.log-panel-visible .log-panel-body {
  display: inline-flex;
}
.log-panel.log-panel-visible .log-code-output {
  display: block;
}
.log-panel.log-panel-visible :not(:focus-within), .log-panel.log-panel-visible :not(.selected) {
  min-height: 0;
}
.log-panel.log-panel-visible .link-button-group {
  min-height: unset;
  margin-top: 5px;
  padding-left: 6px;
}
.log-panel.log-panel-visible .link-button-group .bp5-button {
  margin-top: 6px;
  padding-left: 0;
  padding-right: 0;
}
.log-panel.log-panel-visible:not(:focus-within):hover .button-div.shrink-expand-div {
  opacity: 100;
}
.log-panel.log-panel-visible:not(.selected):hover .button-div.shrink-expand-div {
  opacity: 100;
}
.log-panel.log-panel-invisible {
  max-height: 40px;
}
.log-panel.log-panel-invisible .log-panel-summary {
  display: block;
}
.log-panel.log-panel-invisible .console-spin-outer {
  display: none;
}
.log-panel.log-panel-invisible .log-code-output {
  display: none;
}
.log-panel.log-panel-invisible.fixed-log-panel:hover {
  display: inline-block;
}
.log-panel.log-panel-invisible:hover .button-div.shrink-expand-div {
  opacity: 100;
}
.log-panel.log-panel-invisible:hover .expand-log-button {
  display: inline-block;
}

.log-panel .bp5-editable-text:hover::before {
  outline: none;
  box-shadow: none;
}

.log-panel-body {
  padding: 0;
}
.log-panel-body .bp5-input:focus {
  outline: none;
  box-shadow: none;
}
.log-panel-body .tile-table {
  display: inline-block;
  margin-right: 10px;
  border: none;
}
.log-panel-body svg {
  width: 100%;
  height: 100%;
}
.log-panel-body .button-div svg {
  width: auto;
  height: auto;
}

.console-divider-text {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  font-weight: 700;
}

.console-divider-divider {
  width: 100%;
}

.log-panel-summary {
  padding: 5px 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-style: italic;
}
.log-panel-summary.code-panel-summary {
  font-style: italic;
}

.log-code-output {
  padding: 10px 45px 10px 70px;
}

#selected-export {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

#exports-heading {
  display: flex;
  justify-content: flex-start;
  padding: 2px 2px 2px 2px;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1490196078);
  height: 32px;
}
#exports-heading .bp5-icon {
  margin-right: 3px;
}

#exports-footing {
  display: flex;
  justify-content: flex-start;
  padding: 2px 2px 2px 2px;
  border-top: 1px solid rgba(16, 22, 26, 0.1490196078);
  height: 23px;
}
#exports-footing select {
  height: 20px;
}
#exports-footing label {
  line-height: 19px;
  margin-right: 0;
  font-size: 11px;
}
#exports-footing .bp5-icon {
  margin-right: 3px;
  height: 20px;
  top: 2px;
}

#exports-info {
  font-size: 12px;
  line-height: 20px;
}

#exports-panel {
  margin-right: 0;
  padding: 0 !important;
}
#exports-panel.am-zoomed {
  margin-top: 0.5rem;
}
#exports-panel.not-shrunk {
  margin-top: 0;
}

#exports-button-list .bp5-button-group.bp5-vertical {
  max-width: 100%;
}

.export-tail {
  height: 24px;
  margin-top: 2px;
}

.export-button {
  font-size: 90%;
}
.export-button svg {
  width: 11.5px;
  height: 11.5px;
  margin-right: 2px;
}
.export-button span {
  margin-right: 3px;
}
.export-button .bp5-button-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.export-label {
  font-size: 90%;
  font-weight: 400;
}

.export-label label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-exports-but .bp5-icon {
  margin-top: 2px;
}

.export-header-text {
  text-align: left;
  font-size: 14px;
}

button.notclose {
  -webkit-appearance: none;
  padding: 3px;
  cursor: pointer;
  background: transparent;
  opacity: 0.9;
  border: 0;
  display: inline-flex;
}

button.notclose:hover {
  opacity: 0.3 !important;
}

/*# sourceMappingURL=tactic_console.css.map */
