
$repository-title-color: #4EA818;

$sortable-table-header-background: #eee;
$sortable-table-header-text-color: #666666;

$resource-action-button-border-style: solid white 1px;
$resource-manager-tab-font-size: 20px;

/* General resources */

table.sortable thead {
    background-color:$sortable-table-header-background;
    color:$sortable-table-header-text-color;
    font-weight: bold;
    cursor: default;
}

.selector-button:hover {
    background-color: #cbcbcb !important
}

.selector-button.active td {
    background-color: #5bb4d2 !important
}

.res-name-button {
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.res-name-button:hover {
    color: #5bc0de;
    background-color: white;
}

.res-name-button:active {
    color: #1b6d85;
}

/* navbar */

#menu-area {
    a {
        //color: $menu-text-color;
        font-size: 16px;
    }
    .dropdown-toggle {
        padding-right: 6px;
        padding-left: 6px
    }
}

#mybrand {
    font-size: 20px !important;
}

#my-navbar-right {
    font-size: 16px;
    a {
        padding-right: 10px;
        padding-left: 10px
    }
}

/* user manage */

.repository-title {
    color: $repository-title-color;
}

a[role="tab"] {
    font-size: $resource-manager-tab-font-size
}

.nav-tabs a {
    outline: 0px;
}

.resource-module {
    margin: 10px
}


/* resource module */

.action-button {
    border: $resource-action-button-border-style
}

.indent-row {
    margin-left: 5px;
    margin-bottom: 20px;
}


.resource-module h2 {
    margin-top:0px;
}


.metadata-field {
    width: 350px
}

    /* Tile related */

    .tile-panel-heading {
        .close .glyphicon {
            font-size: 17px
        }
        .notclose .glyphicon {
            font-size: 17px
        }
    }



    /* plot related */
    .d3plot { font: 10px Arial;}

    .d3plot path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .d3plot path.domain {
        fill: none;
        stroke: #a4a4a4;
        shape-rendering: crispEdges;
    }

    .d3plot line {
        stroke: black;
    }

    .d3plot .axis path,
    .d3plot .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }

    .d3plot .heatmap-cell-border {
        stroke: #eee;
        stroke-width:0.3px;
    }

    .d3plot .heatmap-colLabel {
        fill: #aaa;
    }

    .d3plot .heatmap-rowLabel {
        fill: #aaa;
    }

    .d3plot-title {
        font-size: 14px;
    }

    /* tooltips */

    $tooltip-background-color: #fde930;
    $tooltip-text-color: #66431a;

    .tooltip .tooltip-inner {background-color: $tooltip-background-color;
        color: $tooltip-text-color}

    .tooltip.top .tooltip-arrow { border-top-color:$tooltip-background-color}

    .tooltip.bottom .tooltip-arrow { border-bottom-color:$tooltip-background-color}

    .tooltip-inner{
        -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
        zoom: 1;
    }


    /* Tile table related*/

    .tile-table td {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }

    .sidebyside-table {
        display: inline-block;
        margin-right: 10px;
        border: none;
    }


    .row-clickable:hover {
        background-color: #5bc0de !important
    }

    .row-clickable:active {
        background-color: #1b6d85 !important
    }

    td.cell-clickable:hover {
        background-color: #5bc0de !important
    }

    td.cell-clickable:active {
        background-color: #1b6d85 !important
    }

    .element-clickable:hover {
        background-color: #5bc0de !important
    }

    .element-clickable:active {
        background-color: #1b6d85 !important
    }

    /* console */

    #console {
        text-align: left;
        font-size: 12px;
        overflow: auto;
        padding: 5px;
    }

    #console-panel {
        margin-left: 5px;
        margin-right: 5px
    }


    #console-heading {
        font-size: 12px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: left
    }

    .log-panel {
        border: none;
        margin: 1px;
        box-shadow: none
    }

    .log-panel-body {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .log-panel .panel-heading {
        background-color: white;
        border: none;
        padding: 2px;
    }

    .log-panel:hover {
        border: 1px solid #ddd!important;
    }

    .log-panel .panel-heading:hover {
        background-color: #f5f5f5;
    }

    .log-panel .notclose {
        padding-left: 6px
    }

    /* module viewer */

    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
        width: auto;
    }

    /*main window*/

    .grid-left {
        display: inline-block;
        width: 500px;
        vertical-align:top
    }

    .grid-right {
        display: inline-block;
        width: 300px;
        vertical-align:top
    }

    .outer-container {
        padding: 25px;
    }

    #tile-div {
        padding: 5px;
    }

    #tile-area {
        margin: 0px;
        border: 0px;
        overflow: auto;
    }

    /* tile */

    .tile-panel {
        height: 265px;
        margin: 7px;
        border: 2px solid #BCE8F1;
        background-color: white;
    }

    .tile-panel-float {
        float: left;
    }

    .tile-panel-heading {
        cursor: move;
        padding: 5px 7px;
    }


    #spin-place {
        position: relative;
    }

    .tile-display-area {
        overflow: auto;
        padding: 0;
        margin: 15px 15px 15px 15px;
    }

    .back {
        padding: 20px;
        margin: 0px;
        overflow: auto
    }

    .front {
        padding: 0px;
        margin: 0px;
    }

    .tile-body {
        padding: 0px;
    }

    .tile-body img {
        cursor: pointer
    }

    .output-plot {
        max-width: 100%;
        max-height: 100%
    }

    /* Other*/

    .status-msg {
        font-size: 16px;
        color: dimgray;
    }

    .highlight {
        background: yellow;
    }

    button.notclose {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: transparent;
        opacity: .5;
        border: 0;
    }

    button.notclose:hover {
        opacity: .8;
    }
    .monospace {
        font-family: monospace
    }

    .hide-important {
        display: none !important
    }

