/* main navbar */
$main-navbar-foreground-color: #5f5f5f;


/* tile parameters */
$tile-header-background-color: #d9edf7; // bootstrap default is #d9edf7
$tile-header-foreground-color: #31708f; // boostrap default is #31708f
$tile-header-sourcechange-color: #f7d66b80;
$tile-panel-border-style: 2px solid #BCE8F1;
$tile-panel-sourcechange-border-style: 2px solid #f7d66b80;
$tile-panel-background-color: white;
$tile-panel-foreground-color: #333; // bootstrap default is #333

$search-highlight-color: yellow;
.cm-matchhighlight {background-color: lightgreen}

/* general use */
$button-notclose-opacity: .9;
$button-notclose-hover-opacity: .3;

/* console related */
$console-header-background-color: #f5f5f5; // bootstrap default is #f5f5f5
$console-header-foreground-color: #333; // bootstrap default is #333
$console-font-family: Arial, Helvetica, sans-serif;
$console-header-font-size: 16px;

$console-panel-border-style: 1px solid #c7c7c7;

$log-panel-border-style: 1px solid #c7c7c7;
$log-panel-header-background-color: #f5f5f5;
$log-panel-header-foreground-color: #333;
$log-panel-header-background-hover-color: #f5f5f5;
$log-panel-font-color: #616161;
$console-text-background-color: #f7f7f7;
$console-text-border-color: #616161;


/* resource management and table related */
$repository-title-color: #4EA818;

$repository-distinctive-color: #ffc107;
$sortable-table-header-background: #eee;
$sortable-table-header-text-color: #666666;

$resource-action-button-border-style: solid white 1px;
$resource-popup-button-separator-style: solid white .5px;

$resource-action-button-border-radius: 4px;
$resource-action-button-margin: 2px;

$resource-manager-tab-font-size: 20px;

$resource-manager-border-color: rgb(204, 204, 204);

$selector-background-color: #9B79CC;



/* accordion api related parameters */
$api-border-style: none;

$accordion-button-padding: 7px;
$accordion-button-border-style: $tile-panel-border-style;
$accordian-button-background-color: $tile-header-background-color;
$accordian-button-active-background-color: #ddd;
$accordian-button-foreground-color: $tile-header-foreground-color;
$accordian-button-font-size: 14px;
$accordion-icon-color: #777;

$accordion-panel-border-style: none;
$accordian-panel-background-color: #f1f1f1;
$accordian-panel-foreground-color: #555;
$accordion-panel-font-size: 14px;

$bootstrap-border-color: rgb(221, 221, 221);


/* corrections to deal with changes to bootstrap 4 */
.btn-default {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.glyphicon {
    opacity: .5;
    padding-right: 7px;
}


.well-sm {
    padding: 9px !important;
    border-radius: 3px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.CodeMirror {
    font-size: 14px;
}

.btn-xs {
    padding:1px 5px;
    font-size:10px;
    line-height:1.5;
    border-radius:3px
}

table {
    caption {
        caption-side: top;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

#api-area, #aux-area {
    border: $api-border-style;
}

.bootstrap-border {
    border-color: $bootstrap-border-color
}

/* accordion related */
button.accordion {
    background-color: $accordian-button-background-color;
    color: $accordian-button-foreground-color;
    //cursor: pointer;
    //padding: $accordion-button-padding;
    width: 100%;
    text-align: left;
    border: $accordion-button-border-style;
    margin: 2px;
    //outline: none;
    //font-size: $accordian-button-font-size;
    transition: 0.4s;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: $accordion-icon-color;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

button.accordion.active, button.accordion:hover {
    background-color: $accordian-button-active-background-color;
}

div.accordion-panel {
    padding: 0 18px;
    background-color: $accordian-panel-background-color;
    color: $accordian-panel-foreground-color;
    max-height: 0;
    overflow: hidden;
    transition: 0.1s ease-in-out;
    opacity: 0;
    margin: 0 4px;
    border: $accordion-panel-border-style;
    font-size: $accordion-panel-font-size;

    p {
        margin: 10px 0;
    }
}

div.accordion-panel.show {
    opacity: 1;
    max-height: 500px;
}

/* General resources */

table.sortable thead {
    background-color:$sortable-table-header-background;
    color:$sortable-table-header-text-color;
    font-weight: bold;
    cursor: default;
}

/* navbar */

#main-tactic-navbar {
    color: $main-navbar-foreground-color !important;
}

#menu-area {

    .dropdown-toggle {
        padding-right: 6px;
        padding-left: 6px;
        color: black;
    }

}

#mybrand {
    font-size: 20px !important;
}

#my-navbar-right {
    font-size: 16px;
    a {
        padding-right: 10px;
        padding-left: 10px
    }
}

/* login */



/* user manage and  resource viewers*/

.repository-title {
    color: $repository-title-color;
}

a[role="tab"] {
    font-size: $resource-manager-tab-font-size
}

.left-vertical-nav {
    .nav-link {
        font-size: 16px;
        color: #212529;
    }
    .nav-link:hover {
        background-color: #9b79cc3d;
    }

    .nav-link.active {
        color: #fff;
        background-color: $selector-background-color;
    }
}


.left-vertical-nav.repo {
    .nav-link.active {
        background-color: $repository-distinctive-color !important;
        color: #212529;
    }
     .nav-link:hover {
        background-color: rgba(255, 193, 7, 0.33);
    }
}

.um-nav-icon {
    width: 20px
}

.um-nav-text {
    padding-left: 6px
}

.resource-module {
    display: flex;
    margin: 10px;
    .resource-name {
        margin-bottom: 15px
    }
    .resource-name:hover {
        cursor: pointer
    }
    .notes-field {
        background-color: #f7f7f7;
    }
    .notes-field-markdown-output {
        padding: 10px;
        overflow: auto;
    }
    .right-div {
        overflow: auto;
    }
    .selector-button {
        td {
            border: white;
            padding-bottom: 2px !important;
        }
    }
}

.resource-module .dropdown-toggle.toolbar-button::after {
    display: none;
}

.resource-module .dropdown-toggle.toolbar-button .button-text::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
}



.search-toolbar {
    .tag-editor {
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 3.25px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        li {
            margin:6px 2px 6px 2px
        }
        li:last-child {
            margin-right: 20px

        }
    }

.toolbar-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 51px;
  width: 51px;
  padding-bottom: 2px!important;
  .button-icon {
    font-size: 21px;
    margin-top: 2px
  }
  .button-text {
    font-size: 10px
  }
}

.resource-viewer-right {
    overflow: auto;

    #notes {
        background-color: #f7f7f7;
    }

    #notes-field-markdown-output {
        padding: 10px;
        overflow: auto;
    }
}


.tag-button {
    padding: 5px 10px !important;
    color: #46799b;
    //background: #e0eaf1;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px 0 0 2px !important;
    text-align: left;
    border: 0px !important;
    font-size: 13px !important;

    .tag-icon-tag.fal, .tag-icon-folder.fal {
        display: inline-block !important;
    }
    .tag-icon-tag.fas, .tag-icon-folder.fas {
        display: none !important;
    }
}

.tag-button.expanded {
    .fa-caret-down {
        display: inline-block !important;
    }
    .fa-caret-right {
        display: none !important;
    }
}

.tag-button.shrunk {
    .fa-caret-down {
        display: none !important;
    }
    .fa-caret-right {
        display: inline-block !important;
    }
}


.tag-button.active, .tag-button:focus{
    font-weight: 900 !important;
    color: $selector-background-color !important;
    background-color: white !important;
    border-width: 0 !important;
    box-shadow: none !important;
    .tag-icon-tag.fal, .tag-icon-folder.fal {
        display: none !important;
    }
    .tag-icon-tag.fas, .tag-icon-folder.fas {
        display: inline-block !important;
    }

}

.tag-button:hover, .tag-button.draghover {
    font-weight: bolder !important;
    color: gray;
    background-color: white !important;
    border-width: 0 !important;
}

.tag-expander {
    font-size: 20px;
    margin-right: 6px;
}

.tag-icon-folder {
    font-size: 14px;
    margin-right: 6px;
}

.tag-icon-tag {
    font-size: 13px;
    margin-right: 6px;
}

.tag-button-delete:before {
    color: #8ba7ba;
    font-style: normal;
    content: "×";
    font-size: 16px;
    line-height: 18px;
    padding-left: 7px;
    float: right !important;
    display: none
}

.tag-button-delete.delete-visible:before {
        display: block;
}
.tag-button-delete.delete-visible:hover:before{
    color: red;
}

.selector-button:hover, .selector-button.draghover{
    background-color: #cbcbcb !important
}

.notrepo {
    display: flex;
}

.notrepo .selector-button.active td {
    background-color: $selector-background-color!important;
    color: white;
}

.notrepo .selector-button.context-menu-active td {
    background-color: #ada2be!important;
    color: white;
}

.repo .selector-button.active td {
    background-color: $repository-distinctive-color!important;
    color: #212529;
}

.res-name-button {
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.res-name-button:hover {
    color: #5bc0de;
    background-color: white;
}

.res-name-button:active {
    color: #1b6d85;
}

.res-viewer-resizer {
    border-right: .5px solid rgb(238, 238, 238)
}


.tag-button-list, .resource-tag-button-list {
    vertical-align: top;
    overflow-y: auto;
    border-top: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    .btn-default:hover {
        background-color: lightgray;
    }

    .btn-default:focus {
        outline: none;
    }

}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    width: auto;
}

.action-button {
    //border: $resource-action-button-border-style;
    //margin-right: $resource-action-button-margin !important;
    //border-radius: $resource-action-button-border-radius !important
}

.action-popup {
    //border-left: $resource-action-button-border-style;
    //border-top: $resource-action-button-border-style;
    //border-bottom: $resource-action-button-border-style;
    //border-right: $resource-popup-button-separator-style;
    border-bottom-left-radius: $resource-action-button-border-radius !important;
    border-top-left-radius: $resource-action-button-border-radius !important
}

.action-caret {
    //border-right: $resource-action-button-border-style;
    //border-top: $resource-action-button-border-style;
    //border-bottom: $resource-action-button-border-style;
    //border-left: $resource-popup-button-separator-style;
    margin-right: $resource-action-button-margin;
    border-bottom-right-radius: $resource-action-button-border-radius !important;
    border-top-right-radius: $resource-action-button-border-radius !important
}


.indent-row {
    margin-left: 5px;
    margin-bottom: 20px;
}


.resource-module {
    h2 {
        margin-top: 0;
    }
    .btn-toolbar {
        padding: 5px;
    }
    form {
        padding: 5px;
    }
}

//.metadata-field {
//    width: 350px
//}

/* creator */

.ui-resizable-e, .ui-resizable-w {
    width: 25px !important;
}

.ui-resizable-s, .ui-resizable-n{
    height: 25px !important;
}

//.ui-resizable-se {
//        height: 25px !important;
//        width: 25px !important;
//}

#creator-resources {
    .tab-pane {
        padding: 10px;
        border-style: solid;
        border-color: $bootstrap-border-color;
        border-width: 1px;
        margin-right: 10px;
    }

    .form-inline label {
        margin-bottom: 0;
        margin-left: 4px
    }
    .indent-row {
        margin-bottom: 10px
    }
    .resource-module {
        margin: 0;
    }
    input {
        width: 150px;
    }
    #notes {
        background-color: #f7f7f7;
    }
    #notes-field-markdown-output {
        padding: 10px;
        overflow: auto;
    }
    .form-row {
        button {
            align-self: flex-end;
            margin: 7px;
        }
    }
}

/* Tile related */

.tile-panel-heading {
    display: flex;
    justify-content: space-between;

    .tile-name-div {
        overflow-x: hidden;
        line-height: 100%;
    }
    #spin-place {
        margin: 0 7px 0 0;
        display: inline-flex;
    }
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    color: $tile-header-foreground-color !important;
    cursor: move;
    padding: 5px 7px;
    background-color: $tile-header-background-color !important;
    border-bottom: 0
}

.tile-source-changed {
    .tile-panel-heading {
        background-color: $tile-header-sourcechange-color !important;
    }
}

.tile-body .back button {
    width: 100%
}

.form-display-area {
    label {
        font-weight: 700;
        font-size: 15px;
    }
}

.header-but {
    font-size: 18px;
    color: $tile-header-foreground-color !important;
}

/* plot related */
.d3plot { font: 10px Arial;}

.d3plot path {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

.d3plot path.domain {
    fill: none;
    stroke: #a4a4a4;
    shape-rendering: crispEdges;
}

.d3plot line {
    stroke: black;
}

.d3plot .axis path,
    .d3plot .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.d3plot .heatmap-cell-border {
    stroke: #eee;
    stroke-width:0.3px;
}

.d3plot .heatmap-colLabel {
    fill: #aaa;
}

.d3plot .heatmap-rowLabel {
    fill: #aaa;
}

.d3plot-title {
    font-size: 14px;
}

/* tooltips */

$tooltip-background-color: #fde930;
$tooltip-text-color: #66431a;

.tooltip .tooltip-inner {background-color: $tooltip-background-color;
color: $tooltip-text-color}

.tooltip.top .tooltip-arrow { border-top-color:$tooltip-background-color}

.tooltip.bottom .tooltip-arrow { border-bottom-color:$tooltip-background-color}

.tooltip-inner{
    -moz-box-shadow: 0 1px 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 5px 1px rgba(0,0,0,0.4);
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.4);
    zoom: 1;
}


/* Tile table related*/

.tile-table {
    line-height: 23px;
    td {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
        font-size: 14px;

    }
}

.sidebyside-table {
    display: inline-block;
    margin-right: 10px;
    border: none;
}


.row-clickable:hover {
    background-color: #5bc0de !important
}

.row-clickable:active {
    background-color: #1b6d85 !important
}

td.cell-clickable:hover {
    background-color: #5bc0de !important
}

td.cell-clickable:active {
    background-color: #1b6d85 !important
}

.element-clickable:hover {
    background-color: #5bc0de !important
}

.element-clickable:active {
    background-color: #1b6d85 !important
}

/* console */

.bottom-heading-element {
    height: 30px !important;
    line-height: 12px;
}

.bottom-heading-element-button {
        margin-left: 13px !important;
align-items: baseline
}

#console {
    text-align: left;
    font-size: 14px;
    overflow: auto;
    padding: 20px 5px;
}

#console_error_log {
    text-align: left;
    font-size: 14px;
    overflow: auto;
}

#console-panel {
    margin-left: 5px;
    margin-right: 0;
    border: $console-panel-border-style !important;
}

#console-heading {
    display: flex;
    justify-content: space-between;
    font-size: $console-header-font-size;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 15px;
    color: $console-header-foreground-color !important;
    background-color: $console-header-background-color !important;
    font-family: $console-font-family;

    .extra-glyph-text {
        padding-left: 4px
    }
}

#exports-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $console-header-font-size;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 15px;
    color: $console-header-foreground-color !important;
    background-color: $console-header-background-color !important;
    font-family: $console-font-family;

    button {
        margin-right:2px;
    }
}

#exports-info {
    font-size: 14px;
    line-height: 30px;
}

#exports-spin-place {
    margin-left: 7px;
    font-size: 14px;
    line-height: 30px;
}

#console-panel .CodeMirror{
    height: auto !important;
    margin-top: 2px;
}

.console-text {
    padding: 10px;
    display: inline-block;
    background-color: $console-text-background-color !important;
    border: $console-panel-border-style !important;
    width: 100%;
}

.console-code {
    width: 100%;
    padding-right: 20px !important;
}

.execution-counter {
    padding-right: 20px;
    padding-top: 10px;
    color: $selector-background-color;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap
}

.text-panel-output {
    h1 {
        font-size: 2.0rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.125rem
    }

}


.log-panel {
    border: none;
    margin: 1px;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    transition:min-height .5s ease-in-out, max-height .5s ease-in-out;

    .notclose {
        font-size: 15px;
        padding-bottom: 3px
    }

    &.running .card-header .button-div.spinner-div {
        opacity: 100;
    }

    .card-header {
        position: absolute;
        height: 100%;
        width: 30px;
        padding: 4px 4px !important;
        text-align: center;
        border-right: none;
        overflow-y: hidden;
        border-bottom: none;
        background-color: white;
        transition-delay: 0s;

        .button-div {
            opacity: 0;
        }

    }

    .CodeMirror {
        border: $console-panel-border-style !important;
    }

    .CodeMirror-lines {
        background-color: $console-text-background-color !important;
    }

    &:focus-within{
        .card-header {
            border-right: $log-panel-border-style;
            .button-div {
                opacity: 100;
                transition-delay: .25s;
            }
        }

    }

    &.log-panel-visible {
        max-height: 9999px;

        .log-panel-body {
            display: block
        }

        .log-panel-summary {
            display: none
        }

        .log-code-output {
            display: block
        }


        &.fixed-log-panel{
            min-height: 82px;
            .close-log-button, .shrink-log-button {
                display: inline-block;
            }
            .card-header {
                .button-div {
                    opacity: 100;
                    transition-delay: .25s;
                }
            }

        }

        .console-spin-outer {
            display: none;
        }
        :not(:focus-within){
            min-height: 0;
        }
        .convert-markdown-button, .close-log-button, .run-log-button, .clear-code-button, .console-spin-outer, .shrink-log-button, .expand-log-button {
            display: none;
        }

        &.running {
            .clear-code-button {
                display: none;
            }
            .console-spin-outer {
                display: inline-block;
            }
            &:focus-within {
                .clear-code-button {
                    display:none;
                }
            }
        }
        &:focus-within{
            min-height: 110px;
            .convert-markdown-button, .close-log-button, .run-log-button, .clear-code-button, .shrink-log-button {
                display: inline-block;
            }
        }

        &.text-log-item:focus-within{
            min-height: 82px;
        }


        &:not(:focus-within):hover .button-div.shrink-expand-div {
            opacity: 100;
        }
        &:not(:focus-within):hover .shrink-log-button {
            display: inline-block
        }
    }

    &.log-panel-invisible {
        max-height: 40px;

        .card-header {
            border-right: 0;
        }

        .log-panel-body {
            display: none
        }

        .log-panel-summary {
            display: block
        }

        .console-spin-outer {
            display:none
        }

        .log-code-output {
            display: none
        }

        .shrink-log-button {
            display: none
        }

        &.fixed-log-panel:hover .expand-log-buton{
            display: inline-block
        }

        &:hover .button-div.shrink-expand-div {
            opacity: 100;
        }
        &:hover .expand-log-button {
            display: inline-block
        }
        .convert-markdown-button, .close-log-button, .run-log-button, .clear-code-button {
            display: none
        }
    }
}


html,body {
    height:100%;
}

.log-panel-body {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: $log-panel-font-color !important;
}

.log-panel-summary {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $log-panel-font-color !important;
}

.log-code-output {
    padding-left: 85px;
    padding-right: 45px;
    //padding-top: 10px;
    padding-bottom: 10px;
}

/*main window*/

.grid-left {
    display: inline-block;
    width: 500px;
    vertical-align:top
}

.grid-right {
    display: inline-block;
    width: 300px;
    vertical-align:top
}

.outer-container {
    padding: 25px;
    margin: 0px 5px;
}

#tile-div {
    padding: 5px;
}

#tile-area {
    margin: 0;
    border: 0;
    overflow: auto;
}

#status-div {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    background-color: white;
    .status-msg {
        font-size: 16px;
        color: purple;
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* tile */

.tile-panel {
    display: block;
    overflow: hidden;
    height: 265px;
    margin: 7px;
    border: $tile-panel-border-style !important;
    background-color: $tile-panel-background-color !important;
    color: $tile-panel-foreground-color !important;
}

.tile-panel.tile-source-changed {
    border: $tile-panel-sourcechange-border-style !important;
}

.tile-panel-float {
    float: left;
}


#spin-place {
    position: relative;
}

.tile-display-area {
    overflow: auto;
    padding: 0;
    margin: 15px 15px 15px 15px;
}

.back {
    padding: 20px;
    margin: 0;
    overflow: auto;
}

.front {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.tile-log {
    padding: 20px;
    margin: 0;
    overflow: auto
}


.tile-body {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.tile-body img {
    cursor: pointer
}

.output-plot {
    max-width: 100%;
    max-height: 100%
}

/* Other*/

.status-msg {
    font-size: 16px;
    color: purple;
    margin-right: 20px;
margin-left: 20px
}

.highlight {
    background: $search-highlight-color;
}

button.notclose {
    -webkit-appearance: none;
    padding: 1px;
    cursor: pointer;
    background: transparent;
    opacity: $button-notclose-opacity;
    border: 0;
    display: inline-flex;
}

button.notclose:hover {
    opacity: $button-notclose-hover-opacity !important;
}


.monospace {
    font-family: monospace
}

.hide-important {
    display: none !important
}

