@import "blueprint_variables.scss";
@import "~@blueprintjs/table/dist/table.css";

#doc-selector {
    z-index: 500;
}

#project-label {
    font-weight: bold;
    padding-left:5px
}

#project-name {
    font-weight: normal;
}

#table-spin-place {
    margin: 7px
}

#main-root {
    .res-viewer-resizer {
        .ui-resizable-e {
            z-index: 0 !important
        }
    }
}

// Table body

#table-wrapper {
    overflow-x: auto;
    margin: 0;
    padding: 0;
}


#table-area {
    display: block;

    border-left: none;
    border-top: none;

    #freebody {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: pre-wrap;
    }

    .hidden-row {
        display: none !important;
    }
}

.ui-resizable-e, .ui-resizable-w {
        width: 10px !important;
}

.ui-resizable-s, .ui-resizable-n{
        height: 20px !important;
}

#table-icon {
    -webkit-appearance: none;
    display:none;
    margin: 5px;
    opacity: .5;
    cursor: pointer;
    border-color: #ddd;

    .glyphicon {
        font-size:15px
    }
}

