@import "blueprint_variables.scss";
@import "bootstrap_reduced.scss";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import 'markdown-it-latex/dist/index.css';
@import "themeable.scss";

/* main navbar */

$search-highlight-color: $gold5;
$sortable-table-header-background: #eee;
$sortable-table-header-text-color: #666666;

.cm-completionIcon-suggestion {
    &:after {
        content: "g"
    }
}

html,body {
    height:100%;
}

.focus-red:focus {
    border: 1px solid red;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.bp5-drawer {
    margin-right: 40px;
    margin-top: 80px
}

.CodeMirror, .cm-editor, .cm-scroller {
    font-size: 14px;
    font-family: Courier, Courier New !important;
    box-shadow: none !important;
}

.cm-mergeView {
    overflow: auto;
    height: 100%;
}

.CodeMirror-hints {
    background: $light-gray2 !important;
    max-width: 500px;
    overflow-x: hidden;
}

.CodeMirror-hint {
    white-space: pre-wrap !important;
    text-indent: -20px;
    padding-left: 20px !important;

    &.CodeMirror-hint-active {
        background: $gray2;
    }

    &.CodeMirror-hint-active .option-hint{
        background: $green2;
        color: white;
    }

    .option-hint {
        //font-style: italic;
    }
    .api-option-icon {
        font-size: 10px !important;
        text-indent: 0px !important;
    }

    &.CodeMirror-hint-active .api-hint-name {
        color: white;
        background: $dark-gray5;
        font-weight: 900;
    }

    &.CodeMirror-hint-active.library-hint {
        color: white;
        background: $dark-gray5;
        font-weight: 900;
    }

    &.CodeMirror-hint-active .api-hint-args {
        color: white;
        background: $dark-gray5;
        font-weight: normal;
    }

    .api-hint-name {
        color: $dark-gray5;
        font-weight: 900;
    }

    &.library-hint {
        color: $dark-gray5;
        font-weight: 900;
    }

    .api-hint-args {
        color: $dark-gray5;
        font-weight: normal;
    }
}

table {
    caption {
        caption-side: top;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.code-container {
    padding-bottom: 0;
    overflow: hidden
}

#main-root, .main-root {
    height: 100%
}


.main-outer {
    height: 100%
}


/* General resources */

.contingent-scroll {
    overflow: hidden;
    &:hover {
        overflow: auto
    }
}

.vertical-button {
  align-items: center;
  transform: rotate(90deg); /* Rotate the entire button */
  transform-origin: right center;
  height: 100px; /* Adjust height as needed */
  width: 50px; /* Adjust width as needed */
  justify-content: center;
  text-align: center;
}

.verticalIconBar {
    position: fixed;
    right: 0;
    top: 80px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .iconBarButton {
    //margin-bottom: 10px;
  }

.floating-button-group {
  position: fixed;
  top: 50%;
  right: 21px;
  transform: rotate(-90deg) translateX(50%) ;
  transform-origin: center right;
  gap: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
}

.floating-button-group .bp5-button {
  border-radius: 0;
}

.floating-button-group.visible {
  opacity: 1;
}

/* navbar */

#menu-area {
    .dropdown-toggle {
        padding-right: 6px;
        padding-left: 6px;
        color: black;
        border: none;
        background-color: transparent;
    }
}

.toolbar-button-group {
    margin-left: 5px;
    .bp5-button.bp5-large.bp-toolbar-button {
        padding: 5px 12px
    }
}

.bp-toolbar-button {
    .bp5-icon {
        margin-right: 0;
        margin-bottom: 4px;
        margin-top: 2px
    }
    &:focus {
        outline: none
    }
    //background-color: white !important
}

.bp5-button:focus {
    outline: none
}


.container-fluid {
    padding-left: 0;
    padding-right:0
}

.notes-field-markdown-output {
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2);
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2);
    overflow-y: auto;
}

.markdown-heading-sizes {
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    h4 {
        font-size: 16px
    }
    h5 {
        font-size: 14px
    }
}

 .chat-response {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

#listarea-container {
    height: 100%
}

.res-viewer-resizer {
    display: inline-block;
    vertical-align: top
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    width: auto;
}

.cm-editor {
    //border: 1px solid #eee;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.combined-metadata {
    .bp5-form-content {
        width: 100%;
    }
    .bp5-form-group.bp5-inline {
        max-width: 450px
    }

    .metadata-field {
        line-height: 30px;
        opacity: .75
    }
    .metadata-form_group {
        margin-bottom: 2px
    }
}


/* Other*/

.highlight {
    background: $search-highlight-color;
}


.monospace {
    font-family: monospace
}

.html-table {
    margin-bottom: 10px;
    &.html-table-bordered {
        border: 1px solid rgba(16, 22, 26, .15);
    }
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resize-border {
    content: '';
    background-color: transparent;
    width: 10px;
    z-index: 1;
    &:hover {
        background-color: $gray3;
        opacity: 50%;
    }
}
.horizontal-resize-border {
    content: '';
    background-color: transparent;
    width: 100%;
    height: 10px;
    z-index: 1;
    &:hover {
        background-color: $gray3;
        opacity: 50%;
    }
}

// This below is necessary to intercept a problem
// with pyLDAvis where it would make buttons disappear
.bp5-icon path {
    //noinspection CssInvalidPropertyValue
    fill: inherit
}

.account-settings {
    padding-left: 50px;
    padding-top: 50px;
    display: flex !important;
    flex-direction: row !important;
    height: 100%
}

.account-pane {
    height: fit-content;
    border-radius: 6px;
    padding: 20px;
    margin: 10px
}

.drop-zone {
  //width: 300px;
  //height: 200px;
  //border: 2px dashed #ccc;
  //text-align: center;
  //padding: 20px;
  //margin: 20px auto;
  //transition: border 0.3s ease-in-out;
}

.drop-zone.drag-over {
  // border: 1px dashed $gray1;
    background-color: $dark-gray5
}





