
.user-button-group {
    height: 200px;
    overflow: scroll;
}

#console {
    overflow: scroll;
    text-align: left;
    font-size: 12px;
}


#console-heading {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: auto
}

.highlight {
    background: yellow;
}

.radio-stack {
    width: 50px;
}

.resource-module {
    border: .25px solid rgb(240, 173, 78);
    padding: 20px;
    margin: 10px
}

.resource-module h2 {
    margin-top:0px;
}

.grid-left {
    display: inline-block;
    width: 500px;
    vertical-align:top
}

.grid-right {
    display: inline-block;
    width: 300px;
    vertical-align:top
}

.outer-container {
    padding: 25px;
}

button.notclose {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
    opacity: .5;
  border: 0;
}

button.notclose:hover {
    opacity: .8;
}


.tile-body img {
    cursor: pointer
}



.stacked-button {
    margin-bottom: 10px;
    display: block;
    width: 150px;
}

.file-selector {
    margin-bottom: 10px;
    display: block;
}

.monospace {
    font-family: monospace
}

.tile-panel {
    height: 265px;
    margin: 7px;
    border: 2px solid #BCE8F1;
    background-color: white;
}

.tile-panel-float {
    float: left;
}

.tile-panel-heading {
    cursor: move;
    padding: 5px 7px;
}

#tile-div {
    padding: 5px;
}

.output-plot {
    max-width: 100%;
    max-height: 100%
}

#tile-area {
    margin: 0px;
    border: 0px;
    overflow: scroll;
}

#spin-place {
    position: relative;
}

#tile-display-area {
    overflow: scroll;
    padding: 0;
    margin: 15px 15px 15px 15px;
}

.back {
    padding: 20px;
    margin: 0px;
    overflow: scroll
}

.front {
    padding: 0px;
    margin: 0px;
}

.tile-body {
    padding: 0px;
}

/*.tile-panel, .front,““‘ .back{*/
    /*border: 1px solid #BCE8F1;*/
/*}*/


