@import "blueprint_variables.scss";


// Panel header stuff for main table
#main-panel {
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    .main-heading{

        .button-in-select .bp3-button-text {
            max-width: 100%
        }
    }
}

/*main window*/

#tile-div {
    overflow: hidden;
    &:hover {
        overflow: auto
    }
}

/* Tile related */

.tile-panel-heading {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 34px;
    border-bottom: 1px solid #10161a26;

    .tile-name-div {
        overflow: hidden;
        line-height: 100%;
        cursor: move;
        align-self: center;
        //color: #5c7080; //
    }

    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 3px 4px 3px;
}

.tile-body .back button {
    width: 100%
}

.form-display-area {
    label {
        font-weight: 700;
        font-size: 15px;
    }
}

.tile-form-menu-item {
    &.bp3-menu-item {
        font-size: 13px;
        line-height: 15px;
    }
    &.bp3-menu-header {
        h6.bp3-heading {
            font-size: 13px
        }
    }
}

.button-in-select svg {
    width: 14px;
    height: 14px
}


.tile-panel {
    display: block;
    overflow: hidden;
    height: 265px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 0 !important;


    .ui-resizable-handle {
        z-index: 10 !important
    }
}

.tile-panel-float {
    float: left;
}

.tile-display-area {
    overflow: hidden;
    padding: 0;
    margin: 15px 15px 15px 15px;

    &:hover {
        overflow: auto
    }
}

.back {
    padding: 20px;
    margin: 0;
    overflow: auto;
    position: absolute;
}

.front {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.tile-log {
    padding: 20px;
    margin: 0;
    overflow: auto
}

.tile-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.tile-body img {
    cursor: pointer
}

.output-plot {
    max-width: 100%;
    max-height: 100%
}


/* plot related */
.d3plot { font: 10px Arial;}

.d3plot path {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

.d3plot path.domain {
    fill: none;
    stroke: #a4a4a4;
    shape-rendering: crispEdges;
}

.d3plot line {
    stroke: black;
}

.d3plot .axis path,
.d3plot .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.d3plot .heatmap-cell-border {
    stroke: #eee;
    stroke-width:0.3px;
}

.d3plot .heatmap-colLabel {
    fill: #aaa;
}

.d3plot .heatmap-rowLabel {
    fill: #aaa;
}

.d3plot-title {
    font-size: 14px;
}

/* Tile table related*/

.tile-table {
    line-height: 23px;
    td {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
        font-size: 13px;
    }
}

.sidebyside-table {
    display: inline-block;
    margin-right: 10px;
    border: none;
}

.fw-table {
    width: 100%
}

.row-clickable:hover {
    background-color: #5bc0de !important
}

.row-clickable:active {
    background-color: #1b6d85 !important
}

td.cell-clickable:hover {
    background-color: #5bc0de !important
}

td.cell-clickable:active {
    background-color: #1b6d85 !important
}

.element-clickable:hover {
    background-color: #5bc0de !important
}

.element-clickable:active {
    background-color: #1b6d85 !important
}