
@import "blueprint_variables.scss";

$table-border-color: #ddd;
$table-border-thickness: 1px;
$table-border-style: $table-border-thickness solid $table-border-color;
$dark-table-border-style: $table-border-thickness none;

$log-panel-font-color: #616161;
$log-panel-font-color-dark: white;

.light-theme {
    &.resource-viewer-holder, &.merge-viewer-outer &.login-body {
      background-color: white
    }

    .cm-matchhighlight {
        background-color: lightgreen;
    }

    .cm-searchhighlight {
        background-color: $light-gray2;
    }

    .cm-focussearchhighlight {
        background-color: $orange5;
    }

    &.account-settings {
      background-color: white
    }

    &.pane-holder, &.library-pane-holder {
      background-color: white
    }

    .combined-metadata, div.filepicker {
      background-color: $light-gray5

    }

    .notes-field-markdown-output {
        background: rgba(255, 255, 255, 0.7);
        color: $gray1;
    }

    .tactic-tag-button-list {
        .bp3-tree-node-selected {
            .bp3-tree-node-content {
                background-color: white;
                color: $blue3;
                font-weight: 900
            }

            .bp3-icon {
                background-color: white;
                color: $blue3 !important;
                font-weight: 900
            }
        }
    }

    #creator-root, creator-root {
        .light-theme {
          .CodeMirror-gutters {
              background-color: $light-gray5;
          }
        }
    }

    &.main-outer {
      background-color: $light-gray1
    }

    #main-panel {
        .main-heading{
            color: $gray1;
            background-color: #f6f8fa;
            border-bottom: 1px solid #10161a26;
        }
    }

    #table-area {
        border-right: $table-border-style;
        mark {
            background-color: #cebde6
        }
    }

    .tile-panel-heading {
        color: $gray1;
        background-color: #f6f8fa;
        border-bottom: 1px solid #10161a26;
        &.tile-source-changed {
            background-color: $lime5 !important
        }
    }
    .tile-panel {
        background-color: white !important;
        //&.tile-source-changed {
        //    background-color: #f7d66b80;
        //    border: 2px solid #f7d66b80 !important;
        //}
    }

    #console, #exports-panel {
        background-color: white;
    }

    .console-text {
        background-color: $light-gray5 !important;
        border: 1px solid #c7c7c7 !important;
    }

    #console-heading, #exports-heading, #exports-footing {
        background-color: $light-gray4 !important;
    }

    #exports-body {
        background-color: white;
    }

    #selected-export {
        color: $gray1;
    }

    .export-header-text {
        color: #6c757d;
    }

    .log-panel-body {
        color: $log-panel-font-color !important;
    }

    .log-panel {

        .CodeMirror {
            border: 1px solid #c7c7c7 !important;
        }

        .CodeMirror-lines {
            background-color: $light-gray5 !important;
        }

        .CodeMirror-gutters {
            background-color: $light-gray5;
        }
    }

    .CodeMirror {
        border: 1.5px solid #80808063;
        border-radius: 3px;
    }
    caption {
      color: #6c757d;
    }

    .account-pane {
        background-color: $light-gray4;
    }

}


.bp3-dark {
    &.resource-viewer-holder, &.merge-viewer-outer, &.login-body {
      background-color: $dark-gray4
    }

    .cm-matchhighlight {
        background-color: lightgreen;
        color: black !important
    }

    .cm-searchhighlight {
        background-color: #6aaed8;
        color: black !important
    }

    .cm-focussearchhighlight {
        background-color: yellow;
        color: black !important;
    }

    &.account-settings {
        background-color: $dark-gray4
    }

    &.pane-holder{
      background-color: #475562
    }

    &.library-pane-holder {
      background-color: $dark-gray4
    }

    .combined-metadata, div.filepicker, #options-pane, #exports-pane {
      background-color: $dark-gray5;
    }

    div.filepicker {
      background-color: $dark-gray5

    }

    .notes-field-markdown-output {
        background-color: $dark-gray4;
        color: $light-gray5
    }

    .tactic-tag-button-list {
        .bp3-tree-node-selected {
            .bp3-tree-node-content {
                background-color: $dark-gray4;
                color: $blue5;
                font-weight: 900
            }

            .bp3-icon {
                background-color: $dark-gray4;
                color: $blue5 !important;
                font-weight: 900
            }
        }
    }

    .log-panel-body {
        color: $log-panel-font-color-dark !important;
    }

    &.main-outer {
      background-color: $gray1
    }

    #main-panel {
        .main-heading{
            background-color: $dark-gray3;
            border-bottom: 1px solid #10161a26;
        }
    }

    #table-area {
        border-right: $dark-table-border-style;
        mark {
            background-color: #cebde6
        }
    }

    .tile-panel-heading {
        background-color: $dark-gray3;
        border-bottom: 1px solid #10161a26;
        &.tile-source-changed {
            background-color: $lime1 !important
        }
    }

    .tile-panel {
        background-color: $dark-gray4 !important;
        //&.tile-source-changed {
        //    background-color: #f7d66b80;
        //    border: 2px solid #f7d66b80 !important;
        //}
    }

    #console, #exports {
        background-color: $dark-gray4;
    }

    #console-heading, #exports-heading, #exports-footing {
       background-color: $dark-gray5 !important;
    }

    .export-header-text {
        color: $gray5;
    }

    .console-text {
        border: 1px solid #c7c7c7 !important;
    }

    .text-panel-output {
        background-color: $dark-gray5;
        color: $light-gray5
    }
    caption {
      color: $light-gray1;
    }
    .account-pane {
        background-color: $dark-gray5;
    }
    .CodeMirror-merge-gap {
        background: $gray1;
    }
    .CodeMirror-merge-r-chunk {
        background: $dark-gray4;
    }
    .CodeMirror-merge-r-connect {
        fill: $dark-gray4;
    }
}


.status-holder {
    &.light-theme {
        background-color: transparent;
      }

    &.bp3-dark {
        background-color: transparent;
        &.light-dark{
            background-color: $gray1;
        }
      }
}

#main-root {
    .status-holder.light-theme {
        background-color: $light-gray1;
    }
}