@import "blueprint_variables.scss";

#creator-root, .creator-root {
  //margin-right: 25px;
  vertical-align: top;

  .code-holder {
    height: 100%;

  }

  .bp5-tab:focus {
    outline: none
  }

  .bp5-large > .bp5-tab {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 0
  }

  //#rccode {
  //  span {
  //    margin-top: 2px
  //  }
  //}
}

  #creator-root, .creator-root {
    .bp5-large > .bp5-tab {
      margin-top: 0px
    }
  }

#creator-resources {
  height: 100%;

  .tab-pane {
    padding: 10px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
    margin-right: 10px;
    height: 100%
  }

  .bp5-tab-panel {
    margin-top: 10px
  }

  .bp5-tab-list {
    margin-left: 25px
  }

  .tab-content {
      height: 100%;
      padding-bottom: 25px
  }

  .nav-tabs {
      border-bottom: none;
  }

  .form-inline label {
      margin-bottom: 0;
      margin-left: 4px
  }

  .indent-row {
      margin-bottom: 10px
  }

  .resource-module {
      margin: 0;
  }

  input {
      width: 150px;
  }

  .form-row {
      button {
          align-self: flex-end;
          margin: 7px;
      }
  }

  #commands-pane {
    blockquote, dd {
      margin-inline-start: 0
    }
    .notes-field-markdown-output {
      padding: 15px 25px 5px 15px;
      border-top-left-radius: 0
    }
    button {
      margin-top: 10px;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-width: 700px;
    }

    .docutils.literal, cite {
      color: #e83e8c;
	  word-break: break-word;
      font-family: monospace;
      font-style: normal
    }
    h4 {
      color: $blue3;
    }
    h5 {
      color: $orange3
    }
    h6 {
      color: $forest2
    }
  }
}

.bp5-dark {
  #commands-pane {
    .command-name {
      font-weight: bold;
      color: $gray3
    }
  }
}

.light-theme {
  #commands-pane {
    .command-name {
      font-weight: 900;
      color: $dark-gray5
    }
  }
}