{% extends "base_reactns.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div id="context-root" class="container-fluid">

    </div>
    <canvas id="measure-canvas" style="display:none"></canvas>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
    <script>
        window.user_id = "{{current_user.get_id()}}";
        window.database_type = "{{database_type}}";
        window.theme="{{theme}}";
        window.in_context = true;
        window.version_string="{{version_string}}";
        window.has_pool = "{{has_pool}}" == "True";
    </script>
    <script type="module" src="{{url_for('static', filename=module_source, v=version_string)}}"></script>

{% endblock %}