{% extends "base_reactns.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div id="main-root" style="height: 100%">

    </div>
    <canvas id="measure-canvas" style="display:none"></canvas>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
    <script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
    <script type="module" src="{{url_for('static', filename=module_source, v=version_string)}}"></script>
    <script>
        window.user_id = "{{current_user.get_id()}}";
        window.theme="{{theme}}";
        window.version_string = "{{tstring}}";
        window.collection_name = "{{collection_name}}";
        window.project_name = "{{project_name}}";
        window.is_new_notebook ="{{is_new_notebook}}"=="True";
        window.temp_data_id= "{{temp_data_id}}"
    </script>
{% endblock %}