
#main-panel {
    margin: 25px;
}

#table-wrapper {
    overflow-x: scroll;
    margin: 0px;
    padding: 0px;
}

#table-area {
    display: block;
    /*width: 1000px;*/
    /*table-layout: fixed;*/
}

table, th, td {
    /*border: 1px solid black;*/
}

th:hover {

}

thead {
    background: #ddd;
    display: block;
}


tbody {
    display: block;
    overflow-y: scroll;
}

tr {
    display: block;
    height: auto;
}
td {
    /*display: inline-block;*/
    max-width: 700px;
    padding: 5px 10px;

}
td, th {
    vertical-align: top;
    color: #000;
}

th {
    /*display: inline-block;*/
    padding: 5px 10px;
}

/*th:hover:after{*/
    /*content: ">"*/
/*}*/

.header-glyphicon {
    font-size: 10px;
    color: #700;
    cursor: pointer;
  }

.table-remove {
  color: #700;
  cursor: pointer;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

}
